/* -------- */
/* ABOUT US */
/* -------- */
  .aboutus {
    padding: 30px;
    border: 1px solid black;
    background-color: #f4f3f4;
  }

/* -------- */
/* OUR TEAM */
/* -------- */
  .team{border-bottom: 1px solid black;}
    
    .card{
      width: 33%;
      display: inline-block;
    }

      .team img{width: 280px;}

      .card_cont h3{
        text-align: center;
        padding: 25px 0 5px 0;
      }
      
      .card_cont p{
        padding: 0 10px 30px 10px;
        text-align: center;
      }
