/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0y;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 4%;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* header */

header nav {
  width: 80%;
  vertical-align: top;
  margin-top: 4%;
}

header{
	display:flex;
}
header nav a {
  margin-right: 9%;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 3%;
}

/* cta */

.cta .cta-text {
  vertical-align: top;
  font-size: 77px;
  margin-top: 14%;
  text-align: center;
  padding: 0px 8%;
}
.cta{
	display:flex;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 1% 7%;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  margin-top: 10%;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 12%;
  padding-top: 8%;
}


.main-content .top-content {
	display: flex;
  padding: 0 10px;
}

.main-content .top-content .text-content {
  width: 410px;
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 5.625%;
  margin-bottom: 4%;
}

.main-content .bottom-content {
	display: flex;
  margin-top: 4.625;
  padding: 0 1.25%;
}

.main-content .bottom-content .text-content {
  width: 34.375%;
  margin-right: 1.5%;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 7.125%;
  border-top: 1px solid black;
  padding: 4.87% 8% 0;
}

.contact p {
  margin: 2.5% 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 1.75%;
}

.services-header-img{
	margin-top: 8%;
}
.services{
margin-top: 5%
}

.services h2{
	font-size: 30px;
}
.services p {
display:flex;
}

.border1{
margin-top:50px;
margin-bottom:50px	
}

* Responsive */
.container {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 20px 1.25%;
}

@media(max-width: 800px){

    .container {
        display: flex;
        flex-direction: column;
        width: 95%;
        Padding: 5%;
    }
    header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
      
    }
    header .logo{
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 35%;
        padding-right:35%;
        margin-right: 0%;
        
      }
    .container header nav {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .cta{
          display: flex;
          justify-content: center;
      }
    .cta img{
        display: none;
    }
    .main-content .middle-img{
        width: 100%;
    }
footer{
    font-size: 100%;
}

}

@media(max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 95%;
    Padding: 5%;
    

  }

  .container header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .container header nav a {
      
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-left: 39%;
    margin-right: 0%;
  }
  header{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    
  }
  header .logo{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-left: 25%;
    padding-right:25%;
    margin-right: 0%;
    
  }
  .logo{
      display: flex;
      justify-content: center;
  }
  .main-content .top-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 5%;
  }
  .main-content .top-content .text-content{
      width: 95%;  
      padding: 10% 0% 10% 0%;
  }

  .middle-img{
      width: 100%;
  }
  .cta img{
      display: none;
  }
  .cta .cta-text {
    vertical-align: top;
    font-size: 350%;
    margin-top: 14%;
    text-align: center;
    padding: 0px 8%;
  }
  .main-content .bottom-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      
  }
  .main-content .bottom-content .text-content{
    width: 95%;
    padding: 10% 0% 10% 0%;
}
h4{
    margin-top: 4%;
}
.contact{
    margin-top: 7.125%;
    padding: 4.87% 0% 0%;
}
}