/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.fullcontainer {
	width: 880px;
	margin:auto;
}

.topnav {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav {
	display:flex;
	justify-content:space-around;
	width:660px;
}	

.nav a {
	color:gray;
	opacity:0.5;
	text-decoration:none;
}

.container-head {
	margin:30px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.container-head .Attention {
	text-align: center;
	margin-left: 80px;
	width: 90px;
}

.container-head h1 {
	font-size:50px;
	width:200px;
	text-align:center;
}

.container-head .startbutton {
	font-size: 15px;
	width:200px;
	border-width: 2px;
	margin-top: 10px;
	text-align:center;
}

.container-head .startbutton .buttonborder {
	margin: auto;
	border: 2px gray solid;
	width: 140px;
}
.container-head .startbutton a {
	color:black;
	text-decoration:none;
	border-width:2px;
	text-align:center;
	width:150px;
}

.container-mid {
	display: flex;
	justify-content: space-between;
	margin-top:10px;
	margin-bottom:10px;
}

.container-mid .features {
	width:440px;
}

.container-mid .about {
	width: 440px;
}

.container-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container-bottom .services {
	width:282px;
}

.container-bottom .product {
	width:282px;
}

.container-bottom .vision {
	width:282px;
}

.container-footer {
	margin-top: 15px;
}

.footer {
	text-align:center;
	margin:auto;
	font-size:15px;	
	margin-top: 55px;
}

.reachout .num {
	margin-top: 20px;
}
.reachout .email {
	margin-top:10px;
}
hr {
	color:black;
	background-color: black;
	height: 3px;
	margin: 12px;
}

.middle-img {
	margin-top: 30px;
	margin-bottom: 15px;
}

/*JTS */
@media (max-width:500px) {
	.fullcontainer {
		width: 500px;
	}

	.snippet {
		display:none;
	}
	
	.topnav {
		flex-direction:column-reverse;
	}
	.nav {
		flex-direction:column;
		justify-content:center;
	}

	.container-mid {
		flex-direction:column;
	}
}

@media (max-width:800px) {
	.fullcontainer {
		width: 800px;
	}
}