/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}*/

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
#innovate{
	font-size: 75px;
	line-height: 10px;
}

ul {
list-style: none;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

ul li a {
list-style: none;
text-decoration: none
}


.btn{
	border-radius: 4px;
	border: 1px black solid; 
	padding-right:20px ;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	

}

.item{
	color:gray ;
	font-size: 15px;
}
.button {
  background-color: white;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.top{
	display: inline-block;
	width:49% 
}
/**/

address p {
	line-height: 1px
}


body {
	line-height: 1;
}
/*align-content: left ;*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html, body {
    height: 100%;
    margin: 20px;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
#top-section{
display: flex ;
flex-direction: row ;
}
#bottom-section{
display: flex ;
flex-direction: 
}
/* Your code starts here! 



/***********************************************/

/*MOBILE VIEW */
@media(max-width: 500px){


ul {
display: flex;
flex-direction: column;
align-items: center;
}

ul li {
list-style: none;
border-top: solid;
border-width: 1px;
width:90%;
padding: 10px;
text-align: center
}
 .item{
font-size: 2em;
}

.top{
display: flex;
flex-direction: column;
}
.top img{
display: none;
}
#top-section{
display: flex ;
flex-direction: column; ;
}
#bottom-section{
display: flex ;
flex-direction: column; ;
}
}



/**************************************/
/*
*/


/*TABLET VIEW */

/*#top-section{
display: flex ;
flex-direction: row ;
}
#bottom-section{
display: flex ;
flex-direction: row ;
}


ul {
list-style: none;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
ul li a{
text-decoration: none;
}


#innovate{
font-size: 75px;
line-height: 10px;
}
.feet{
display: inline-block;
vertical-align: top;
width: 49%;
}
.feet p{
padding-right: 10%;
}
.btn{
border-radius: 4px;
border: 1px black solid;
padding-right:20px ;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
}
.item{
color:gray ;
font-size: 15px;
}
.button {
background-color: white;
border: solid;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.top{
display: inline-block;
width:49%
}

address p {
line-height: 1px
}

body {
line-height: 1;
}


blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
* {
box-sizing: border-box;
}
html, body {
height: 100%;
margin: 20px;
font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
font-family: 'Bangers', cursive;
letter-spacing: 1px;
margin-bottom: 15px;
}*/
