/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* MAIN BODY/MISC */

.container {
	width: 50%;
	margin: auto;
}

h1 {
	font-size: 80px;
	line-height: normal;
	text-align: center;
}

h2 {
	font-size: 16px;
}

hr#tophr {
	border-top: 1px solid black;
	margin-top: 75px;
	margin-bottom: 30px;
	width: 98%;
}

hr#bottomhr {
	margin-top:0px;
	margin-bottom: 30px;
	border-top: 1px solid black;
	width: 98%;
}

/* NAVIGATION */

.navigation {
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
}

.nav_head {
	display: flex;
	justify-content: space-around;
}

.nav_head a {
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: darkgray;
	text-decoration: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav_head a:hover {
	background: darkgray;
	color: white;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* HEADER */

.titles {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.header {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#started a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#started a:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* CONTENT */

.info {
	display: flex;
	justify-content: space-between;
}

.feat-about {
	width: 90%;
	margin: 10px;
	margin-bottom: 50px;
}

.serv-prod-vis {
	width: 30%;
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 30px;
}

#mid-page {
	width: 100%;
}

/* COPYRIGHT */

#copyright {
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

/* TABLET */

@media (max-width:800px) {
  .container {
    width: 98%;
  }

  .navigation {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: content;
  }

  .logo-img {
    text-align: center;
    margin-bottom: 30px;
  }

  .header {
    margin-left: 330px;
  }

  .header .header-img {
    display: none;
  }

  #mid-page {
    text-align: center;
  }

  #mid-page img {
    width: 98%;
  }

  .contact {
    margin-left: 10px;
  }
}

/* MOBILE PHONE */

@media (max-width:500px) {
  .navigation {
    width: 98%;
  }

  .nav_head {
    flex-direction: column;
    align-items: center;
  }

  .nav_head a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 98%;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav_head a:first-child {
    border-top: 1px solid black;
  }

  .logo-img {
    margin-bottom: 20px;
  }

  .info {
    flex-direction: column;
  }

  .feat-about {
    margin-bottom: 20px;
  }

  .serv-prod-vis {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
