/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    margin: auto;
	max-width: 1024px;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 10em;
}
		
.container header nav a {
	text-decoration: none;
	color: gray;
}

.logo {
	display: inline-block;
}

h1 {
    font-size: 6rem;
  }

.top-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.innovation {
    font-size: 100%;
    font: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.innovation h1 {
	font-size: 5rem;
}

.button {
	width: 200px;
	height: 40px;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	display: inline-block;
}

.circle-image {
    float: right;
}

.features, .about, .services, .product, .vision {
    display: inline-block;
    box-sizing: border-box;
}

.features-about {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.features {
    width: 48%;
    padding: 10px;
}

.about {
    width: 48%;
    padding: 10px;
	height: 50px;
}

.middle-img {
	width: 100%;
	padding: 40px 0px 40px 0px;
}

.content-bottom {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services {
	width: 33%;
}

.product {
	width: 33%;
}

.services, .product {
    padding-right: 40px;
}

.vision {
	width: 33%;
}

hr {
    display: inline-block;
    width: 900px;
	background-color: black;
}

address {
	display: block;
    padding-top: 40px;
    margin: 20px;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

/* Beginning of max-width media queries CSS ~800px */

@media (max-width: 800px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

.nav-wrap {
    width: 100%;
    height: 5em;
    margin: 50px 0;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    align-content: center;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

    .container header nav a {
        font-size: 14px;
    }

    .circle-image {
        display: none;
    }

    .top-container {
        justify-content: center;
        align-content: center;
    }

    hr {
        width: 200%;
        margin-left: -50%;
    }
    
    .features-about {
        justify-content: center;
    }
    
    .features {
        width: 48%;
        padding: 10px;
    }
    
    .about {
        width: 48%;
        padding: 10px;
    }

    .middle-img {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-bottom {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    .address {
        padding: none;
        display: flex;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }
}

/* Beginning of max-width media queries CSS ~400px */

@media (max-width: 500px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .container header nav a {
        text-align: center;
        border-top: 1px solid black;
        width: 80%;
        padding: 10px;
    }

    .container header nav {
        display: flex;
        flex-flow: wrap-reverse;
        align-content: center;
        justify-content: center;
        width: 80%;
    }

    .nav-wrap {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-content: center;
        height: 10em;
        padding-left: 80px;
    }

    .logo {
        width: 140px;
        padding-bottom: 20px;
    }

    .features-about {
        flex-flow: column wrap;
        width: 95%;
        margin: auto;
        padding-bottom: 40px,
    }

    .features, .about {
        width: 100%;
    }

    .content-bottom {
        flex-flow: column wrap;
        width: 95%;
        margin: auto;
        padding: 0px;
        padding-top: 10px;
    }

    .content-bottom .services,
    .product, .vision {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 30px;
    }
}