/* Use your own code or past solution for Great Idea Web Page CSS here! */
* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h1 {
	text-align: center;
	font-size: 75px;
	padding: 0px 20px;
	margin-bottom: 24px;
}

h2 {
	font-size: 16px;
	text-align: left;
}

p {
	line-height: 1.1;
	font-size: 16px;;
	text-align: left;
}

.container {
	width: 950px;
	margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        width: 90vw;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90vw;
        margin: 0px auto;
        align-content: center;
    }
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 800px) {
    header {
        width: 90vw;
        flex-direction: column-reverse;
    }
}



nav {
	width: 65%;
	margin: 40px;
	display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    nav {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    nav {
        width: 90vw;
        margin: unset;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
}


nav a {
	text-decoration: none;
	color: rgb(173, 172, 173);
	font-size: 14px;
	padding: 0px, 5px;
}

@media (max-width: 500px) {
    nav a {
        width: 70vw;
        border-bottom: 1px solid black;
        padding: 5px;
    }
    nav a:first-of-type{
        border-top: 1px solid black;
    }
}

.logo {
	padding: 20px 40px 20px 20px;;
}



.top-content {
	border-bottom: 1px solid black;
	margin: 30px;
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 500px) {
    .top-content {
        margin: unset;
        width: 85vw;
    }
}


.top-content-text {
	margin: 70px;
    text-align: center;
    position: relative;
    bottom: 60px;
}

.top-content-text a{
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: rgb(173, 172, 173);
	border: 1px solid black;
    padding: 5px 45px;
}

.circle-img {
	height: 400px;
    position: relative;
}

@media (max-width: 800px) {
    .circle-img {
        display: none;
    }
}

.second-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
}

@media (max-width: 500px) {
    .second-content {
        flex-direction: column;
        width: 85vw;
    }
}

.features, .about {
	width: calc(50% - 48px);
}

@media (max-width: 500px) {
    .features, .about {
        width: 85vw;
    }
}

.middle-img {
    width: 90vw;
    margin: 0px auto;
}

.third-content {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	padding: 2px 10px 35px 20px;
}

@media (max-width: 500px) {
    .third-content {
        flex-direction: column;
        width: 85vw;
    }
}

.services, .product, .vision {
	width: calc(33%- 40px);
	margin: 15px;
}

@media (max-width: 500px) {
    .services, .product, .vision {
        width: 85vw;
        margin: unset;
    }
}

.bottom-content {
	margin: 40px ;
}

footer {
	display: flex;
	justify-content: center;
	padding: 20px;
}

footer p{
	font-size: 14px;
}


