/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  width: 880px;
  margin: 0 auto;
}

header nav {
  display: flex;
  flex-direction: row;
	border: 1px solid red;
}
header nav .nav-bar {
	display: flex;
	flex-direction: row;
}

header nav .nav-bar a {
  display: flex;
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}

header nav .nav-bar a:hover {
  text-decoration: underline;
}

header nav .nav-bar a:first-child {
  margin-left: 0;
}

header nav .nav-bar a:last-child {
  margin-right: 0;
}

header nav .nav-bar-logo {
  display: inline-block;
  margin-top: 25px;
}

.top-intro .top-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.top-intro .top-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.top-intro .top-text button:hover {
  background: black;
  color: white;
}

.top-intro img {
  display: inline-block;
  margin-top: 69px;
}

.middle-bar {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.top-content {
  padding: 0 10px;
}

.top-content .text-content {
  width: 410px;
  display: inline-block;
  margin-right: 34px;
}

.top-content .text-content:last-child {
  margin-right: 0;
}

.middle-img {
  margin-top: 45px;
}

.bottom-content {
  margin-top: 37px;
  padding: 0 10px;
}

.bottom-content .text-content {
  width: 275px;
  display: inline-block;
  margin-right: 12px;
}

.bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

.footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

.middle-content {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0px;
	margin-right: 0px;
	justify-content: space-between;
	text-align: left;
}

.text-content-services {
border: 1px solid black;
 display: flex;
 flex-wrap: wrap;
 width: 400px;
 justify-content: space-around;
 margin: 20px;
 padding: 20px;
 background-color: #F4F3F4;
 text-align: left;
}

.Learn-button {
	display: flex;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 10px 10px 30px;
	 margin-right: 230px;
}

/* Media Queries */

@media (max-width: 800px) {
	.container{
	  width: 100%;
	}
	header nav {
	  display: flex;
	  flex-direction: column-reverse;
	  vertical-align: top;
		align-items: center;
		flex-wrap: nowrap;
	}
	header nav .nav-bar {
		display: flex;
		justify-content: space-around;
		padding: 10px;
	}
	header .logo{
	  justify-content: center;
    align-self: center;
	}
	.top-intro {
		display: flex;
		justify-content: center;
	}
	.top-intro img {
		display: none;
	}
	.top-content {
		display: flex;
		justify-content: space-between;
	}
  .top-text {
		align-self: center;
		margin-top: 90px;
	}

  .middle-bar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
  }

	/* .middle-img {
		max-width: 100%
		margin 80%;
		height: auto;
	} */

	.bottom-content {
		display: flex;
	 	justify-content: space-between;
	}
	.contact {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 500px) {
	header nav {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		align-items: center;
		flex-wrap: wrap;
	}
	header nav .logo {
		flex-direction: column-reverse;
		justify-content: center;
	}
	header nav .nav-bar {
		display: flex;
		flex-direction: column;

	}
	header nav .nav-bar a {
		border-bottom: 1px solid grey;
		padding: 20px 30px;
		font-size: 24px;
		font-weight: bold;
	}
	.top-content {
		display: flex;
		flex-direction: column;
	}
	.middle-bar {
		max-width: 50%;
		height: auto;
	}
	.text-content {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.middle-img {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: auto;
	}
  .bottom-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
  }
	.contact {
		display: flex;
		flex-direction: column;
	}
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
