/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* container */
.container {
    width: 880px;
    margin: 0 auto;
}
/* header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px auto;
}
header nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
header .logo {
    align-items: center;
}
/* cta */
.cta {
    display: flex;
    width: 100%;
    margin: 50px auto;
}
.cta .cta-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta .cta-text h1 {
    font-size: 77px;
    text-align: center;
}
.cta .cta-text button {
    background-color: white;
    font-size: 17px;
    border: 1px solid black;
    padding: 8px 44px;
}
/* main content */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
}
.main-content .top-content {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-content .middle-img {
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-content .bottom-content {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-content .bottom-content .text-content{
    padding-left: 5px;
    padding-right: 5px;
}
/* contact */
.contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}
.contact p {
    margin-top: 15px;
    margin-bottom: 15px;
}
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}



@media (max-width: 800px) {
	body {
		width: 800px;
	}

	.container {
		width: 800px;
		margin: 0;
	}

	nav {
		margin: 20px 0 0 0;
	}

	header nav {
		width: 700px;
	}

	.logo {
		margin: 20px 0 10px 0;
	}

	header {
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}

	.cta img {
		display: none;
	}

	.cta {
		flex-direction: row;
		justify-content: center;
		margin: 0;
	}

	.cta-text {
		margin: 0 0 60px 0;
	}

	button {
		margin: 10px 0 0 0;
	}

	.main-content {
		padding: 0;
		width: 760px;
	}

	.middle-img {
		width: 760px;
		margin: 0 auto;
	}

	.text-content {
		margin: 10px;
	}
	
	.contact {
		padding: 10px 0 10px 20px;
	
	}

	.contact p {
		margin: 5px;
	}

  }




  @media (max-width: 500px) {
	body {
		width: 500px;
	}

	nav {
		display: flex;
		flex-direction: column;
		align-content: center;
		
	}
	  
	header nav a {
		width: 500px;
		font-size: 16px;
		padding:  10px 0px 10px 0px;
		text-align: center;
		border-top: 1px solid lightgrey;
	}

	header nav {
		align-content: center;
		justify-content: center;
		text-align: center;
	}

	.container {
		width: 500px;
		margin: 0;
	}

	.logo {
		width: 150px;
	}

	.main-content {
		padding: 0;
		width: 500px;
	}

	.middle-img {
		width: 420px;
		margin: 0 auto;
	}

	.cta {

		border-top: 1px solid lightgrey;
	}

	.cta .cta-text h1 {
		font-size: 69px;
	}

	.main-content .top-content{
		flex-direction: column;
		margin: 0 auto;
		padding: 0;
		width: 450px;
		
	}

	.main-content .bottom-content {
		display: block;
		width: 450px;
		margin: 0 auto;
	}
	
	.bottom-content .text-content {
		width: 450px;
	}

	.contact {
		width: 450px;
		margin: 0 auto;
	
	}

	


}
