/* Use your own code or past solution for Great Idea Web Page CSS here! */
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
  max-width: 876px;
  margin: auto;
  margin-bottom: 50px;
}

.navigation {
    width: 100%;
    height:100px;
    text-align: justify;
    line-height: 100px;
}

nav ul li img{
  text-align: center;
  width: 200px;
  padding-top: 50px;
  padding-left: 90px;
}

.navigation a{
    margin: 20px;
    text-decoration: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation:after{
    display: inline-block;
    width: 100%;
    content: '';
}

h1{
  display: inline-block;
  width: 460px;
  vertical-align: bottom;
  font-size: 75px;
  margin: 50px 0;
}

button{
  width: 110px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  background-color: #FFFFFF;
}

.iod {
    text-align: center;
    font-size: 50px;
    border-bottom: solid;
}

.feat{
  width: 50%;
  float: left;
}

.abt{
  width: 50%;
  float: left;
}

.s-c {
  float: left;
  width: 33.33%;
  border-bottom: solid;
  padding-right: 20px;
}

.phone{
 line-height: 40px;
}

.footer {
  text-align: center;
}



@media (max-width: 800px) {
  #img{
    position: absolute;
    top: 10px;
    margin-left: -390px;
    width: 300px;
  }
  
  nav ul{
    margin-top: 100px;
  }

  button{
    width: 110px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: #FFFFFF;
  }

}

@media (max-width: 500px) {
 
  .navigation ul{
    display: flex;
    flex-direction: column-reverse;
    line-height: 50px;
  }

  button{
    width: 110px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: #FFFFFF;
  }

  #img{
    position: static;
    margin-left: 0px;
    border-bottom: solid;
  }

  nav ul li img{
    text-align: none;
    width: 200px;
    padding-top: 0px;
    padding-left: 0px;
  }

  .iod{
    margin-top: 230px;
  }

  #img-2{
    display: none;
  }

  .navigation li{
    border-bottom: solid;
  }

  .navigation a{
    margin: 0px;
    text-decoration: none;
}

.feat {
  width: 100%;
}

.abt{
  width: 100%;
}

.s-c {
  width: 100%;
  border-bottom: none;
}

.line{
  border-bottom: solid;
  margin-bottom: 10px;
}
}

