/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  max-width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* header */
header {
	display:flex;
	justify-content: space-between;
}

header nav {
  max-width: 660px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

header nav a {
  
  
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  
  margin-top: 25px;
}

/* cta */
.cta {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.cta .cta-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 77px;
  margin-top: 120px;
  
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  width: 180px;
  align-self: center;
  padding: 8px 40px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  
  margin-top: 69px;
}

.main-content {

  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
  display: flex;
}

.main-content .top-content .text-content {
  width: 410px;
  
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
    max-width: 100%;
  margin-top: 45px;
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
  display: flex;
}

.main-content .bottom-content .text-content {
  width: 275px;
  
  margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}
/* Services */
.services {
	/* display: flex; */
	justify-content: row;
}

.services .services-header-img {
	display: block;
	margin: 30px 0;

}

.services h1 {
	font-size: 20px;
	margin: 20px 0;
}

.services .services-info {
	
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

/* Main-Content */

.main-content-serv {
	display:flex;
	flex-wrap: wrap;
	flex-direction : row;
	justify-content: space-between;
	
}

.main-content-serv h1 {
	font-size: 30px;
}

.main-content-serv .box {
	
	width: 420px;
	height:250px;
	border: 1px solid black;
	margin: 40px 0;
	background: rgb(223, 219, 219);
	padding: 10px;
}

.main-content-serv .button {
	display: block;
	background: white;
	width: 180px;
	margin: 30px 0;
	padding: 8px 40px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 5%;
	
}

/* Facts */

.facts {
	border-top: 1px solid black;
	display: flex;
}

.facts p{
	margin: 20px 20px 20px 0;
}

.facts section-box {
	width: 200px;
	height: 200px;
	display: flex;
}
.facts .facts-info-img {
	margin: 20px 0;
}

@media(max-width: 800px) {
    .container .matrix{
        display: none;
    }
    header {
      flex-direction: column;

    }

    header nav {
      order: 2;
    }

    .logo-wrapper {
      text-align: center;

    }

}

@media(max-width: 500px) {
  .container nav{
      flex-direction: column;
      border-top: 1px solid rgba(0,0,0,.6);
  }
  .container nav a{
    display: block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid rgba(0,0,0,.6);
  }
}