/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: solid 1px black; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
p {
  font-family: "Dosis", sans-serif;
}

header {
  border: solid yellow;
  position: relative;
  height: 20vh;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  /* flex-flow: row-reverse wrap; */
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-content: flex-end;
}

header nav {
  border: solid blue;
  width: 700px;
  height: 50%;
  position: relative;
  top: 20px;
  /* margin: 0 auto;
  display: block;
  width: 50%;
  position: relative;
	top: 10px; */
  display: flex;
  justify-content: space-evenly;
  /* align-self: flex-end; */
  align-items: flex-end;
}

header nav a {
  /* border: solid green; */
  height: 50%;
  color: lightgray;
  font-size: 16px;
  text-decoration: none;
  font-family: "Play", sans-serif;
  position: relative;
}

header nav a:hover {
  color: black;
}

.logo {
  border: solid blue;

  position: relative;
  top: 20px;
  left: -13px;
  height: 42px;
  width: 20%;
}
/* ======= FIRST SECTOIN ============ */
.top-section {
  border: 6px yellow solid;
  /* background-color: aqua; */
  /* margin-top: 50px;
	text-align: center; */
  height: 70vh;
}

.top-container {
  max-width: 1140px;
  height: 555px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid blue;
  /* border-bottom: 1px solid gray;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 0 auto; */
}

.top-div {
  /* border: 2px solid green; */
  /* display: inline-block;

  position: relative;
  box-sizing: border-box;
  padding: 20px;
  
	width: 40%; */
  /* border: solid blue; */
  text-align: center;
  width: 50%;
}

.top-div-left {
  border: 2px solid hotpink;
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
}

.top-div-left h1 {
  font-size: 85px;
  position: relative;
  /* left: 75px; */
}

.get-started {
  border: 1px black solid;
  position: relative;
  text-decoration: none;
  padding: 8px;
  display: block;
  width: 193px;
  height: 36px;
  font-size: 20px;
  margin: 0 auto;
  /* left: 63px; */
  top: 3px;
  box-sizing: border-box;
}

.get-started:hover {
  background-color: black;
  color: white;
}

.top-div img {
  height: 420px;
  position: relative;
  top: -30px;
  left: -10px;

  /* border: 2px solid yellow; */
}
.bottom-section {
  border: 5px solid yellow;
  height: 80vh;
}
.bottom-container {
  border: 2px solid blue;

  padding: 50px;
  box-sizing: border-box;
  max-width: 1140px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bottom-top-div {
  /* position: relative;
	
  display: inline-bloc*/
  border-top: 1px solid black;

  display: flex;
}

.bottom-top-div div {
  margin: 30px;
  font-size: 20px;
}

.bottom-bottom-div {
  display: flex;
  border-bottom: 1px solid black;
}

.bottom-bottom-div div {
  margin: 30px;
  width: 30%;
  font-size: 20px;
}

footer {
  border: 2px solid yellow;
}

.footer-div {
  display: block;
  position: relative;
  font-size: 18px;
  width: 48%;
  border: 3px solid blue;
  margin: 20px auto;
}

.footer-div p {
  display: block;
  width: 200px;
}

.copyright {
  position: relative;
  margin: 20px auto;
  width: 500px;
}

/* ======== MEDIA Quiries ========== */

/* ========== SCREEN 800px ============ */
@media screen and (max-width: 800px) {
  body {
    /* background-color: green; */
  }

  .top-div-right {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: red; */
  }

  header nav {
    width: 100%;
    top: 0;
    height: 30%;
  }

  .top-container {
    border: 5px hotpink solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
  }

  .top-div-left h1 {
    left: 0px;

    font-size: 60px;
  }

  .get-started {
    font-size: 16px;
  }

  .bottom-section {
    width: 100%;
    height: 100vh;
  }

  .bottom-container {
    width: 100%;
  }

  .bottom-top-div div p {
    font-size: 16px;
  }

  .footer-div {
    width: 100%;
  }
}

/* ====== MEDIA QUERY 500px ======  */
@media screen and (max-width: 500px) {
  header {
    height: 50vh;
  }

  header nav {
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }

  header nav a {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
  }

  header .logo {
    width: 25%;
    top: -3px;
  }

  .bottom-section {
    border: 5px solid lime;
    height: 150vh;
  }

  .bottom-top-div {
    flex-direction: column;
  }

  .bottom-bottom-div {
    flex-direction: column;
  }

  .bottom-bottom-div div {
    border: 1px hotpink solid;
    width: 100%;
    margin: 20px auto;
  }
  .bottom-section .bottom-container div div h2 {
    font-size: 16px;
  }

  .footer-div {
    width: 75%;
  }
}
