/* Use your own code or past solution for Great Idea Web Page CSS here! */

nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul a{
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: column;
}

.header-bottom {
    display: flex;
}

.header-left {
    width: 49%;
    text-align: center;
    align-self: center;
}

.header-left h1 {
    font-size: 3.5rem;
}

.contact-foot {
    text-align: center;
}

.top-content {
    display: flex;
}

.middle-content {
    display: flex;
}
body {
    margin: 0 auto;
}