html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

body {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container header{
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;

}

.container header nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header nav a {
  color: gray;
  text-decoration: none;
}

.container header nav a:hover {
  color: blue;
}

.container header img {
  width: auto;
  margin-right: 0px;
}

.container .cta {
  width: 100%;
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.cta .cta-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}

.cta .code-snippet {
  width: 48%;
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
}

.cta .cta-text h1 {
  font-size: 72px;
}

.cta .cta-text button {
  height: 40px;
  width: 25%;
}

.cta .cta-text button:hover {
  color: white;
  background: black;
}

.container .main-content .top-content {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin: 30px auto;
}
.container .main-content .top-content .text-content {
  display : flex;
  flex-direction: column;
  width: 45%;
  line-height: 1.5;

}

.middle-img {
  width: 100%;
}

.container .main-content .bottom-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid black;

}

.container .main-content .bottom-content .text-content {
  display:flex;
  flex-direction: column;
  width: 30%;
  line-height: 1.5;
}

.container .contact {
  display:flex;
  flex-direction: column;
}

.container .contact p {
  line-height: 1.5;
}

footer p {
  text-align: center;
  margin: 60px 30px 0px 0px;
}