/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

 body{
	/* width:876px; 
	margin:0 auto;  */
	
} 

.master{
	display:flex;
	width: 100%;
	justify-content: center;
}

.container{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 876px;
}

header{
	display: flex;
	justify-content: space-between;
	width:880px;
	height: 200px;
	margin-bottom: 15px;
	align-items: center;
	padding-top: 50px;
}

nav{
	display: flex;
	width: 700px;
	align-content: center;
	justify-content: flex-start;
	align-content: baseline;
}

a{
	text-decoration: none;
	color:black;
	font-weight: 600;
}

nav a{
	margin-right: 30px;
	height:35px;
	width: 75px;
	display:flex;
	justify-content: center;
	align-items: center;
	border:2px solid white;
}

nav a:hover{
	border:2px solid black;
	border-radius: 10px;
	background-color:grey;
}

address p{
	margin-bottom: 10px;
}

.large-items {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	width: 100%;
	margin-bottom: 72px;
}

.innovation{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 379px;
	width: 379px;
	margin-left: 85px;
}

.large-items div h1{
	text-align: center;
	font-size: 68px;
	line-height: 1;
	margin-bottom: 34px;
}

.large-items div p{
	height: 32px;
	width: 170px;
	font-size: 16px;
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
}

.large-items div p:hover{
	background-color: grey;
}

.Features-and-about{
	display: flex;
	width: 876px;
	margin-bottom: 26px;
	justify-content: center;
	padding: 36px 10px 10px 5px;
	border-top: 2px solid black;
}

.triple-menu{
	display: flex;
	width:876px;
	justify-content: space-between;
	margin-bottom: 46px;
}

.Services, .Product, .Vision{
	padding-right: 20px;
}

.middle-img{
	margin-bottom: 35px;
}

.contact-info{
	display: flex;
	flex-direction: column;
	border-top:	2px solid black;
	padding-top: 35px;
	width: 100%;
}

.copyright {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	font-size: 16px;
}

/* media for tablet */
@media(max-width:800px){
	header{
		flex-direction: column-reverse;
		height: 150px;
	}

	nav{
		width:760px;
		justify-content: space-between;
	}

	.big-pic{
		display:none;
	}

	.large-items{
		justify-content: center;
		margin:0px;
	}

	.large-items *{
		margin: 0;
	}

	.Features-and-about{
		width: 750px;
		font-size: 16px;
		margin:20px 0 55px 0;
		padding: 35px 0 0 10px;
		justify-items: space-between;
		border-top:2px solid black;
	}

	.middle-img{
		width: 760px;
	}

	.triple-menu{
		width: 760px;
		height: 200px;
		margin-bottom: 8px;
	}

	.triple-menu section{
		padding:0 20px;
	}

	.contact-info{
		width: 760px;
		margin-left:25px;		
	}
}

/* media for phone */
@media(max-width:500px){
	header{
		height: 475px;
	}

	nav{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		width: 450px;
		height:400px;
		margin-top: 20px;
	}
	nav a{
		border-top: 1px solid black;
		border-collapse: collapse;
		color:#ACACB3;
		height:75px;
		width: 500px;
		margin:0;
	}

	p{
		line-height: 1;
	}

	nav a:last-child{
		border-bottom: 1px solid black;
	}

	.contact{
		border-bottom: 1px solid black;
	}

	.Features-and-about{
		flex-wrap: wrap;
		width: 475px;
	}

	.Features, .About{
		margin-bottom: 35px;
	}

	.middle-img{
		width:460px;
	}

	.triple-menu{
		flex-wrap: wrap;
		align-content: space-between;
		padding:0;
		margin-bottom: 20px;
		width: 475px;
		height: 460px;
	}

	section.Services, section.Product, section.Vision{
		padding:0 0 0 10px;
		margin-bottom: 25px;
	}

	.contact-info{
		width:460px;
		padding-top: 30px;
	}
}