/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
body {
  margin: 0 2%;
}

.container {
  /*used to keep objects on correct axis */
  display:flex;
  flex-direction: column;
  align-items: center;	
  padding: 2% 2%;
  margin: 0 5%;
}

/* Beginning of header section */

header {
  display:flex;
  justify-content:space-around;
  margin-bottom: 45px;
  width: 100%;
}


.navTop{
  width: 100%;
  display:flex;
  justify-content: flex-end;
  margin-right: 1%;
}

a{
  margin: 5px 3%;
  text-decoration: none;
  color: lightgray;
  padding: 1% 0;
}


/*Beginning of top 'slogan' section*/

.topSection {
  border: 1px solid red;
  display: flex;
  margin-bottom: 3%;
  width:100%;
  justify-content: flex-end;
}

.boxSlogan {
  border: 1px solid red;
  display: flex;
  align-self: center;	
  flex-direction: column;
  float: right;
}

.sloganTop{
  display: flex;
  flex-direction: column;
  font-size: 75px;
  font-family: 'Bangers', cursive;
  text-align: center;

}

.sloganBottom{
  align-self: center;
  border: 1px solid black;
  font-weight: bold;
  margin-top: 32px;
  padding: 7px 15%;
  width: 175px;
  text-align: center;
}

.sloganImg{
  padding-left: 5%;
}

/*Mid section begins */
.middle-img {
  width: 100%;
}

.midSection{
  display: flex;
  padding-bottom: 35px;
  padding-top:25px;
  border-top: 2px solid black;
  width: 100%;
}

.boxFeatures, .boxAbout {
  padding: 1%;
}

.bottomSection{
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 3%;
}

.boxServices, .boxProduct, .boxVision {
  padding: 1%;
  margin-top: 25px;
}

/*Bottom footer starts here */

footer {
  width: 100%;
}

#contactInfo {
  display: flex;
  flex-direction: column;	
  margin-top: 25px;
}

phone {
  line-height: 35px;
}

copyright {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}


@media (max-width: 768px) {
  body {
    margin: auto;
  }
  .container {
    border: none;
  }
  .sloganImg {
    display: none;

  }

  header {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }

  .navTop {
    display: flex;
    justify-content: space-around;
  }
  .topSection {
    display: flex;
    justify-content: center;
  }

}

@media(max-width: 400px){
  .sloganTop {
    font-size: 65px;
  }

  .navTop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 30px;
  }

  .navTop a {
    padding:10px 0%;
    width:100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
  }


  .midSection {
    display: flex;
    flex-direction: column;
  }

  .middle-img {
    width: 100%;
  }

  .bottomSection {
    display: flex;
    flex-direction: column;
  }



}