/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	display: flex;
	width: 100%;
	margin-bottom: 5%;
	justify-content: space-evenly;
	align-items: flex-end;
}

.nav1 {
	color: grey;
	word-spacing: 80px;
}
.container2 {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.container3 {
	font-weight: bold;
	font-size: 45px;
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container5{
	display: flex;
	margin-bottom: 20px;
	
}
.container6{
	margin-top: 30px;
	display: flex;
}

.feat {
	margin-left: 30px;
}

.about {
	margin-right:  30px;
}

.copy{
	/*border: 1px solid blue;*/
	text-align: center;
}

.street {
	margin-bottom: 20px;
}

.phone {
	line-height: 50px;
}



button {
	cursor: pointer;
	background: white;
	border: 1px solid black;
	font-size: 20px;
}


hr {
	padding-top: 10px;
	margin: 50px 0px;
}

.middle-img {
	width: 100%;
}

/* tablet view */
@media(max-width: 800px) {

.container {
	border: 1px solid black;
	flex-direction: column-reverse;
	align-items: center;
}
.nav1 {
	word-spacing: 40px;
}

.container4 {
	display: none
}

}
/* mobile view */
@media(max-width: 500px) {


	.container {
		flex-direction: row-reverse;
	}


	.container5 {
		flex-direction: column;
	}

	.container6 {
		flex-direction: column;
	}

	.middle-img {
		padding: 10px;
	}
}