/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
    width: 1000px;
    margin: 0 auto;
}


.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
}

/* .navigation a {
    display: flex;
    padding: 30px 90px;
} */

h1 {
    font-size: 60px;
}

.blockone {
    padding: 60px;
}

header {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;

}
.top-content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px 20px 20px; */
}

.contact {
    width:100%;
    margin-left: 50px;
    padding-bottom: 25px;
    text-align: left;
}

.Features {
    margin-right: 20px;
}

.bottom-content { 
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px 20px 20px; */
}

.Services {
    margin-right: 20px;
}

.Product {
    margin-right: 20px;
}

.middle-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer {
    display: inline-block;
    width: 100%;
    
}
 .Contact {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  /* align-content: space-between; */
}
 .copyright {
    display: inline-block;
    width: 100%;
    padding-bottom: 60px;
    text-align: center;
}

.one {
    padding: 10px 0;
}

.two {
    padding: 10px 0;
}

.three {
    padding: 10px 0;
} */


/* .categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid red;
} */


.serv {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.logo {
    margin-left: 20px;
}

.Digital-Design {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #f4f3f4;
    margin-right: 20px;
}

.UX { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #f4f3f4;
    margin-right: 20px;
}



.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-decoration: none;
}

.navigation a {
    text-decoration: none;
    color: gray;
}


.cont {
    width: 900px;
    margin: 0 auto;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 20px;
    margin-top: 20px;

}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 20px;

}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 20px;
    
}



.Digital-Marketing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #f4f3f4;
    margin-right: 20px;

}

.WebDev { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #f4f3f4;
}

.IOSDev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #f4f3f4;
    margin-right: 20px;

}

.Android {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    background-color: #f4f3f4;
}

.Some-facts {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-right: 40px;
    
}

.bottom-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.para {
    padding-bottom: 20px;
}

ul {
    list-style-position: inside;
    line-height: 1.5;
}

.copy {
    display: flex;
    justify-content: center;
    padding-top: 65px;
}



button {
	background-color: white;
    border: 2px solid black;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0 10px 0;
}

/*media query Table Mode*/

@media (max-width: 800px) {

    .container {
        width: 800px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

    h1 {

        font-size: 80px;
    }

    .blockone {
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }

    .blocktwo {
        display: none;
    }

   
  }

  @media (max-width: 500px) {
   
  }



