/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


body {
	max-width: 880px;
	margin: 0 auto;
}

.flex {
	display: flex;
}
body {
    max-width: 880px;
    margin: 0 auto;
}

p {
    line-height: 1.2;
}

header {
    justify-content: space-between;
    padding: 28px 0;
	max-width: 880px;
	margin-bottom: 42px;
}

nav {
    justify-content: space-between;
	align-items: center;
	flex: 1;
	margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: rgb(177, 177, 177);
	transition: .1s;
}

nav a:hover {
    color: rgb(17, 17, 17);
    text-decoration: underline;
}

header img:hover {
	box-shadow: 8px 8px 10px black;
}

h1 {
	font-size:  75px;
	text-align: center;
}

.top {
	border-bottom: 1px solid black;
	padding-bottom: 60px;
	margin-bottom: 35px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

.top-text {
	flex-direction: column;
	align-items: center;
	align-content: center;
    flex: 1;
    padding-left: 30px;
}

a {
	text-decoration: none;
}

.btn {
	border: 1px solid black;
	padding: 5px 40px;
	color: rgb(20, 20, 20);
	transition: .15s;
}

.btn:hover {
	background: rgb(46, 46, 46);
	color: white;
}

.features, .about {
	margin-bottom: 35px;
	max-height: 150px;
	/* border: 1px solid blue; */
}

.f-a {
	display: flex;
	justify-content: space-between;
}

.services, .products, .vision {
	width: 32.8%;
	margin: 35px 0;
}

.spv {
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.contact {
	border-top: 1px solid black;
	padding-top: 35px;
	margin-bottom: 35px;
}

footer {
	padding-bottom: 100px;
}

footer p {
	text-align: center;
	font-size: 14px;
}

@media (max-width: 800px){

    body {
        padding: 20px;
    }

    .top-img {
        display: none;
    }

    header {
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid black; */
    }

    header nav {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
}

@media (max-width: 500px){

    body {
        background-color: blue;
    }

}

