/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* MY CODE STARTS HERE */

/***************
**************** 
General
**************** 
**************** */


.container {
	width:	880px;
	margin: auto;
}

h2 {
	font-size: 20px;
}

hr {
	margin: 30px 0;
	border: 0.5px solid black;
}


/***************
**************** 
Navigation
**************** 
**************** */

.navigation {
    display: flex;
    width: 100%;
}

.navigation .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 610px;
    align-self: center;
    margin-top: 40px;
}

.navigation .nav-menu a {
    margin-right: 30px;
}

.navigation .nav-menu a {
	text-decoration: none;
	align-self: center;
    color: #b0b0b0;
}

.navigation a:hover {
    text-decoration: underline;
	color: black;
}

.navigation .logo {
    margin: 28px 0 0 91px;
}



/***************
**************** 
Top Content
**************** 
**************** */

.top-content {
    display: flex;
    justify-content: space-between;
}

.top-content .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    font-size: 77px;
    text-align: center;
}

.top-section button {
    background-color: white;
    padding: 8px 44px;
    margin-top: 6px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

.top-section button:hover {
    background-color: black;
    color: white;
}

.top-content img {
    margin-top: 69px;
}

/***************
**************** 
middle-content
**************** 
**************** */

.middle-content {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 75px 0 35px 0;
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
}

.middle-content .middle-container {
    display: flex;
}

.middle-content .features-bottom {
	display: flex;
}

.middle-content .middle-container p {
    padding-right: 20px;
}

.middle-content .features-bottom p {
    padding-right: 20px;
}

.middle-content img {
    margin: 30px auto;
}



/***************
**************** 
Contact
**************** 
**************** */


.contact p {
    margin: 15px 0;
}


/***************
**************** 
footer
**************** 
**************** */

footer {
	display: flex;
	justify-content: center;
	margin: 40px 0 20px;
}





/***************
**************** 
Media Queries 
**************** 
**************** */

@media (max-width: 940px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 0 auto;
    }

    .navigation {
        flex-direction: column-reverse;
        align-items: center;
    }

    .navigation .nav-menu {
        justify-content: space-between;
        width: 100%;
    }

    .navigation .logo {
        margin: 28px auto 0;
    }

    .top-content img {
        display: none;
    }

    .top-section {
        margin: 0 auto;
    }

    .middle-content .middle-container p {
        padding-right: 25px;
    }
    
    .middle-content .features-bottom p {
        padding-right: 25px;
    }

    .middle-content img {
        width: 100%;
    }


}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    .navigation {
        flex-direction: column-reverse;
        width: 100%;
    }

    .navigation .nav-menu {
        flex-direction: column;
        width: 100%;
        margin: 20px 0 0 0;
    }

    .navigation .nav-menu a {
        width: 100%;
        padding: 20px 0;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .navigation .nav-menu a:first-child {
        border-top: 1px solid black;
    }

    .top-content .top-section {
        margin-top: 50px;
    }

    .middle-content .middle-container {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .middle-container {
        padding-top: 20px;
    }

    .middle-content img {
        width: 95%;
        display: flex;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .features-bottom {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .features-content h3 {
        padding-top: 30px;
    }

    .contact {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

  
}