/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

/* line 307 to line 315 takes care of the margins*/
body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-container {
  width: 80%;
}

/*Header Styles*/
header,
nav,
.logo-container {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0 7%;
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.25rem;
  font-family: "Titillium Web";
  text-decoration: none;
  color: #e5e5e5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.logo-container {
  width: 20%;
}

.logo {
  width: 100%;
}

.divider {
  border: 2px solid black;
  margin: 4% 0;
}

/*Hero Area styles*/
.hero-area,
.title,
.hero-image {
  border: 1px solid black;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75vh;
  margin-bottom: 4%;
}

.title,
.hero-image {
  display: flex;
  width: 48%;
  height: 75vh;
}

.title {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-family: Bangers;
  font-size: 6rem;
  margin-bottom: 4%;
  text-align: center;
}

.title button {
  background: #fff;
  border: 1px solid black;
  width: 30%;
  padding: 1%;
}

.hero-image {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image img {
  width: 90%;
}

/* details styles begins here*/
.top-section,
.bottom-section {
  border: 1px solid black;
}

.top-section,
.bottom-section {
  display: flex;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.top-section {
  margin-bottom: 4%;
  justify-content: space-between;
}

.top-section div {
  width: 45%;
}

.details-image img {
  width: 100%;
}

.bottom-section {
  justify-content: space-between;
  margin-top: 4%;
}

.bottom-section div {
  width: 30%;
}
/*contact-section styles*/
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 10%;
}

/*footer styles*/
footer {
  margin: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

footer p {
  width: 25%;
  font-weight: 700;
}

/*Services page styles*/

/*service hero area styles*/
.service-hero-area {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-hero-area figure img {
  width: 100%;
}

.services h1 {
  font-size: 2rem;
}

.services p {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 500;
}

/*specialties styles here*/
.specialties {
  height: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.specialties div {
  border: 3px solid black;
  width: 48%;
  padding: 2%;
  font-size: 1.1rem;
}

.specialties div p {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.specialties button {
  padding: 5px;
  border-radius: 5px;
  width: 30%;
  font-size: 0.7rem;
  font-weight: 600;
}

/*facts-section styles here*/
.facts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.facts div,
.facts figure {
  width: 48%;
  font-size: 1.1rem;
}

.facts div h2,
.facts div p {
  margin-bottom: 20px;
}

.facts div ul {
  list-style-type: square;
  list-style-position: inside;
  font-size: 1rem;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.facts figure img {
  width: 100%;
}

/*Media Queries*/

@media screen and (max-width: 800px) {
  /*GENERAL STYLES*/
  .main-container {
    width: 90%;
  }

  /*HEADER STYLES*/

  header {
    flex-direction: column-reverse;
    height: 20vh;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  nav {
    width: 100%;
    justify-content: space-around;
  }

  /*HERO AREA STYLES*/

  .hero-area {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .title h1 {
    font-size: 4rem;
    margin-bottom: 10%;
  }

  .hero-image {
    display: none;
  }

  /*DETAILS SECTION STYLES*/
  .top-section,
  .bottom-section {
    font-size: 0.75rem;
  }

  /*CONTACT-SECTION STYLES*/
  .contact-section {
    font-size: 0.75rem;
  }

  /*FOOTER STYLES*/
  footer p {
    font-size: 0.5rem;
  }

  /*SERVICES PAGE STYLES*/

  /*SPECIALTIES STYLES*/
  .specialties {
    height: 1300px;
  }

  .specialties div {
    width: 100%;
  }

  .facts {
    flex-direction: column;
    height: 950px;
    justify-content: space-between;
  }

  .facts .full-width {
    width: 100%;
  }

  .facts div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .facts div ul {
    width: 20%;
  }
}
