/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

h1 {
    font-size: 72px;
    text-align: center;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 20px;
}
.container{
    /* background: lightgray; */
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: red; */
}

.nav{
    display: flex;
    /* background-color: green; */
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.nav li a{
    display: flex;
    padding: 8px 20px;
    margin-left: 5px;
    /* text-decoration: none; */
    color: black;
    /* border: 1px thin gray; */
}

a:hover{
    background-color: gray;
    text-decoration-color: greenyellow;
}

.logo{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right:20px;
    width: 30%;
    height: 40px;
}
.hero{
    display: flex;
    /* background: purple; */
    justify-content: space-between;
    align-items: center;
    height: 550px;
}

hr{
    border: 1px solid black;
    margin: 25px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: aqua; */
    flex-grow: 5;
    order: 1;
}

.left *{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-self: flex-start;
    /* background: blue; */
    flex-grow: 2;
    margin-left: 10px;
    /* margin-right: 35px; */
    /* text-align: justify; */
    /* width: 50ch; */
    /* order: 1; */
}

/* .left div{
    width: 45%;
    display: flex;
    flex-direction: column;

} */

/* ul{
    list-style-type: square;
} */

.twoServices * li{
    margin: 20px;
    padding-left: 5px; 
    list-style-type: square;
}

/* .right *{
    display: flex;
    align-self: flex-start;
    background: red;
    max-width: 20%;
    margin-right: 35px;
    flex-grow: 1;
    order: 2;
} */

.button{
    border: 1px solid black;
    padding: 15px;
}

.right{
    display: flex;
    /* background: yellow; */
    justify-content: center;
    order: 2;
    flex-grow: 1;
}

/* .right div{
    display: flex;
    flex-direction: column;
    width: 20%;
    flex-grow: unset;
} */

.twolayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: gray; */
    height: 110px;
}

/* .twolayout:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 110px;
    background: red;
} */

.twoServices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    /* padding-bottom: 15px; */
    /* border-bottom: 1px solid black; */
}

.service-feature{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 15px;
    width: 47%;
    /* height: 175px; */
    background:#eeeeee;
    border: 1px solid gray; 
    margin: 10px;
}

.no-border{
    border: none;
    background:none;
}

.feature{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.midimg{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    /* background: black; */
    margin: 25px;
    height: 250px;
}

.midimg img{
    width: 100%;
    height: 100%;
}

.excerpt{
    margin: 25px;
}

.learn-more{ 
    width: 30%;
    border: 1px dashed black;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background: white;
}

.threelayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
    height: 120px;
    /* background: yellow; */
}

.service{
    margin-right: 25px;
    text-align: justify;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background: maroon;*/
}

.contact *{
    margin-left: 25px;
}

.address{
    margin: 0;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
