/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*--------------------*/

.container{
	width:1024px;
	height: 2000px;
	margin: auto;
	/*border: 1px solid black;*/
}

@media(max-width: 800px){
    .container{
        width: 800px;
    }
}

@media(max-width: 500px){
    .container{

    }
}

/*---------------------------------*/
.header{
	/*border: 1px solid blue;*/
	height:5%;
	display: flex;
	
}

.header nav {
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	/*border: 1px solid blue;*/
	 
}

.header nav a{
	text-decoration: none;
	color:#b0b0b0;
}

.header nav a:hover {
	text-decoration: underline;
	color: black;
}

/*-----------------------------*/

.billboard {
	border-bottom: 2px solid black;
	display:flex;
	height: 25%;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.billboard div{ 
	height: 99%;
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	align-items: center;
}

.billboard h1{
	font-size: 65px;
	width: 60%;
}

.billboard a{

}

/*-----------This is a section--------------------*/

section.index-sec1{
	display:flex;
	height:10%;
	justify-content: space-around;

}

section.index-sec1  div{
	height: 90%;
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.index-sec1  div h2{
	font-size: 175%;
}

section.index-sec1  div p{
	font-size: 105%;
}

/*-----------------------------------------------------------*/

section.index-sec2{
    /*height: 25%;*/
    margin-bottom: 3%;
    display:flex;
    justify-content: center
}

/*-------------------------------------------------------------*/

section.index-sec3{
	/*margin: 0 2%;*/
	height:10%;
	display:flex;
	justify-content: space-around;
	border-bottom: 2px solid black;
}

section.index-sec3  div{
	height: 90%;
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*margin: 3% 2% 3% 2%;*/

}

section.index-sec3 div h2{
	font-size: 175%;
}

section.index-sec3  div p{
	font-size: 105%;
}
/*------------------------------------------------------------------*/

 .footer-p1{
 	margin: 3% 2%;
 	height: 10%;
 	justify-content: space-around;

 }

 .footer-p1 h2{
 	font-size: 175%;
 }

.footer-p1 p{
	margin: 3% 0;
}
p.copyright {
	text-align: center;
}


/* ---- Services Page ----------------*/

section.splash{
	display: flex;
	border-bottom: 2px solid black;
	height: 18%;
	margin-bottom: 3%;
}

.splash h1{
	font-size: 250%;
	margin: 2% 0;
}

.splash p{
	font-size: 110%;
}

/*----------------------------------*/

section.p2-sec1{
	height: 40%; /*height to increase when it's too small but not default*/ 
	margin-bottom: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;

}

.card{

	height: 30%;
	width: 45%;
	background: whitesmoke;
	border: 1px solid black;
	padding: 3%;
	margin: 2%;

}

.card h2{
	font-size: 125%;
}

.card p{
	font-size: 105%;
}

.card button{
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	margin-top: 5%;
	padding: 1% 3%;
}

.card button:hover {
	background: black;
	color: white;
}

/*---------------------------------*/

section.p2-sec2{
	margin-top: 3%;
	border-top: 2px solid black;
	display: flex;
	/*flex-wrap: nowrap;*/
	justify-content: space-around;

}

.facts{
	height:30%;
	width: 45%;
	margin-top: 5%;

}

.services-info-img{
	margin-top: 5%;

}
.facts h2{
	font-size: 125%;
}

.facts p{
	font-size: 105%;
}

.footer-p2{
	text-align: center;
	margin-top: 5%;
}

.list{
	list-style:square;
}


