/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	margin: 0 auto;
	width: 876px;
}

a {
	color: gray;
	text-decoration: none;
}

.section {
	display: flex; 
}

.section.top {
	margin: 30px; 
	justify-content: space-around;
}

.section.top nav {
	order: 0;
	align-self: flex-start;
	position: relative;
	top: 10px;
}

.section.top ul li {
	display: inline;
	list-style-type: none; 
}

.section.top li  {
	margin-right: 25px;
	padding: 10px;
	border-radius: 25px; 
}

.section.top .logo {
	position: relative;
	top: 5px;
}

.section.whoweare {
	flex-wrap: wrap;
	margin-top: 20px;
	height: 120px;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

.section.main {
	border-bottom: 1px solid black;
	padding-bottom: 25px;
}

.section.main .border {
	display: infline-flex;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	align-self: flex-start;
	width: 50%;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 69px;
}

.section.main .item.main h1 {
    font-size: 75px;
    width: 250px;
    text-align: center; 
    margin: 45px;
}

.section.main .item.main {
	width: 45%;
	text-align: center;
}

.section.description {
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}



.section.description .item.mainpage {
	height: auto;
	margin: 20px;
	padding: 15px;
	background-color: white; 
	
} 

.section.description .item.mainpage.row1 {
	width: 44%;
}

.section.description .item.mainpage.row2 {
	width: 26%;
}

.section.description .item.servicespage {
	width: 45%;
	height:200px;
	background-color: lightgray;
	border: 1px solid black;
	margin: 20px;
	padding: 15px;
} 
.section.description .learnmore {
	display: infline-flex;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	align-self: flex-start;
	width: 33%;
	margin-top: 15px;
	margin-bottom: 5px;
}

.section.bottom {
margin-top: 30px;
flex-wrap: wrap;
}

.section.bottom .item.bottom {
	width: 45%;
	margin: 15px;
}

.section.bottom .item.mainbottom {
	margin-top: 15px;
	margin-left: 26px; 
}

.section.bottom .item.bottom ul {
	margin: 25px;
}
.section.bottom.item.bottom li {
	margin: 5px;
}

footer {
	margin: 10px;
	text-align: center;
	align-self: center;
	margin-left: 40%;
	margin-right: 40%;
}

/* Media Query */

@media (max-width: 800px) {

    .container {
        width: 90%;
        /* make this percentage of body for window consistency */
    }

    .section.top {
        margin: 15px; 
    }

    .section.top .nav {
        width: 400px;
    }

    .section.top li  {
        margin-right: 5px;
        padding: 5px;
        font-size: 90%;
    }

    .section.top .logo {
        position: relative;
        top: 5px;
        right: 2.5px; 
    }

    .section.main .item.main {
        width: 45%; 
        margin: 5px;
    }

    .section.main .item.main.text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
    }

    .section.main .item.main h1 {
        font-size: 45px;
        height: 10px;
        text-align: center; 
        padding-bottom: 50px;
    }

    .section.main .item.main img {
        width: 80%;
        margin: 10px;
    }

    .middle-img {
        width: 90%; 
        margin: 15px;
    }

    .section.description .item.mainpage{
        padding: 5px;
    }

    .section.description .item.mainpage p {
        font-size: 20px;
    }

    .section.description .item.mainpage h3 {
        text-align: center;
        font-size: 30px;
    }

    .section.description .item.mainpage.row1{
        width: 90%;
    }

    .section.description .item.mainpage.row2 {
        width: 90%;
    }

    
}


@media (max-width: 500px) {

    .section.top {
        margin: 5px; 
    }

    .section.top .logo {
        width: 50%;
    }

}