/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.05;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

p {
    line-height: 1.1;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 876px;
	margin: 0px auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav {
	display: flex;
    width: 69%;
	justify-content: space-between;
}

.nav-button {
	text-decoration: none;
    color: grey;
	transition: transform 0.4s;
}

.nav-button:hover {
	transform: scale(1.2);
}

.call-to-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding-left: 126px;
    margin-bottom: 79px;
}

.cta-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innovation {
    font-size: 72px;
    margin-bottom: 30px;
}

.get-started a {
	text-decoration: none;
    border: 1px solid black;
    padding: 3px;
	padding-left: 45px;
	padding-right: 45px;
	color: black;
    transition: 0.5s;
    font-size: 17px;
}

.get-started a:hover {
    background: darkblue;
    border:1px solid lightcyan;
    color: lightcyan;
}

.top-content {
	border-top: 1px solid black;
	display: flex;
	padding-top: 35px;
}

.middle-img {
	padding-top: 32px;
	padding-bottom: 26px;
}

.bottom-content {
	border-bottom: 1px solid black;
	padding-bottom: 38px;
    display: flex;
}

.bottom-content div {
    width: 31.2%
}

.services, .product {
    margin-right: 20px;
}

.contact {
	margin-top: 33px;
}

.contact p {
    margin-bottom: 12px;
}

address {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.copyright {
	text-align: center;
	margin-top: 28px;
	margin-bottom: 40px;
	font-size: 16px;
}

@media (max-width: 800px) {

    .container {
        width: 760px;
        margin-left: 20px;
    }
    
    .cta-img {
        display: none;
    }

    .nav-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 36px;
    }

    nav {
        width: 100%;
        order: 1;
        padding-right: 41px;
        padding-left: 9px;
    }

    .call-to-action {
        justify-content: center;
        margin-top: 74px;
        margin-bottom: 84px;
        padding-left: 0;
    }
    
    .innovation {
        margin-bottom: 32px;
    }
    
    .top-content {
        padding-left: 10px;
    }

    .features, .about {
        width: 48%;
    }

    .features {
        margin-right: 20px;
    }

    .top-content {
        display: flex;
        padding-top: 35px;
    }
    
    .middle-img {
        width: 100%;
        padding-bottom: 28px;
    }
    
    .bottom-content {
        padding-bottom: 36px;
        display: flex;
        padding-left: 10px;
    }
    
    .bottom-content div {
        width: 28.5%
    }
    
    .services, .product {
        margin-right: 39px;
    }

    .contact {
        margin-top: 35px;
        padding-left: 10px;
    }
    
    .contact p {
        margin-bottom: 12px;
    }

    .contact h2 {
        margin-bottom: 16px;
    }
}

@media (max-width: 500px) {

    .container {
        width: 460px;
    }
    
    .nav-content {
        margin-top: 19px;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav {
        flex-direction: column;
        width: 500px;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-button {
        border-top: 1px solid black;
        text-align: center;
        padding: 19.8px;
        font-size: 20px;
    }

    nav a:last-child {
        border-bottom: 1px solid black;
    }

    .nav-button:hover {
        transform: scale(1.2s);
    }

    .call-to-action {
        margin-top: 52px;
        margin-bottom: 83px;
    }
    
    .top-content {
        padding-left: 0;
        flex-direction: column;
        padding-top: 59px;
    }

    .features, .about {
        width: 95%;
    }

    .features {
        margin-right: 0;
        margin-bottom: 45px;
    }
    
    .about {
        margin-bottom: 21px;
    }
    
    .bottom-content {
        padding-left: 0;
        flex-direction: column;
    }
    
    .bottom-content div {
        width: 95%;
        margin-bottom: 63px;
    }

    .bottom-content .vision {
        margin-bottom: 0px;
    }

    .contact {
        margin-top: 35px;
        padding-left: 0;
    }
    
    .contact p {
        margin-bottom: 12px;
    }

    .contact h2 {
        margin-bottom: 16px;
    }
}