/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
	width: 880px;
	margin: 0 auto;
}

/* header */
header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
  text-decoration: underline;
}

header .logo {
    margin: 28px 0 0 91px;
}

/* cta */
.cta {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
  margin-top: 25px;
}
.cta-text-button {
	display: flex;
	width: 150px;	
}

.cta button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 70px;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  display: flex;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
	margin-bottom: 50px;
}

.main-content .bottom-content .text-content {
  width: 275px;
  display: inline-block;
  margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 2px solid black;
  padding: 50px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {    
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 14px;
}

/* Tablet View */

@media(max-width: 800px) {

    .container {
        width: 800px;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    header nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    header .logo {
       width: 183px;
       height: 36px;
       margin-right: 88px;
    }

    .cta {
        margin: 50px 0px 75px 0px;
        line-height: 375%;
    }

    .cta img {
        display: none;
    }

    .main-content{
        margin: 0px 20px;
    }

    .main-content .text-content{
        margin: 0px 10px;
    }

    .contact {
        margin: 0px 20px;
    }
    .contact p {
        margin: 5px;
    }
}

/* Mobile View */

@media(max-width: 500px) {

    .container {
        width: 500px;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    header nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      width: 100%;
      margin-top: 17px;
    }

    header nav a{

        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }

    header nav a:nth-child(1) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    header nav a:nth-child(2) {
        border-bottom: 1px solid black;
    }
    header nav a:nth-child(3) {
        border-bottom: 1px solid black;
    }
    header nav a:nth-child(4) {
        border-bottom: 1px solid black;
    }
    header nav a:nth-child(5) {
        border-bottom: 1px solid black;
    }
    header nav a:nth-child(6) {
        border-bottom: 1px solid black;
    }


    header .logo {
       width: 183px;
       height: 36px;
       margin: 20px 0px 0px 0px;
    }

    .main-content{
        border-top: 2px solid black;
    }

    .main-content .top-content{
        display: flex;
        flex-direction: column;
    }

    .main-content .text-content {
        margin: 0px;
        padding-bottom: 30px;
    }

    .main-content .bottom-content{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .main-content img {
        width: 100%;
        height: auto;
    }

    .contact {
        margin: 20px 20px;
        padding: 0px;
        padding-top: 35px;
    }

    .contact p {
        margin-bottom: 10px;
      }
    footer {
        font-size: 16px;
    }
}
