/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* -------------------------------------------------------- */
.container {
  max-width: 880px;
  /* TB LR */
  width: 100%;
  margin: 0 auto;
}

@media(max-width:800px){
    .container{}
}

@media(max-width:500px){
    .container{}
}
/* header */
header{
    display:flex;
    width:100%;
    justify-content: space-around;
}

header nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 35px;
}

header nav a {
  /* margin-right: 65px; */
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: flex;
  margin-top: 25px;
}

/* cta */
.cta{
    display: flex;
    width:100%;
    justify-content: space-around;
}

.cta .cta-text {
  display: flex;
  flex-direction: column;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display:flex;
  width: 40%;
  margin-top: 69px;
}

/* ------------------------------------------------------------ */
.main-content {

  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
    display:flex;
    justify-content: space-around;
  /* padding: 0 10px; */

}

.main-content .top-content .text-content {
  width: 49%;
  display: flex;
  flex-direction: column;
  /* margin-right: 34px; */
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
  width:100%;
}

.main-content .bottom-content {
  margin-top: 37px;
  display: flex;
  justify-content: space-around;
  /* padding: 0 10px; */
}

.main-content .bottom-content .text-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* margin-right: 12px; */
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}