/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 880px;
	margin: 20px auto;
}
.container header {
	display: flex;
	justify-content: space-between;
}

.container header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	padding-right: 50px;
}

.container header nav a {
	color: gray;
	text-decoration: none;

}

.container .cta {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
}


.container .cta .cta-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
}

.container .cta .cta-text h1 {
	font-size: 80px;
	text-align: center;
}

.cta .cta-text button {
	background: white;
	padding: 0 50px;
	height: 25px;
	border: 1px solid black;

}


.container .main-content {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	padding: 25px 0;
}

.container .main-content .two-column{
	display: flex;
	justify-content: space-between;
}

.container .main-content .two-column div {
	width: 47%;
}

.container .main-content img {
	margin: 25px 0;
}
.container .main-content .three-column {
	display: flex;
	justify-content: space-between;
}

.container .main-content .three-column div {
	width: 32%;
}

.container .contact {
	padding-top: 25px;
}

.container .contact {
	display: flex;
	flex-direction: column;
}

.container .contact p {
	padding: 15px 0;
}

.container .contact p:last-of-type {
	padding-top: 0px;
}

.container footer {
	text-align: center;
	padding-top: 40px;
}

/* services css below */

.container-services {
	padding-top: 25px;
}

.container-services .services-content {
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}
.container-services .services-content h1 {
	font-size: 30px;
	padding-top: 25px;
}

.container-services .main-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.container-services .main-content section {
	width: 47%;
	background: #f4f3f4;
	border: 1px solid black;
	margin-bottom: 30px;
	line-height: 1.3;
	padding: 20px;
}

.container-services .main-content section button {
	background: white;
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px 40px;
	border-radius: 5%;
}



