@media (min-width: 500px) {
    /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain */
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol,
    ul {
        list-style: none;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    * {
        box-sizing: border-box;
    }
    html,
    body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Rubik', sans-serif;
    }
    p {
        line-height: 1.4;
    }
    .container {
        width: 800px;
        margin: 0 auto;
    }
    .top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    .top-content .text-container {
        width: 48%;
        padding: 0 1%;
        padding-bottom: 20px;
    }
    .middle-content {
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
    }
    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .middle-content .boxes .box {
        width: 12.5%;
        height: 100px;
        background: black;
        margin: 20px 2.5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom-content {
        display: flex;
        margin: 0 2% 20px;
        justify-content: space-around;
    }
    .bottom-content .text-container {
        padding-right: 4%;
    }
    .bottom-content .text-container:last-child {
        padding-right: 0;
    }
    footer {
        width: 100%;
        background: black;
    }
    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }
    footer nav a {
        color: white;
        text-decoration: none;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 40px 40px 0px;
    }
    .nav-bar a {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    .jumbo {
        padding-bottom: 20px;
    }
    #box1 {
        background-color: teal;
    }
    #box2 {
        background-color: gold;
    }
    #box3 {
        background-color: cadetblue;
    }
    #box4 {
        background-color: coral;
    }
    #box5 {
        background-color: crimson;
    }
    #box6 {
        background-color: forestgreen;
    }
    #box7 {
        background-color: darkorchid;
    }
    #box8 {
        background-color: hotpink;
    }
    #box9 {
        background-color: indigo;
    }
    #box10 {
        background-color: dodgerblue;
    }
    .about {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .horizontal-content-box {
        display: flex;
        justify-content: space-between;
        padding: 2%;
    }
    .vertical-content-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        border-bottom: dotted black;
    }
    .vertical-content-box h4 {
        padding: 2% 0% 2% 0%;
    }
    .vertical-content-box button {
        width: 35%;
        border-radius: 10px;
        margin-top: 6%;
        margin-bottom: 6%;
        margin-left: 1%;
        height: 35px;
        font-size: 16px;
        background-color: white;
        background-image: none;
        -webkit-appearance: none;
        border: 1px solid black;
    }
    .about {
        border-bottom: dotted black;
        padding: 2%;
    }
    .work-together {
        padding: 2%;
        margin-bottom: 2%;
    }
    .nav-bar {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .nav-bar div {
        padding: 2%;
    }
    .jumbo {
        display: none;
    }
    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .middle-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-content {
        display: flex;
        flex-direction: column;
        border: solid black 5px;
    }
    footer {
        display: none;
    }
    @media (min-width: 800px) {
        .nav-bar {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            flex-flow: wrap;
        }
        .top-content {
            display: flex;
            flex-direction: row;
        }
    }
}