/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 90%;
  /* TB LR */
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

header nav a {
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header .logo {
  margin-top: 25px;
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}
/* cta */

.cta {
display: flex;
flex-wrap: wrap;
font-size: 60px;
text-align: center;
justify-content: center;
justify-content: space-around;
padding-top: 50px;
align-items: center;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}
.cta button {
	height: 30px;
	width: 180px;
	background: white;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}
.top-content {
  display: flex;
  font: 22px;
}
.middle-img {
  width: 100%;
  height: 240px;
  padding:  20px 0;
}
.bottom-content {
  display: flex;
  border-bottom: solid black 2px;
  padding: 20px 0;
  font: 22px;
}
footer {
 display: flex;
 justify-content: center;
}
.contact {
  padding: 20px 0;
}
.contact p {
  padding: 10px 0;
}
.start {
  width: 90px;
  background-color: white;
  height: 60px;
  border: solid black;
}
footer {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .headerpic {
    display: none;
  }
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  padding: 40px;
}
header :nth-child(2) { order: -1; }

p {
  font: 18px;
}
}
@media (max-width: 480px){
.container { 
  width: 100%;
}
  header :nth-child(2) { order: -1; }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.navbar a {
  border-top: 1px solid gray;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin: 0;
}