/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.nav_container{
    width:100%;
    height:100px;
    /* border:2px solid red; */
    display: flex;
    justify-content:center;
}

.nav a {
    width:300px;
    padding:0 30px 0 30px;
    /* border:2px solid blue; */
    color:grey;
    text-decoration: none;
}

nav a.services{
    margin-left:-100px;
}
.nav .logo{

    /* border:2px solid black; */
}

.header_container{
    width:100%;
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
}
header .name{
    font-size:60pt;
    text-align: center;
    /* border:2px solid blue; */
}
button{
    color: darkslategrey;
    font-size:12pt;
    width:175px;
    height:40px;
    background-color:white;
    border:1px solid black;
    margin-left:20px;


}
button:hover{
    background-image: linear-gradient(blue, lightblue);
    color: white;
}

.header_img{
    margin-left:100px;
    margin-bottom:20px;


}

.content-first{
/* border:2px solid red; */
    margin:0 auto;
    width: 875px;
    margin-left:250px;
    margin-right: 10px;
    border-top: 1px solid black;
	padding:20px 0px 20px 0px;
	display:flex;
    justify-content:center;

}
.content-first div{

    margin-left:25px;
    width:400px;
}

.middle-img{
    margin-left:125px;
}

.content_bottom{
    margin: 0 auto;
    width: 900px;
    margin-left:250px;
    margin-right: 10px;
    padding: 25px 0px 25px 0px;
	border-bottom:1px solid black;
	display:flex;
	flex-direction:wrap;
    width:900px;
}


.contact{
    padding:25px 0px 0px 0px;
    margin-left:250px;
    margin-right: 10px;
}

footer{
	padding-top: 100px;
	text-align: center;
}








/*Services CSS starts here*/

.nav_container{
    width:100%;
    height:100px;
    /* border:2px solid red; */
    margin-top:20px;
    display: flex;

    justify-content:center;
}

.nav a {
    width:300px;
    padding:0 30px 0 30px;
    /* border:2px solid blue; */
    color:grey;
    text-decoration: none;

}

nav a.services{

    margin-left:-100px;
}
.nav .logo{

    /* border:2px solid black; */
}

.img{
	margin-top:60px;
	width:1480px;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;

}

.img .services-header-img{
	margin-top:20px;
	width:1000px;
	/* border:2px solid blue; */
}

/* .all_content{
	border:2px solid blue;
	width:1000px;
	display:flex;

} */
.top_container{
	margin: 20px 0px 20px 0px;
	/* border:2px solid red; */
	display:flex;
	width: 1480px;
	justify-content: center;




}
.first_content{
	/* border:2px solid blue; */
	width:1000px;
	padding-bottom:30px;
    border-bottom:1px solid black;


}

.content_middle_container{


	margin-left:35px;
	margin-top:30px;
	width: 1450px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	/* align-content:space-around; */

}

.content_middle_container div{

	border: 1px solid black;
	width: 480px;
	height: 300px;
	padding:30px;
	margin-top:10px;
	margin-bottom:20px;
	margin-right:40px;
	background-color:rgba(159, 163, 167, 0.233);

}
.content_middle_container button{
	margin:60px 0 0px 10px;
	color: black;
	background: white;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border:1px solid black;
	text-align:center;
	padding:0.3em 1.2em;


}
.content_middle_container button:hover{
	background-image: linear-gradient(blue, lightblue);
	color:white;
}
.bottom_content{
	width:1480px;
	/* border:2px solid red; */
	display: flex;
	justify-content: center;


}

.bottom_content .facts{
	width :480px;
	/* border:2px solid blue; */
	margin-right:100px;
	margin-top:20px;

}
.bottom_border{
	width:1002px;
	border-top:2px solid black;
	margin-top:20px;
	margin-left: 238px;
}

.services-info-img{
	margin-top:20px;
}

p{

	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
li{
	list-style-type: square;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.services_bigger{
	font-size:18pt;
}


@media(max-width:800px){

    .nav_container{
        width:80%;

        /* border:2px solid  purple; */

    }
    .main_nav_logo_container{

        display: flex;
        justify-content: center;
    }

    .logo{
        /* margin-right:250px; */
        /* border:2px solid blue; */
        /* position:absolute; */
        margin-left:-330px;

    }

    .nav {
        margin-top:50px;
        margin-right:-70px;
        /* border:2px solid black; */

    }
    .nav a{

        /* border:2px solid red; */
        /* padding-left:40px; */

    }
    .header_container .header_img{
        display:none;

    }

    .content-first{
    width:90%;
    display:flex;
    margin-left: 20px;
    }

    .middle-img{
        width:690px;
        margin-left:10px;
    }


}

@media(max-width:500px){

    .nav_container{
    width:100%;
    background-color: transparent;
    height:420px;

    /* border:2px solid red; */
    display:flex;
    /* border:2px solid blue; */
    justify-content: center;

}

nav a.services{
    margin-top:100px;
    margin-left:0px;
}
.main_nav_logo_container{
    /* border:2px solid red; */

    width:500px;
}
.logo{
    /* position:absolute; */
    margin-left:-180px;

    /* top:-330px; */
    /* border:2px solid purple; */
}
.nav a{
    border-top:1px solid grey;
    background-color:transparent; /* Grey background color */
    color: grey; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    margin-left:0px;
    text-align: center;

}

.nav a:hover{
    background-image: linear-gradient(blue, lightblue);
	color:white;
}
.header_container{
width:100%;
/* border-bottom:1px solid blue; */
border:none;
}

.header_container .header_img{
    display:none;



}
.header_container .name{
    margin-left:50px;
    /* border:2px solid black; */
}

.content-first{
    width: 75%;
    /* border:2px solid blue; */
    margin-left:0%;
    display: block;
    margin:0 auto;
    border:none;

}

.content-first div{
    margin:0 auto;
    /* border:2px solid black; */


}
.middle-img{
    margin:0 auto;
    width:400px;
    margin-left:30px;
}

.content_bottom{
width: 100%;
/* border:2px solid red; */
margin-left:30px;
display:block;
border:none;


}

.content_bottom div{
    width:400px;
    /* border:2px solid blue; */
    margin: 0 auto;
}

.content-first .features_title{
    padding-top:20px;
    border-top:1px solid black;
}

.content_bottom .vision{
border-bottom: 1px solid black;
padding-bottom:20px;
}
.contact{
margin-left:70px;
}

footer{
margin-left:115px;
}

}






