/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	max-width: 900px;
	margin: auto;
} 

 nav {
	display: inline-block;
	margin-top: 30px;
	margin-left: 20px;
    color: lightgray;
    /* border: 1px solid red; */
}

 nav a {
	margin: 0 20px;
	
}
 .logo{
	margin-left: 100px;
}

.titlecontent{
	width: 900px;
	height: 500px;
	margin: auto;
	display: inline-block;
	box-sizing: border-box;
	
}

.titlebox{
	display:inline-block;
	width: 300px;
	height: 400px;
	margin:50px;
	margin-bottom: 50px;
	vertical-align:top;
/* hello */
}

.header_img{
	display:inline-block;
	margin: 50px 50px;
}

h1{
	font-size: 75px;
	text-align: center;
	padding: 25px;
}

h2{
	width: 150px;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin: 20px 75px;
}

.top_content{
	display: inline-block;
	width: 900px;
	box-sizing: border-box;
	border-top: 1px solid black;
	padding: 20px 0px;
	
}

.featuresbox{
	display: inline-block;
	width: 45%;
	margin: auto;
	padding: 20px;
}

.aboutbox{
	display: inline-block;
	width: 45%;
	margin: auto;
	padding: 20px;
}

.bottom_content{
	display: inline-block;
	width: 900px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	padding: 20px 0px;
}

.productbox{
	display: inline-block;
	width: 30%;
	margin: auto;
	padding: 20px;
}

.visionbox{
	display: inline-block;
	width: 30%;
	margin: auto;
	padding: 20px;
}

.servicebox{
	display: inline-block;
	width:30%;
	margin: auto;
	padding: 20px;
}


address{
	margin-left: 15px;
	padding:5px;
}

address p {
	margin: 10px 0px;
}

#cont{
    margin-top: 50px;
    width: 12%;
    display: flex;
    justify-content: center;
}
footer a {
	display:inline-block;
	width: 900px;
	text-align: center;
	margin-bottom: 200px;
}
.middle-img{
    width: 100%;
}

@media(max-width:800px){
    .container{
        width: 100%;
        padding: 50px 0;
    }
    .navcont{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    nav{
        display: flex;
        justify-content: space-around;
        width: 95%;
        margin: auto;
    }

   
    
    .header_img{
        display:none;
    }
    .titlebox{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .top_content{
        width: 95%;
        display:flex;
        align-items: center;
        margin:auto;
    }
    .middle-img{
        width: 95%;
        margin:auto;
        display:flex;
        align-content: center;
    }
    .bottom_content{
        width: 95%;
        display:flex;
        align-items: center;
        margin:auto;
    }
    .contactinfo{
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    .contactinfo #cont{
        width: 12%;
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 500px){
   .container{
       width:100%;
   }
   .logo{
       display:flex;
       align-content: center;
       margin:20px auto;
   }
    nav{
        flex-direction: column;
        align-items: center;
        border-top: 1px solid lightslategrey;
    }
    nav a{
        width: 100%;
        height: 50px;
        display:flex;
        justify-content:center;
        align-items: center;
        border-bottom: 1px solid lightslategrey;
    }
        
    
    .titlecontent{
        width: 100%;
        height: 10%;
    }
    
    .top_content{
        flex-direction: column;
    }
    .featuresbox{
        width: 90%;
        margin: 0;
        padding: 0;
        display:flex;
        flex-direction: column;
        
    }
    .aboutbox{
        width:90%
    }

    .bottom_content{
        flex-direction: column;
    }
    .servicebox{
        width:90%
    }
    .productbox{
        width:90%
    }
    .visionbox{
        width:90%
    }
    footer a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contactinfo #cont{
        margin-top: 50px;
        width: 20%;
        display: flex;
        justify-content: center;
    }
}