/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	display: flex;
	justify-content: center;
}

.container {
	width: 880px;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 697px;
}

header nav a {
	display: inline-block;
	color: gray;
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
}

header nav a:last-child {
	margin-right: 65px;
}

/* call to action */

.cta {
	display: flex;
	justify-content: space-evenly;
	margin: 65px 0px;
}

.cta-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 77px;
	width: 420px;
}

button {
	border: 1px solid black;
	background: white;
	padding: 8px 50px;
}

/* middle content */

.middle-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 35px 0px;
}

.top-content, .bottom-content {
	display: flex;
	justify-content: space-between;
}

.top-content .text-content {
	width: 430px;
}

.bottom-content .text-content {
	width: 275px;
}

.middle-img {
	margin: 35px 0px;
}

/* footer */

.contact {
	margin: 35px 0px;
}

.contact p {
	margin: 20px 0px;
}

footer {
	text-align: center;
	margin: 35px 0px;
}

/* services css below */

.services-header-img {
	margin: 25px 0px;
}

/* services */

.services {
	border-bottom: 1px solid black;
	padding-bottom: 40px;
}

.services h2 {
	font-size: 24px;
}



/* section area in middle*/

.middle-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.middle-container .text-content {
	border: 1px solid black;
	width: 420px;
	margin: 20px 0px;
	padding: 20px;
	line-height: 1.2;
}

.middle-container .text-content .learn-more {
	border: 1px solid black;
	border-radius: 5px;
	width: 140px;
	padding: 10px 30px;
	margin-top: 25px;
	text-align: center;
	font-size: 12px;
}

/* facts */

.bottom-container {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid black;
	margin: 20px 0px;
	padding: 40px 0px;
}

.bottom-container .facts {
	width: 410px;
	line-height: 1.2;
}

.bottom-container .facts ul li {
	list-style-type: square;
	list-style-position: inside;
	margin: 14px 0px;
}

/* tablet media view */

@media (max-width: 800px) {
  header {
    border: 1px solid purple;
    flex-direction: column-reverse;
    margin: 0;
    height: 140px;
    justify-content: space-evenly;
  }

  header nav {
    padding: 0;
  }

  main .cta .header-img {
    display: none;
  }
}