/* ------ */
/* BANNER */
/*------- */
.banner {
  border-bottom: 1px solid black;
  display: flex;
}

  .banner_text {
    width: 49%;
    text-align: center;
    vertical-align: top;
    margin-top: 95px;
  }

    .banner_text h1 {
      font-size: 65px;
      line-height: 50px;
    }

    .banner_text a {
      border: 1px solid grey;
      padding: 5px 30px;
      text-decoration: none;
      color: grey;
      transition: 0.3s;
    }

    .banner_text a:hover {
      background-color: grey;
      color: white;
    }

  .banner_img {
    padding: 50px 0;
    width: 50%;
    text-align: center;
  }

    .banner_img img {width: 310px;}

/* ----------- */
/* SECTION  */
/*------------ */
.section{
  display: flex;
  justify-content: space-between;
}

  .s1 {
    width: 48%;
    padding: 40px 0px;
  }

  .s2 {
    width: 30%;
    padding: 40px 0px;
  }