/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

ul, ol{
	list-style-type: none;
	line-height: 120%;
}


/* BEGIN CSS INDEX.HTML */
/* importing another font family */

@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

html {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 80px;
}

/* Begin header CSS */

header {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

header nav {
	display: flex;
	justify-content: space-evenly;
	align-content: center;

}

header nav a {
	color: gray;
	text-decoration: none;
	height: 30px;
	margin-top: 40px;
	order: 1;
}

.logo {
	height: 40px;
	width: 200px;
	align-self: center;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 15px;
	order: 2;

}

/* Header CSS end  */
/* Begin top-third CSS*/

.top-third {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo-alt {
	font-family: 'Bangers', cursive;
	width: 300px;
	height: 210px;
	margin-top: 105px;
	margin-left: 195px;
}

.logo-alt * {
	text-align: center;
	font-size: 75px;
	line-height: 75px;
}

.codesnippet {
	width: 380px;
	height: 380px;
	margin-top: 57px;
	margin-right: 77px;
}

.top-third button {
	text-decoration: none;
	background-color: white;
	border: 1px solid black;
	font-size: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 41px;
	padding-right: 41px;
	margin-top: 5px;
	margin-right: 480px;
	margin-left: 260px;
	display: inline;

}

button:hover {
	background-color: black;
	color: white;
}

/* End top-third CSS*/
/* Begin midlle-third CSS */

.middle-third {
	border-top: 2px solid black;
	margin-left: 75px;
	margin-top: 38px;
	margin-right: 80px;
	padding-top: 23px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.middle-third-2{
	border-bottom: 2px solid black;
	height: 200px;
	width: 880px;
	margin-left: 68px;
	margin-right: 30px;

	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}

.middle-third h3 {
	margin-top: 10px;
	margin-bottom: 18px;
	width: 300px;
	font-family: 'Bangers', cursive;
}

.middle-third-2 h3 {
	margin-top: 10px;
	margin-bottom: 14px;
	font-family: 'Bangers', cursive;
}

.flex-item {
	height: 120px;
	width: 430px;
}

.middle-img {
	width: 885px;
	margin: 10px;
	margin-top: 20px;
	margin-left: 70px;
}

.flex-item-2 {
	height: 180px;
	width: 280px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	align-self: center;

}

/* End main-body CSS */
/* Begin bottom-third CSS */

.bottom-third {
	display: flex;
	flex-flow: row wrap;
	height: 160px;
	width: 885px;
	margin-left:73px;
	margin-top: 33px;
	justify-content: flex-start;
	}
	

address {
	display: flex;
	flex-flow: column wrap;
}

.contact-section h3 {
	font-family: 'Bangers', cursive;
}

address p{
	align-items: space-between;

}

address a {

	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 1px;
}

/* End bottom-third CSS */
/* Begin footer CSS */

footer {
	padding-top: 3px;
	text-align: center;
	height: 40px;
}

#copyright {
	font-size: 19px;
}

/* End footer CSS */
/* END CSS FOR INDEX.HTML */

/*BEGIN SERVICES PAGE CSS */
/* Begin top-third-services CSS */

.top-third-services{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	margin-left: 5%;
	margin-right:3%;
	margin-bottom: 2%;
	width: 88vw;
	border-bottom: 2px solid black;
}

#services-header-img {
	width: 88vw;
	margin-bottom: 4%;
	height: 20vh;
	
}

#services-overview {
	margin-bottom: 4%;
	width: 85vw;
}
/* End top-third-services CSS */
/* Begin middle-third-services CSS */

.content-main {
	display: flex;
	flex-flow: row wrap;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 4%;
	margin-bottom: 4%;
	border-bottom: 2px solid black;
}

.contentBox {
	background-color: rgba(126, 125, 125, 0.178);
	display: flex;
	flex-wrap: wrap;
	font-size: 10;
	border: 1px solid black;
	padding: 2%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
	width: 44%;
	height: 245%;
	line-height: 130%;

}

.contentBox p {
	margin-bottom: 7%;
	margin-left: 2%;
}

.contentBox h3 {
	display: block;
	margin-top: 2%;
	margin-left: 2%;
}

.contentBox button {
	border: 1px solid black;
	background-color: white;
	width: 15vw;
	height: 4vh;
	border-radius: 4px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 13px;
}

/* End middle-third-services CSS */
/* Begin bottom-third-services CSS */

.bottom-third-services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	}

#services-list {
	margin-left: 5%;
	width: 30%;
	height: 50%;
	line-height: 120%;
}

#services-list * {
	list-style-type: square;
	margin: 3%;
}

.services-info-img {
	margin-right: 10%;
}

/* End bottom-third-services CSS */ 
/* END SERVICES PAGE CSS */

/* add media query break- point CSS to this area */

@media (max-width: 1000px) {
	

	.codesnippet {
		display: none;
	}

}

@media (max-width: 800px) {

header {
	height: auto;
	
}

header nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}

header nav a {
	order: 2;
	width: auto;
	height: auto;
	align-self: center;
	margin-top: 3%;

}

.logo {
	width: 100%;
	padding-left: 35%;
	padding-right: 35%;
	order: 1;
	}

.logo-alt {
	display: flex;
	flex-flow: row wrap;
	margin-left: 32%;
	margin-top: 18%
	line-height: 12px;
	margin-bottom: 4%;
}

.top-third button {
	font-size: 15px;
	justify-items: space-evenly;
	width: 200px;
	height: 8vh;
	padding-left: 8%;
	padding-right: 8%;
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 4%;
	line-height: 15px;
	align-content: 
	display: inline-block;
}   

.middle-third {
	width: auto;
	padding-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	display: flex;
	justify-items: space-around;
}

.flex-item {
	width: 45%;
}

.middle-img {
	width: 90vw;
	height: 170px;
	margin-top: 5%;
	margin-right: 12%;
}

}