.services-header-img {
	margin: 35px 0px;
}

.services-header {
	padding-bottom: 45px;
	border-bottom: 1px solid black;
}

.services-header h2 {
	font-size: 28px;
}

.service-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 35px 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.service-block {
	width: 420px;
	border: 1px solid black;
	margin-bottom: 40px;
	background-color: whitesmoke;
	padding: 15px;
}

.service-block button {
	margin-top: 15px;
	background-color: white;
	padding: 8px 35px;
	border: 1px solid black;
	border-radius: 5px;
}


.service-facts {
	display: flex;
	padding-top: 40px;
}

.facts-container {
	padding-right: 40px;
}

.facts-container ul {
	margin-top: 15px;
}

.facts-container ul li {
	margin: 10px;
	list-style-type: square;
	margin-left: 17px;
}