/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
	width: 880px;
	margin: 0 auto;
}

header nav {
	width: 650px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 35px;
  }
  
  header nav a {
	font-size: 16px;
	color: black;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
  
  
  header .logo {
	display: inline-block;
	position: relative;
	left: 750px;
	bottom: 50px;
	margin-top: 25px;
	flex-wrap: wrap;
	
  }
  
  
  .cta .cta-text {
	display: inline-block;
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 75px;
  }
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  .cta img {
	display: inline-block;
	margin-top: 69px;
  }
  
  .main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
  }
  
  .main-content .top-content {
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; 
  }
  
  .main-content .top-content .text-content {
	width: 50%;
	padding: 10px; 
	flex-direction: row;
	justify-content: space-between;
  }
  
  .main-content .middle-img {
	margin-top: 45px;
  }
  
  .main-content .bottom-content {
	margin-top: 37px;
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap; 
  }
  
  .main-content .bottom-content .text-content {
	width: 275px;
	 padding: 15px; 
	flex-direction: row;
	justify-content: space-between;
	
  }
  
  .contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
  }
  
  .contact p {
	margin: 20px 0;
  }
  
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
  }

  .main-content .squares {
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: row; 
  }

 .main-content .squares .s-style {
	  margin: 20px; 
	  padding: 20px;
	  border: solid black 1px;
	  background: rgb(172, 166, 166);

  }

  .main-content .squares .s-style p {
	  width: 350px;
	  height: 200px;
	  padding: 20px;
  }

  .services {
	padding: 20px;
	}
	
/*---------------------------------------Tablet----------------------------------*/

@media (max-width: 800px) {

.container {
	width: 800px;
}
	.cta img {
		display: none;
	}

header nav {
	margin-top: 150px;
}

header .logo {
	position: relative;
	bottom: 125px;
	left: 200px;
  }
}
/*-------------------------------------Mobile----------------------------------*/
@media (max-width: 500px) {
	.container {
		width: 500px;
	}

	header .logo {
		position: relative;
    bottom: 450px; 
	}

	header nav{
flex-flow: column wrap;
	}

	header nav a {
		padding: 20px;	
		width: 100%;
		border-top: solid black 1px;
		text-align: center;
		align-items: center;
	}

	header nav a:last-child {

		border-bottom: solid black 1px;
	}

	header nav a:hover {
		color: white;
		background: black;
		text-decoration: none;
	}

	.main-content {
		width: 100%;
	}
}
