/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

ul, ol{
	list-style-type: none;
	line-height: 120%;
}


/* BEGIN CSS INDEX.HTML */
/* importing another font family */

@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

html {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 20px;
}

/* Begin header CSS */

header {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10vh;
}

header nav {
	display: flex;
	justify-content: space-around;
}

header nav a {
	color: gray;
	text-decoration: none;
	margin-top: 3%;

}

.logo {
	height: 5vh;
	width: 20vh;
	align-self: center;
	margin-bottom: 1%;
}

/* Header CSS end  */
/* Begin top-third CSS*/

.top-third {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo-alt {
	font-family: 'Bangers', cursive;
	width: 60%;
	height: 20%;
	margin-top: 13%;
}

.logo-alt * {
	text-align: center;
	font-size: 100px;
	line-height: 100px;
}

.codesnippet {
	width: 40%;
	margin-top: 10%;
}

.logo-2-section button {
	text-decoration: none;
	background-color: white;
	border: 1px solid black;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 50%;
	margin-left: 26%;
	margin-bottom: 6%;
	align-self: flex-end;
}

button:hover {
	background-color: black;
	color: white;
}

/* End top-third CSS*/
/* Begin main-body CSS */

.main-body{
	border-top: 2px solid black;
	margin: 4%;
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.mainBody2 {
	border-bottom: 2px solid black;
	padding: 10px;
	margin: 2%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.mainBody1 h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Bangers', cursive;
}

.mainBody2 h3 {
	margin-top: 2%;
	margin-bottom: 5%;
	font-family: 'Bangers', cursive;
}

.flexItem {
	height: 110px;
	width: 45%
}

.middle-img {
	width: 95%;
	margin: 3%;
}

.flexItem2 {
	height: 110px;
	width: 30%;
	margin-bottom: 7%;
}

/* End main-body CSS */
/* Begin bottom-third CSS */

address {
	display: flex;
	flex-flow: column wrap;
}

.contact-section h3 {
	font-family: 'Bangers', cursive;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%
}

address p{
	align-items: space-between;
	margin-left: 2%;
}

address a {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 2%;
}

/* End bottom-third CSS */
/* Begin footer CSS */

footer {
	margin-top: 5%;
    text-align: center;
}

/* End footer CSS */
/* END CSS FOR INDEX.HTML */

/* Start of CSS for Great-Idea!-Services section */

.services-jumbotron {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	margin-left: 5%;
	margin-right:3%;
	margin-bottom: 2%;
	width: 88vw;
	border-bottom: 2px solid black;
}

#services-header-img {
	width: 88vw;
	margin-bottom: 4%;
	height: 20vh;
	
}

#services-overview {
	margin-bottom: 4%;
	width: 85vw;
}

.content-main {
	display: flex;
	flex-flow: row wrap;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 4%;
	margin-bottom: 4%;
	border-bottom: 2px solid black;
}

.contentBox {
	background-color: rgba(126, 125, 125, 0.178);
	display: flex;
	flex-wrap: wrap;
	font-size: 10;
	border: 1px solid black;
	padding: 2%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
	width: 44%;
	height: 245%;
	line-height: 130%;

}

.contentBox p {
	margin-bottom: 7%;
	margin-left: 2%;
}

.contentBox h3 {
	display: block;
	margin-top: 2%;
	margin-left: 2%;
}

.contentBox button {
	border: 1px solid black;
	background-color: white;
	width: 15vw;
	height: 4vh;
	border-radius: 4px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 13px;
}

/* End of styling for content-main */

.bottom-third {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

#services-list {
	margin-left: 5%;
	width: 30%;
	height: 50%;
	line-height: 120%;
}

#services-list * {
	list-style-type: square;
	margin: 3%;
}

.services-info-img {
	margin-right: 10%;
}


/* add media query break- point CSS to this area */

@media (max-width: 800px) {
	.container
}