@import url("./normalize.css");

/* ========== GENERAL ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* outline: 1px solid rgba(200, 200, 200, 1); */
}
body {
  font-family: serif;
  font-family: "Titillium Web", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
}
h3 {
  font-size: 1em;
  letter-spacing: 0.07em;
  margin: 0 0 10px 0;
}
.small {
  font-size: 0.85em;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
/* ========== HEADER ========== */
nav .logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
}
.logo h1 {
  visibility: collapse;
  height: 55px;
  margin: 0;
}
.nav-links {
  display: flex;
  flex-flow: column wrap;
}
.nav-links a {
  text-align: center;
  color: grey;
  text-decoration: none;
  padding: 12px 0;
  border-bottom: 1px solid grey;
}
.nav-links a:first-child {
  border-top: 1px solid grey;
}
.top-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 35px 0;
  margin: 0 0 25px 0;
}
.top-content h2 {
  font-size: 3.4em;
  text-align: center;
  padding: 0 75px;
  margin: 0 0 25px 0;
}
.top-content button {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  height: 30px;
  width: 164px;
}
.top-content img {
  visibility: collapse;
}
/* ========== MAIN ========== */
.middle-content {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 92vw;
  margin: 0 auto;
}
.services section {
  padding: 25px 0;
}

/* ========== FOOTER ========== */
.bottom-content {
  padding: 25px 4vw;
}
.bottom-content address div:not(:last-child) {
  margin: 0 0 15px 0;
  color: black;
  text-decoration: none;
  font-style: normal;
}
.bottom-content address a {
  color: black;
  text-decoration: none;
}
.copyright {
  text-align: center;
  padding: 35px 0 0 0;
}
/* ========== MEDIA QUERIES ========== */
