/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* mobile first */

@media (max-width: 500px){
  .container {
    max-width: 500px;
    margin: 1rem 0;
  }

  header .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .nav a:nth-child(7) {
    order: -1;
  }

  header .nav a {
    height: fit-content;
    border-bottom: 1px solid black;
    min-width: 100%;
    color: #A7A6A7;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .top  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .left h1 {
    font-size: 72px;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
  }
  
  .left button {
    font-size: 16px;
    padding: 5px 20px;
    border: 1px solid black;
    margin: 20px;
  }

  .top .right {
    display: none;
  }

  .upper-middle, .lower-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-top: 2px solid black;
  }

  .upper-middle div, .lower-middle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 20px; */
  }

  .upper-middle div h2, .lower-middle div h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px 0;
  }

  .upper-middle div p, .lower-middle div p {
    margin: 0 0 20px 0;
  }
  
  .middle-img {
    background: url("../img/mid-page-accent.jpg") no-repeat center;
    background-size: cover; 
    height: 100px;
    margin: 20px;
  }

  .lower-middle {
    border-bottom: 2px solid black;
  }

  .contact address h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }
  .contact address p {
    margin: 5px 0;
  }
}

/* tablet view */

@media(max-width: 800px){
  .container header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav a {
    color: #A7A6A7;
    margin: 20px;
  }
  .nav a:nth-child(7){
    order: -1;
    margin: 20px 50%;
  }

  .top {
    display: flex;
  }
  .left {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .left h1 {
    font-size: 72px;
    text-align: center;  
    font-weight: bolder;
    margin: 20px 0;
  }
  .left button {
    padding: 5px 20px;
    background: #fff;
    border: 1px solid black;
    font-weight: 500;
    font-size: 14px;
  }
  .right {
    display: none;
  }
}

/* desktop */

body {
  display: flex;
  justify-content: center;
}

.container{
  margin: 20px;
}

header {
  flex-direction: row;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav a {
  color: #A7A6A7;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}
.left{
  width: 50%;
  margin: 20px;
}
.left h1 {
  font-size: 72px;
  font-weight: bolder;
}

.left button {
  font-size: 16px;
  padding: 5px 15px;
  margin: 20px;
  border: 1px solid black;
  background: white;
}
.upper-middle{
  display: flex;
  border-top: 1px solid black;
  margin: 20px 10px;
}
.upper-middle h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}
.middle-img {
  background: url("../img/mid-page-accent.jpg") no-repeat center;
  background-size: cover; 
  height: 100px;
  margin: 20px 10px;
}
.lower-middle {
  display: flex;
  border-bottom: 2px solid black;
  margin: 20px 10px;
}
.lower-middle div {
  margin: 20px 10px;
}
.lower-middle h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}
.contact {
  margin: 20px;
}

.contact address h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.contact address p {
  margin: 5px 0;
}
.copyright {
  text-align: center;
  margin: 15px 0;
}