/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body{
	margin-left:5%;
	margin-right:5%;
}

a {
	text-decoration:none;
	color: gray;
}

a:hover{
	color: black;
	background-color:rgba(211,211, 211, .8);
}

.header{
	position: fixed;
	z-index:1;
	top:0;
	width: 90%;
	background-color:white;
	display: flex;
	border-bottom: solid 2px;
}

.header a, .header div {
	width: 100%;
	height:100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.main{
	margin-top:100px;
	width:100%;
	height:500px;
	border-bottom:solid 2px;
	display: flex;
}

.text-main, .img{
	display: flex;
	width:100%;
	justify-content: space-around;
	align-items: center;
	align-content:space-around;
}

.text-main{
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.text-main span{
	padding:50px;
	padding-top:5px;
	padding-bottom:5px;
	border:solid 1px;
	width:auto;
}	

.text-main a {
	color: black;
}

.main h1{
	font-size:6rem;
}

.img{
	background-image: url("../img/header-img.png");
	background-size:auto;
	background-repeat:no-repeat;
    background-position:center;
}

.middle-text{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    font-size: 1.3rem;
    margin: 2% 0 2% 0;
    padding: 0 0 2% 0;
    border-bottom: 2px solid black;
}

.info-top{
	width:100%;
	display:flex;
	font-size:1.5rem;
	padding-top:2%;
}

.info div{
	padding-right:5px;
}

.info-img{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top:2%;
	margin-bottom: 2%;
}

.info-bottom{
	display: flex;
	font-size:1.5rem;
	padding-bottom:2%;
	border-bottom: solid 2px;
}

.features{
	width:50%;
}
.about{
	width:50%;
}
.services{
	width:33.3%;
}
.product{
	width: 33.3%;
}
.vision{
	width: 33.3%;
}
.footer{
	padding-top:2%;
	font-size:1.5rem;
}
.copyright{
	width:100%;
	text-align:center;
	padding: 5% 0 5% 0;
}

.services-top{
	margin-top:100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	padding-bottom:2%;
	border-bottom: solid 2px;
}

.services-top h1{
	font-size:3rem;
}

.services-top img{
	margin: 2% 0 2% 0;
}

.services-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:2%;
	border-bottom: solid 2px;
}

.services-main div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 48%;
	font-size: 1.3rem;
	margin: 2% 0 2% 0;
	padding:1%;
	border: solid 2px;
	background-color: rgba(211,211, 211, .8);
}

.services-main span{
	padding:2%;
	margin-top:5%;
	border: solid 1px;
	border-radius: 5px;
	background-color: white;
}

.services-footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 1.3rem;
}

.services-footer img{
	width: 98%;
	margin:2%;
}

.services-footer div{
	width:48%;
	margin-top:2%;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: square;
	list-style-position:inside
}

ul li {
	margin: 2% 0 0 0;
}

@media only screen and (max-width:865px){
    .img {
        display: none;
    }
    .main{
        margin-top:0px;
    }
    .header{
        position: relative;
        width:100%;
        flex-wrap: wrap;
    }
    .header div{
        order:-1;
        width:100%;
    }
    .header a {
        width: 16.66%;
    }
    .logo{
        height: 50px;
    }
}

@media only screen and (max-width: 800px){
    .middle-text{
        display: flex;
        flex-direction: column;
    }
    .middle-text div{
        margin: 2% 0 2% 0;
    }
    .features{
        width:100%;
    }
    .about{
        width: 100%;
    }
    .services{
        width: 100%;
    }
    .product{
        width: 100%;
    }
    .vision{
        width: 100%;
    }
    body{
        margin:0;
    }
    .header{
        width: 100%;
    }

}

@media only screen and (max-width:500px){
    .header{
        flex-direction: column;
    }

    .header a, .header div{
        border-bottom:1px solid;
    }
    .header a {
        width: 100%;
    }

    .text-main h1{
        font-size: 4.2rem;
    }
}



