/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
 .container {
	width: 900px;
	margin: 0 auto;
}
header nav {
	display: inline-block;
	/* width: 800px; */
	vertical-align: top;
	margin-top: 30px;
	

}
.top-content header nav {
	display: inline-block;
	margin: 15px;
	padding: 10px;
	vertical-align: top;
}
header nav a {
	padding: 17px;
	display: inline-block;
	font-size: 16px;
	color: gray;
	}
.headings .head-image {
	display: inline-block;
	/* width: 800px; */
	vertical-align: top;
	padding: 0px; 
	margin-top: 130px;
	}
	.headings .comp {
		display: inline-block;
	} 
	
.mid-section, .mid-content {
	display: inline-block;
}
nav .logo {
	display: inline-block;
	margin-left: 140px;
	}
	.logo {
		display: inline-block;
	}
h1 {
	font-size: 60px;
	/* width: 400px; */
	margin-top: -34px;

}
/* body {
	background-image: url("https://www.bing.com/th?id=OIP.YKjxr5cRUsZ7UYD-JfpRKAHaFL&w=242&h=169&c=7&o=5&pid=1.7");
} */

h2,p {
	text-align: left;
}
.headings .head-image {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0px 70px;
} 
.headings .head-image button {
	background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}
.mid-content .text-section {
	display: inline-block;
  	vertical-align: top;
  	font-size: 20px;
  	margin-top: 20px;
  	text-align: center;
  	padding: 0px 10px;
}
.mid-content {
	border-top: 1px solid black;
	padding-top: 10px;
}
.mid-content .mid-section .text-section {
	width: 400px;
  	display: inline-block;
  	margin-right: 20px;
}
.mid-content .near-bottom .text-section {
	width: 275px;
  	display: inline-block;
	margin-right: 12px;
	padding: 10px;
	
}
.middle-img {
	padding-top: 20px;
}
li {
	padding-top: 4px;
}
.bottom-section p {
	padding-bottom: 3px;
}
.bottom-section p .gap {
	padding-top: 0px;
}
.copyright {
	text-align: center;
}

/*stretch*/
/* header nav a:hover {
	text-decoration: underline;
  } */
 

