/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* HOME PAGE */

#home {
    width: 900px;
    margin: 0 auto;
}

.logo {
    display: flex;
    width: 150px;
    height: 30px;
    margin-right: 15px;
}

.topNav {
    display: flex;
    margin: 15px 0px;
}

.topNav a {
    padding: 20px;
    text-decoration: none;
    display: flex;
    color: gray;
}

a:hover {
    color: black;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innovation {
    margin-top: 50px;
    font-size: 75px;
    text-align: center;
}

.innovationAndButton {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.button {
    width: 200px;
    display: flex;
    justify-content: center;
}

.button a {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}

#topImage {
    display: flex;
    padding-bottom: 50px;
}

header {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

hr {
    margin: 30px 0px;
}

.firstSections {
    display: flex;
    justify-content: space-between;
}

.features {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 10px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 10px;
}

.middle-img {
    margin: 30px 0px;
    width: 898px;
}

.secondSections {
    display: flex;
    justify-content: space-between;
}

.services {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 10px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 10px;
}

.vision {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 10px 10px;
}

footer {
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
}


/* ABOUT PAGE */
#about {
    width: 900px;
    margin: 0 auto;
}

.topImage {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.biggerThanH2 {
    font-size: 26px;
}

.aboutServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.allServices {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: flex-start;
    width: 425px;
    height: 225px;
    padding: 20px;
    background-color: rgb(238, 239, 241);
}

.aboutButton {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    font-size: 12.5px;
    color: black;
    padding: 5px;
}

.allServices a {
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
}

.aboutButton:hover {
    background-color: rgb(211, 211, 211);
}

.thickLineBreak {
    margin: 30px 0px;
    border: 1.5px solid black
}

.bottomContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.factsAboutServices {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 2;
}

.services-info-img {
    display: flex;
    align-content: flex-end;
    margin-left: 20px;
}


/* Tablet View */
@media (max-width: 888px){
    #home {
        width: 100%;
        max-width: 800px;
    }

    .topBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .topNav {
        display: flex;
        margin: 15px 0px 15px;
        width: 100%;
        justify-content: space-around;
        order: 1;
        letter-spacing: 1px;
    }

    .logo {
        display: flex;
        width: 200px;
        height: 40px;
        margin: 35px 0px 10px 15px;
    }

    header {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    #topImage {
        display: none;
    }

    .innovationAndButton {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 7px 27px;
        justify-content: center;
    }

    .innovation {
        font-size: 80px;
        text-align: center;
        margin: 45px 10px 8px 0px;
        justify-content: center;
        display: flex;
    }

    .button h3 {
        letter-spacing: 1px;
        font-size: 20px;
        padding: 5px;
        font-family: sans-serif;
    }

    .button a {
        border: none;
        border: 1.5px solid black;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    .button a:hover {
        background-color: black;
        color: white;
    }

    hr {
        border:.5px solid black;
        margin: 50px 0px 30px 0px;
    }

    .firstSections {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .middle-img {
        margin: 30px 0px;
        width: 100%;
    }

    .secondSections {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .contact {
        margin-bottom: 20px;
        font-size: 18px;
    }

    address {

        font-size: 18px;
    }

    footer {
        margin-top: 60px;
        text-align: center;
        font-size: 18px;
    }
}


/* Mobile View */
@media (max-width: 555px) {
    #home {
        width: 100%;
    }

    .logo {
        display: flex;
        width: 200px;
        height: 40px;
        margin: 22px 0px 10px 15px;
        align-items: center;
    }

    .topNav {
        display: flex;
        flex-direction: column;
        margin: 15px 0px 15px;
        width: 100%;
        height: 405px;
        justify-content: space-around;
        align-items: center;
        order: 1;
        letter-spacing: 1px;
    }

    .topNav a {
        padding: 26px 20px 20px 20px;
        text-decoration: none;
        color: gray;
        font-size: 22px;
        width: 100%;
        border-top: 1px solid black;
        justify-content: center;
        display: flex;
    }

    .innovationAndButton {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .innovation {
        font-size: 80px;
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 40px 0px 0px 0px;
    }

    .button h3 {
        letter-spacing: 1px;
        font-size: 16px;
        padding: 5px;
        font-family: sans-serif;
    }

    hr {
        margin: 55px 3% 35px;
    }

    .firstSections {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 18px;
        line-height: 1.1;
        margin: 0px 3%;
        height: 340px;
    }

    .middle-img {
        margin: 30px 3%;
        width: 100%;
    }

    .secondSections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 3%;
        font-size: 18px;
        height: 475px;
    }

    .contact {
        margin: 0px 0px 20px 5%;
        font-size:18px;
    }

    address {
        margin: 0px 5%;
        font-size:18px;
    }

    footer {
        margin-top: 60px;
        text-align: center;
        font-size:18px;
    }
}