/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav {
	display:flex; 
    margin: 30px; 
	justify-content: space-around; 
}


.logo {
	display: flex; 
	align-content: flex-start;  
}

.firstSection{
	display: flex; 
	justify-content: space-evenly; 
}

.intro {
	display: flex; 
	font-size: 70px;  
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 

} 

h1{
	text-align: center; 
}

.button {
	border: solid 1px black;
	padding: 2px; 
	background: white; 
	color: black; 
	display: flex; 
	align-content: center; 
	font-size: 24px; 
	width: 170px; 
	flex-flow: column wrap;  
}

.topImage {  
	align-items: center; 
	justify-content: end; 
}


.topText {
	display: flex; 
	border: 2px black solid; 
	border-style: solid hidden hidden hidden; 
	border-spacing: 30px; 
	justify-content: space-around; 
	padding: 50px; 
	width: 80%; 
	margin: 30px 0px 10px 30px;
}

.centerImage{
	display: flex; 
	justify-content: center; 
	align-content: flex-end;
	margin: 30px;  
	width: 1000px; 
}

.bottomText {
	display: flex; 
	padding: 30px; 
	justify-content: space-around; 
	border: 2px black solid; 
	border-style: hidden hidden solid hidden; 
	align-items: flex-end; 
}

.contact {
    font-weight: bold;
}

address{
	display: flex; 
	flex-direction: column; 
    line-height: length;   
}

footer {
	display: flex; 
    justify-content: center; 
    font-weight: bold; 
}


@media (max-width: 800px) {
    
    body {
        width: 80%; 
    }

    nav {
        display: flex; 
        flex-flow:wrap-reverse; 
        color: #454745; 
        padding: 20px; 
        justify-content: center; 
    }

    .logo {
        padding: 30px; 
        justify-content: center;  
    }

    .firstSection {
        display: flex; 
        flex-direction: column; 
    
    }

    .intro {
        padding: 30px; 
    }

    .topImage {
        display: none; 
    }

    .topText {
        width: 70%; 
        border: 2px black solid; 
        border-style: solid hidden hidden hidden; 
        border-spacing: 30px; 
        justify-content: space-around; 
        padding: 50px; 
        width: 80%; 
        margin: 30px 0px 10px 30px;
    }
   
    .centerImage {
        width: 57%; 
    }

    .bottomText {
        display: flex; 
        justify-content: space-around; 
        padding: 20px; 
        margin: 20px; 
    }  
}

/*end of tablet media break*/

@media (max-width: 500px) {
    
    body {
        width: 40%; 
    }

    nav {
        display: flex; 
        flex-flow:wrap-reverse column; 
        color: #454745; 
        padding: 20px; 
        justify-content: space-between; 
    }

    .logo {
        padding: 30px; 
        justify-content: center;  
    }

    .firstSection {
        display: flex; 
        flex-direction: column; 
    
    }

    .intro {
        padding: 30px; 
    }

    .topImage {
        display: none; 
    }

    .topText {
        width: 70%; 
        border: 2px black solid; 
        border-style: solid hidden hidden hidden; 
        border-spacing: 30px; 
        justify-content: space-around; 
        padding: 50px; 
        width: 80%; 
        margin: 30px 0px 10px 30px;
    }
   
    .centerImage {
        width: 57%; 
    }

    .bottomText {
        display: flex; 
        justify-content: space-around; 
        padding: 20px; 
        margin: 20px; 
    }

    
}