        /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
        
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* Set every element's box-sizing to border-box */
        
        * {
            box-sizing: border-box;
        }
        
        html,
        body {
            height: 100%;
            font-family: 'Titillium Web', sans-serif;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Bangers', cursive;
            letter-spacing: 1px;
            margin-bottom: 15px;
        }
        /* Your code starts here! */
        
        .navigation {
            margin: 20px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            display: inline-block;
        }
        
        img {
            margin-left: 300px;
            padding: 10px;
        }
        
        .body-width {
            width: 1000px;
            margin: 0 auto;
        }
        
        a {
            margin: 10px 30px 10px 30px;
        }
        
        .head {
            font-size: 100px;
            display: inline;
        }
        
        button {
            border: 1px solid gray;
            padding: 10px;
            font-size: 20px;
            margin: 20px auto;
            display: inline;
        }
        
        .middle {
            margin: 20px auto;
            padding: 10px 10px 10px 10px;
            width: 45%;
            display: inline-block;
        }
        
        .headmaster {
            width: 45%;
            padding: 50px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
        }
        
        .middle-img {
            margin: 20px auto;
            padding: 0px 0px 0px 0px;
            width: 100%;
            display: inline-block;
        }
        
        .top-content {
            margin: 0px;
            /* border: 1px solid green; */
        }
        
        .features {
            /* border: 1px solid red; */
            margin: 20px 0px;
            width: 45%;
            padding: 5px;
            line-height: 1.25;
            display: inline-block;
        }
        
        .about {
            /* border: 1px solid blue; */
            margin: 20px 2%;
            width: 45%;
            padding: 5px;
            line-height: 1.25;
            display: inline-block;
        }
        
        .bottom-content {
            margin: 0px;
            /* border: 1px solid green; */
        }
        
        .services {
            /* border: 1px solid red; */
            margin: 20px 0px;
            width: 25%;
            padding: 10px;
            line-height: 1.25;
            display: inline-block;
        }
        
        .product {
            /* border: 1px solid blue; */
            margin: 20px 2%;
            width: 25%;
            padding: 10px;
            line-height: 1.25;
            display: inline-block;
        }
        
        .vision {
            /* border: 1px solid blue; */
            margin: 20px 2%;
            width: 25%;
            padding: 10px;
            line-height: 1.25;
            display: inline-block;
        }
        
        .contact {
            margin: 5px 2%;
            padding: 10px;
        }
        
        footer {
            margin: 5px 2%;
            padding: 10px;
        }