/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 80%;
	margin: auto;
}

/* index************************************** */

/* header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px 10px 0px;
}

/* mess with padding of links */

nav a {
	text-decoration: none;
	color: black;
	margin: 0px 60px 0px 60px;
	margin-left: 0px;
	font-size: 18px;
}

nav a:hover{
	border-bottom: 2px solid black;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* click logo to take back to index? */

.logo img {
	width: 225px;
}

/* first section */

/* play with padding of first section */

.firstSection {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 75px 0px 75px 0px;
	width: 80%;
	margin: auto;
}

.title {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.title h1 {
	font-size: 80px;
}

/* button */

.title a {
	padding: 10px;
	border-radius: 10px;
	background-color: deepskyblue;
	font-size: 20px;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
}

.title a:hover {
	background-color: lightskyblue;
}

.firstSection img {
	height: 500px;
}

/* second section */

.secondSection {
	padding: 75px 0px 75px 0px;
	border-top: 2px solid black;
	display: flex;
}

.secondSection div {
	font-size: 30px;
}

/* middle image */

.middle-img {
	width: 100%;
}

/* third section */

.thirdSection {
	display: flex;
	padding: 75px 0px 75px 0px;
	border-bottom: 2px solid black;
}

.thirdSection div {
	font-size: 30px;
}

/* footer */

footer {
	padding: 75px 0px 75px 0px;
	font-size: 30px;
}

footer p {
	text-align: center;
	padding: 75px 0px 75px 0px;
}

/* service**************************************** */

/* top image */

.services-header-img {
	margin: 25px 0px 25px 0px;
}
.services-header-image {
	width: 100%;
}

/* first section */

.serviceFirstSection {
	padding: 25px 0px 50px 0px;
	border-bottom: 2px solid black;
}

.serviceFirstSection h1 {
	font-size: 30px;
}

.serviceFirstSection p {
	font-size: 28px;
}

/* second section */

.serviceSecondSection {
	padding-top: 50px;
	border-bottom: 2px solid black;
	font-size: 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.serviceSecondSection div {
	width: 48%;
	border: 2px solid black;
	background-color: lightgray;
	margin-bottom: 50px;
	box-sizing: border-box;
	padding: 50px 50px 62px 50px;
}

/* does border add to height or is it inside and takes away some padding? */

.serviceSecondSection a {
	text-decoration: none;
	color: black;
	background-color: white;
	border: 2px solid black;
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
}

.serviceSecondSection a:hover {
	color: dimgray;
	border: 2px solid dimgray;
}

/* why is button padding on left respected but not on bottom? */
/* why won't box-sizing: border-box; work to get the 'learn more xbutton' padding inside box? */

/* third section */

.serviceThirdSection {
	font-size: 28px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.serviceThirdSection div {
	width: 45%;
}

.services-info-img {
	width: 100%
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

/* footer */

.serviceFooter {
	padding: 0px 50px 0px 50px;
}