/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

 * {
	margin: 0 auto;
} 

.container{
	margin: 0 auto;
	width: 1000px;
}

/* Header tags */
header{
	position: fixed;
    /* width: 875px; */
	padding: 20px;
}
 nav{
	display: inline-block;
	position: static;
    padding: 10px 80px 10px 5px;
}

 nav a{
padding: 30px;
padding-left: 40px;
font-size: 12px;
color: gray;
position: relative;
bottom: 15px;
text-decoration: none;

}

header img.logo{
	display: inline-block;
	position: static;
}


.firstSection{
width: 100%;
display: inline-block;
margin: 75px 25px 50px 25px;
z-index: -1;
}

h1 {
	font-size: 75px;
	text-align: center;
}

.getStarted{
	background-color: white;
	height: 30px;
	width: 150px;
	border: 1px solid black;
	text-align: center;
	padding-top: 6px;
	margin-left: 30%;
}
.innovation{
	z-index: -1;
	display: inline-block;
	position: relative;
    bottom: 50px;
    margin: 50px;
    width: 400px;
}

.codeSnippet{
	display: inline-block;
    margin-left: 75px;
    /* margin: 50px; */
    width: 390px;
}

.codeSnippet img{
	width: 350px;
	/* height: 350px; */
}

.mainBody{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0;
	z-index: -1;
}

.features {
	margin: 25px 0 40px 0;
	display: inline-block;
	box-sizing: border-box;
	width: 490px;
    /* height: 125px; */
}

.about {
	margin: 25px 0 40px 0;
	padding-left: 25px;
	display: inline-block;
	box-sizing: border-box;
	width: 500px;
	/* height: 125px; */
}

.middle-img {
	width: 100%;
}

.services  {
	margin: 40px 0 10px 0;
	display: inline-block;
	box-sizing: border-box;
	width: 325px;
	height: 125px;
	padding-right: 25px;
}

.product {
	margin: 40px 0 10px 0;
	display: inline-block;
	box-sizing: border-box;
	width: 325px;
	height: 125px;
	padding-right: 25px;
}

.vision {
	margin: 40px 0 10px 0;
	display: inline-block;
	box-sizing: border-box;
	width: 325px;
	height: 125px;
}

footer{
	margin-top: 40px;
	top: 50%;
	float: none;
}


.copyright {
	text-align: center;
	margin: 40px 0;
}

