/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding: 10px;
	display: block;
	
	
}
html, body {
	
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.tittle{
	font-size: 80px;
	color: darkcyan;
	position: relative;
	bottom: 10px;
	left: 400px;
}
.on{
	font-size: 80px;
	color: darkcyan;
	position: relative;
	bottom: 10px;
	left: 490px;
}
.main-containt1 .top-content {
	display: flex;
    width: 375px;
    margin: 10px;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 300px;
}
.upper .header_nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    left: 400px;
    margin: 10px;
}

.top-nav {
    
    justify-content: center;
	text-decoration: none;
	font-weight: bolder;
	font-family: 'Anton', sans-serif;
	font-size: 18px;
	color: rgb(161, 158, 158);
	width: 90px;
	margin: 30px;
	padding: 30px;
	
}
#tit{
    position: relative;
    left: -80px;
}
.top-nav:hover{
	color: darkcyan;
	
}

.circle-img:hover{
	filter: opacity(50%);
}
.middle-img{
	filter: opacity(90%);
    border-radius: 10px;
    width: 375px;

}

.logo{
	padding: 10px;
	position: relative;
	left: 430px;
	bottom: 40px;
}

/* .footer-nav{
	position: relative;
	left: 10px;
	bottom: 350px;
	width: 300px;
	margin: 30px;
	margin-bottom: 90px;
	display: inline-block;
} */
.getstart{
    font-weight: bold;
    width: 100px;
	background-color: rgb(209, 207, 207);
    border-radius: 1px;
    position: relative;
    right: -470px;
}
.getstart:hover{
	background-color: darkcyan;
}
p{
line-height: 1.25;
  margin: 20px 10px;
  display: inline-block;
  vertical-align: top;
}
h3{
	color: darkcyan;
}
h3:hover{
	color:tomato;
	font-size: 20px;
}

title{
	color: black;
}
.Contact{
	position: relative;
	bottom: 00px;
	left: 300px;
	width: 150px;
	line-height: 1.8;
}

.copy-right{
	text-align: center;
	position: relative;
	left: -150px;
}
hr{
    position: relative;
    left: -100px;
    widows: 375;
}
h1{
    color: black;
}


