/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	width: 900px;
	margin: auto;
}
header{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
	}
nav{
    display: inline-block;
    width: 890px;
}
nav a{
	margin: 0 25px;
    color: darkgrey;
    text-decoration: none;
}
.main-focus{
	display: inline-block;
	width: 890px;
    margin: 70px 0px;
}
h1{
	font-size: 75px;
}
.main-text{
	display: inline-block;
    text-align: center;
    margin-left: 75px;
}
.button{
	height: 35px;
	width: 150px;
	border: 1px solid black;
	padding: 8px;
	margin: 0px 0px 35px 75px;
	text-align: center;
}
.button:hover {
	background: yellow;
	height: 40px;
	width: 175px;
	border: 1px solid black;
	text-align: center;
  }
.circle-pic{
    display: inline-block;
	width: 350px;
	height:350px;
	margin-left: 80px;
	vertical-align: bottom;
}
.top-content section{
	display: inline-block;
	width: 800px;
}
.top-content .features{
	width: 447px;
}
.top-content .about{
	width: 447px;
    padding-left: 25px;
}
.image{
	padding: 40px 10px;
}
.bottom-content section{
	display: inline-block;
	width: 900px;
	vertical-align: top;
}
.bottom-content .services{
	width: 275px;
}
.bottom-content .product{
	width: 275px;
	padding-left: 25px;
}
.bottom-content .vision{
	width: 275px;
	padding-left: 25px;
}
address{
	padding-left: 20px;
	display: block;
}
.copyright{
	text-align: center;
}
hr{
	border: 0.5px solid black;
	background-color: black;
}

/* Tablet View @ 800px*/
@media (max-width:800px) {
    .container {
        min-width: 500px;
    }
 
    header {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    nav {
        display: flex;
        padding-top: 20px;
        justify-content: space-around;
  }
    a {
        /* margin: 0px; */
        text-decoration: none;
        color:darkgray;
        padding-left: 30px;
        padding-right: 30px;
    }
 
    .logo {
         margin: 20px auto;
         align-items: center;    
    }
 
    .main-focus{
        display: flex;
        width: 890px;
        flex-direction: column;
        align-items: center;
}
     .main-text{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-right: 150px;
     }
    .circle-pic{
        display: none;
    }
    .middle-text{
        margin: 20px;
    }
    .top-content{
        display: flex;
    }
    .bottom-content{
        display: flex;
    }
    .image{
        display: flex;
        padding: 40px 10px;
        flex-direction: column;
    }
 }
