/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
	vertical-align: top;
}

header {
	display: flex;
	height: 60px;
	vertical-align: top;
}

@media(max-width: 800px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

header nav {
	/* display: inline-block; */
	margin-top: 20px;
	margin-right: 125px;
	height: 35px;
	vertical-align: top;
}

header nav a {
	margin: 20px;
	color: gray;
	text-decoration: none;
}

.logo {
	margin-top: 10px;
}


.banner {
	display: flex;
}

.banner .banner-text {
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	/* display: inline-block; */
	width: 49.5%;
	height: 400px;
	margin: 20px 0;
}

.banner .banner-text#b-text {
	padding-top: 40px;
}

.banner .banner-text h1 {
	font-size: 80px;
	/* display: inline-block; */
}

.banner .banner-text button {
	width: 170px;
	padding: 7px 0;
	font-size: 1.1em;
}

.main {
	display:flex;
	vertical-align: top;
}

.main .main-content {
	padding: 25px 10px;
}
.main .main-content {
	width: 49.5%;	
	/* display: inline-block; */
}

.pic-content .middle-img {
	padding: 10px 10px;
}
.content {
	display: flex;
}
.content .content-triple {
	width: 33%;
	/* display: inline-block; */
	padding: 25px 10px;
}

.contact {
	padding: 25px 10px;
}

footer {
	text-align: center;
	margin: 20px 0;
	padding: 25px 0;
}

.address {
	margin-top: 16px;
	display: flex;
	/* display: inline-block; */
}

/********************************************* services page **********************************************/
.container {
	padding: 16px;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
}

.logo {
	width: 100%;
	margin-right: 0;
}

h1 {
	font-size: 26px;
	margin: 20px 0;
	
}

nav {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 35px;
}


.top-section {
	border-bottom: 1px solid black;
	padding: 20px 0;
}
.all-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
	border-bottom: 1px solid black;
	
}
.info-box {
	border: 1px solid black;
	background-color:lightgray;
	margin: 20px 0;
	width: 47.5%;

}
.bottom-section {
	display: flex;
}
p {
	margin: 20px; 
	line-height: 1.4;
}		
.first-para {
	width: 100%;
	margin: 0;
	padding: 10px 0;
}
.services-header-img {
	width: 100%;
	box-sizing: border-box;
	margin-top: 15px;
}
button {
	margin: 20px;
	padding: 10px 24px;
	width: 135px;
	border: 1px solid black;
	border-radius: 8px;
}
h2 {
	margin: 20px;
}
ul {
	margin: 0 20px;
	width: 70%;
	line-height: 2;
}
.bottom-section-h2 {
	margin: 20px 0;
	width: 70%;
}
.bottom-section-p {
	margin: 20px 0;
	width: 70%;
}
a:first-child {
	margin-left: 0;
}

.services-info-img {
	margin-top: 20px;
}

footer {
	margin-top: 30px;
}

