/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

/* Your code starts here! */

.container{
    max-width: 880px;
    margin: auto;
}

/* header code is here */
header{
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
@media (max-width:800px){
    header{
        flex-direction: column-reverse;
    }
}
header nav{
    width: 100%;
    margin-top: 5rem;
    display:flex;
    justify-content: space-evenly;
}
@media (max-width: 800px){
    header nav{
        justify-content: space-around;
    }
}
header nav a{
    font-size: 1.75rem;
    text-decoration: none;
    color: grey;
}
header nav a:hover{
    color: black;
}
header .logo{
    margin: 0 auto;
}

/* section class cta code starts here */
.cta {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}
.cta .cta-text{
    font-size: 7rem;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.cta .cta-text button{
    font-size: 2rem;
    border: 0.1rem solid black;
}

@media(max-width: 800px){
    #pic{
        display: none;
    }
}

/* main-content top-content class code start here */

.main-content{
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main-content .top-content{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;

}
.main-content .top-content .text-content h4{
    font-size: 2rem;
}
.main-content .top-content .text-content p{
    font-size: 1.5rem;
}
.main-content .middle-img{
    width: 100%;
}

/* main-content bottom-content class code start here */

.main-content .bottom-content{
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
}
.main-content .bottom-content .text-content{
    display: flex;
    flex-flow: column wrap;
}
.main-content .bottom-content .text-content h4{
    font-size: 2rem;
}
.main-content .bottom-content .text-content p{
    font-size: 1.5rem;
}

/* section contact code starts here */

.contact{
    margin-top: 2rem;
}
.contact h4{
    font-size: 2rem;
}
.contact p{
    margin-top: 1rem;
    font-size: 1.5rem;
}
footer{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}