/* Use your own code or past solution for Great Idea Web Page CSS here! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  }
 
  ol,
  ul {
	list-style: none;
  }
 
  blockquote,
  q {
	quotes: none;
  }
 
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
	content: '';
	content: none;
  }
 
  table {
	border-collapse: collapse;
	border-spacing: 0;
  }
 
  /* Set every element's box-sizing to border-box */
  * {
	box-sizing: border-box;
  }
 
  html,
  body {
	scroll-behavior: smooth;
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5 {
	/* font-family: 'Bangers', cursive; */
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
  }
 
  /* Your code starts here! */
  p {
	line-height: 1.2;
  }
 
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 1.25%;
  }
 
  header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
  }
 
  .nav {
	display: flex;
	width: 65%;
	justify-content: space-between;
  }
 
  .nav-link {
	color: gray;
	text-decoration: none;
  }
 
  #call-to-action {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-between;
  }
 
  .call-go {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }
 
  .call-go h1 {
	font-size: 5rem;
  }
 
  .call-go button {
	background: white;
	width: 200px;
	height: 30px;
	border: 1px solid black;
  }
 
  #content-top {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
  }
 
  #content-top-top {
	width: 45%;
  }
 
  #content-top-bottom {
	width: 45%;
  }
 
  .hr-styles {
	width: 100%;
	height: 2.5px;
	background: black;
  }
 
  .middle-img {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
  }
 
  .content-bottom {
	margin-bottom: 5%;
	display: flex;
	justify-content: space-between;
  }
 
  .content-1 {
	width: 30%;
  }
 
  .content-2 {
	width: 30%;
  }
 
  .content-3 {
	width: 30%;
  }
 
  footer {
	margin-top: 5%;
	margin-bottom: 5%;
  }
 
  .adress-line {
	margin-bottom: 3%;
  }
 
  footer p {
	text-align: center;
	margin-top: 3%;
  }
  @media(max-width: 800px) {
	header {
	  flex-direction: column-reverse;
	}
 
	.nav {
	  width: 100%;
	  margin-top: 5%;
	  justify-content: space-around;
	}
 
	#call-to-action {
	  justify-content: center;
	}
 
	.call-img {
	  display: none;
	}
	@media(max-width: 500px) {
 
	.subheader {
	  font-size: 1.5rem;
	}
 
	header {
	  flex-direction: column-reverse;
	}
 
	.nav {
	  align-items: center;
	  flex-direction: column;
	}
 
	.nav-link {
	  border-top: 1px solid gray;
	  text-align: center;
	  width: 100%;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  font-size: 1.5rem;
	}
 
	#bottom-link {
	  border-bottom: 1px solid gray;
	}
 
	.call-go {
	  margin-top: 5%;
	  margin-bottom: 5%;
	}
 
	#content-top {
	  flex-direction: column;
	}
 
	#content-top-top {
	  width: 100%;
	  margin-top: 10%;
	  margin-bottom: 10%;
	}
 
	#content-top-bottom {
	  width: 100%;
	  margin-bottom: 10%;
	}
 
	.middle-img {
	  margin-bottom: 5%;
	}
 
	.content-bottom {
	  flex-direction: column;
	}
 
	.content-1 {
	  width: 100%;
	  margin-bottom: 10%;
	}
 
	.content-2 {
	  width: 100%;
	  margin-bottom: 10%;
	}
 
	.content-3 {
	  width: 100%;
	}