/* Use your own code or past solution for Great Idea Web Page CSS here! */

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.entirepage {
	width: 50%;
	margin: 0 auto;
}

.navbar {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.navbar a{
	color: lightgrey;
	text-decoration: none;
	/* padding: 30px; */
	font-size: 12px;
	display: flex;
	}


.banner {
	display: flex;
	justify-content: space-around;
	margin: 5%;
}

h1 {
	font-size: 70px;
	text-align: center;
    margin-top: 0;
}

.topleft{
	/* display: inline-block; */
	margin-top: 7%;
	text-align: center;
}

.gsbutton {
	border: 1px solid black;
	background-color: white;
	padding: 5px 30px;
	margin: 0 auto;
}

.topmiddle{
	border-top: 1px solid black;
	padding: 2%;
	padding-top: 50px;
	display: flex;
}


.bottommiddle{
	border-bottom: 1px solid black;
	padding: 2%;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.services {
	width:30%;
}

.product {
	width:30%;	
}

.vision {
	width:30%;
}

.middle-img {
	width: 100%;
}
footer h2 {
	padding-top: 4%;
}
address span {
	line-height: 3;
}

.copyright {
	margin: 25px 0;
	display: flex;
	justify-content: center;
}

.services-header-img {
	width: 100%;
}

.servicesheader {
	margin-bottom: 2%;
	border-bottom: 1px solid black;
}

.serviceh1 {
	display: flex;
	justify-content: flex-start;
	margin-top: 2%;
	font-size: 24px;
}

.servicesp {
	margin-bottom: 2%;
}

.middlecontentservices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4%;
}

.ddbox {
	border: 1px solid black;
	background-color: #F4F3F4; 
	width: 48%;
	padding: 2%
}

.uxuibox {
	border: 1px solid black;
	background-color: #F4F3F4;
	width: 48%;
	padding: 2%
}

.dmbox {
	border: 1px solid black;
	background-color: #F4F3F4;
	width: 48%;
	padding: 2%
}

.wdbox {
	border: 1px solid black;
	background-color: #F4F3F4;
	width: 48%;
	padding: 2%
}

.iosdbox {
	border: 1px solid black;
	background-color: #F4F3F4;
	width: 48%;
	padding: 2%
}

.adbox {
	border: 1px solid black;
	background-color: #F4F3F4;
	width: 48%;
	padding: 2%
}

button {
	margin-top: 2%;
	background-color: #fff;
	border: 1px solid black;
	padding: 2% 2%;
	width: 40%
}

.middlerow {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.servicesfooter {
	margin-top: 4%;
	border-top: 1px solid black;
	width: 100%; 
}

.services-info-img {
	width: 48%;
	margin-top: 4%;
	display: flex;
	
}


ul {
	margin: 6% 0 0 4%;
	line-height: 2.5;
}

.servicesfooter {
	display: flex;
	justify-content: space-between;
	
}

.footerleft {
	margin-top: 2%;
	width: 48%;
}

.copyright-service {
	display: flex;
	justify-content: center;
	margin-top: 6%;
	flex-wrap: wrap;
}

/* tablet view starts here */
@media screen and (max-width: 800px) {
	.entirepage {
		width: 100%;
	}

	.navbar {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 2%;
	}

	.navbar :nth-child(1) {order: 2;}
	.navbar :nth-child(2) {order: 3;}
	.navbar :nth-child(3) {order: 4;}
	.navbar :nth-child(4) {order: 5;}
	.navbar :nth-child(5) {order: 6;}
	.navbar :nth-child(6) {order: 7;}
	.navbar :nth-child(7) {
		order: 1;
		width: 100%;
		justify-content: center;
		margin-bottom: 5%;
	}
	

	.banner img{
		display: none;
	}

	.banner {
		display: flex;
		margin: 0 auto;
		margin-bottom: 8%; 
	}

	.gsbutton {
		width: 60%;
		padding: 2% 8%;
	}
}
/* MOBILE STYLE STARTS HERE */

@media screen and (max-width: 500px){
    
    .entirepage {
        width: 100%;
    }

    .navbar {
        width:100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .navbar a {
        border-bottom: 1px solid grey;
        width: 100%;
        display: flex;
        justify-content: center;
		padding: 4%;
		
    }

    .navbar :nth-child(1) {order: 2;}
    .navbar :nth-child(2) {order: 3;}
    .navbar :nth-child(3) {order: 4;}
    .navbar :nth-child(4) {order: 5;}
    .navbar :nth-child(5) {order: 6;}
    .navbar :nth-child(6) {order: 7;}
    .navbar :nth-child(7) {
		order: 1;
		margin: 0;
	}

    .banner{
        margin: 2% auto;
        padding-bottom: 10%;
    }

    .banner img{
        display: none;
    }

    .topleft {
        margin-top: 7%;
    }

    .gsbutton {
        width: 60%;
        padding: 2% 8%;
    }
    
    .topmiddle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bottommiddle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .services {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .vision {
        width: 100%;
    }

}
