/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 90%;
	font-family: 'Titillium Web', sans-serif;
	width: 880px;
	margin: auto;
	font-weight: 500;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
	font-weight: bold;
}

/* Shared */
.flex {
	display: flex;
}

.innovation, .information, .serv, .pins {
  border-bottom: 2px solid black;
} 

/* Header and navigation */

header {
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
  z-index: 5;
	border-radius: 5px;
	padding: 32px 0;
	width: 880px;
  height: 75px;
  background-color: dodgerblue;
}

header nav {
  display: flex;
	justify-content: space-between;
	padding-left: 13px;
	width: 70%;
}

.logo {
	padding-right: 20px;
}

.logo:hover {
	animation: zoomIn 0.3s linear alternate 2;
}

@keyframes zoomIn {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.25);
	}
}

nav a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 17px 0;
}

nav a:hover {
  color: yellow;
  transition: color 0.5s ease-out;
  animation: wobble 0.4s linear 1;
}

@keyframes wobble {
  0%, 50%, 100% {
    transform: translate(0,0);
  }

  25% {
    transform: translate(4px);
  }

  75% {
    transform: translate(-4px);
  }
}

nav a:active {
  color: red;
}

/* Innovation */
.innovation {
	justify-content: space-between;
	align-items: center;
	padding: 60px 3px;
	margin-top: 42px;
}

.innovation h1 {
	text-align: center;
  font-size: 86px;
  letter-spacing: 7px;
}

.title {
	text-align: center;
}

.title a {
	margin: 0 100px;
  padding: 11px 0;
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  border: 2px solid black;
}

.innovation a:hover {
  animation: swing 0.5s linear .12s alternate;
  background-color: black;
  color: white;
  transition: background-color 0.5s linear .12s, color 0.5s linear .12s;
}

@keyframes swing {
  0%, 50%, 100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}

/* Information */
.box {
	align-items: center;
}

.top {
  padding: 40px 0px;
  width: 50%;
}

.bottom {
  padding: 40px 0;
  width: 34%;
}

.middle-img {
  width: 100%;
}

.product {
	padding: 0 10px;
	margin: 0 5px;
}

/* Footer */
.contact {
  padding: 20px 0;
  line-height: 2.5;
}

.address {
  line-height: 1.3;
}

.copyright {
  text-align:center;
  padding-bottom: 50px;
  color: black;
  font-weight: bold;
}


/* Service Page */
.serv p, .pins p, .facts p {
	line-height: 1.2;
}

/* service */
.serv {
	margin-top: 75px;
	padding-bottom: 40px; 
}

.serv div {
	margin-top: 20px;
}

.serv h1 {
	font-size: 26px;
}

.serv img {
	width: 100%;
}

/* Pins */
.pins {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 15px;
}

.pin {
	width: 47%;
	height: auto;
	padding: 25px 41px;
	margin: 26px 0;
	border: 2px solid black;
	background-color: #eeebeb86;
}

.button {
	border: 2px solid black;
	border-radius: 5px;
	width: 40%;
	padding: 9px;
	margin-top: 20px; 
	text-align: center;
	background-color: white;
	color: black;
	transition: background-color 0.5s, color 0.5s;
}

.pin a {
	text-decoration: none;	
}

.button:hover {
	background-color: black;
	color: white;
}

/* Facts */
.facts {
	margin-top: 40px; 
}

.fact p {
	padding: 3px 90px 16px 0; 
}

.fact ul li {
	list-style-type: square;
	list-style-position: inside; 
	padding: 9px 0;
}

/* Footer */
.space {
	margin-top: 50px; 
	padding-bottom: 20px; 
}


/* Media queries */
/* Tablet version */
@media (max-width: 800px) {
  html, body {
    max-width: 720px;
  }

  /* Header */
  header {
    flex-direction: column-reverse;
    height: 150px;
    width: 100%;
    border-radius: 0;
    padding: 20px 0;
    justify-content: space-around;
  }

  /*  Innovation section */
  .innovation {
    justify-content: center;
    margin-top: 120px;
  }

  .innovation .jumbo-img {
    display: none;
  }
  
  /* Information */
  .top {
    padding: 20px 10px;
  }

  .bottom {
    padding: 20px 10px;
  }

  footer .contact {
    padding: 20px 10px;
  }


  /* Services page */
  .serv {
    width: 750px;
    margin-top: 148px;
  }

  .serv div {
    width: 100%;
    padding-right: 4%;
  }

  /* Pins */
  .pins {
    justify-content: space-between;
  }

  .facts img {
    width: 50%;
    height: auto;
  }

  .facts p {
    padding-right: 37px;
  }

}

/* Mobile version */
@media (max-width: 500px) {
  html, body {
    max-width: 472px;
  }

  header {
    height: 490px;
    position: static;
    align-items: center;
    border-bottom: 1px solid black;
    overflow: hidden;
  }

  header nav{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  header .logo {
    padding: 44px 0 18px 0;
    width: 206px;
  }

  header nav a {
    border-top: 1px solid black;
    padding: 19px 400px;
    font-size: 21px; 
  }

  /* innovation section */
  .innovation {
    margin-top: 0;
    padding: 46px 0 74px 0;
  }

  .innovation .title h1 {
    font-size: 72px;
    letter-spacing: 1px;
  }

  .innovation .title a {
    margin-top: 28px;
    padding: 6px 41px;
    font-size: 17px;
  }

  /* Information */
  .information, .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .top, .middle-img {
    width: 100%;
    padding: 54px 10px 1px 10px;
    font-size: 18px;
  }

  .bottom {
    width: 100%;
    padding: 21px 0 43px 0;
    font-size: 18px;
  }

  /* Footer */

  footer .contact {
    padding: 23px 5px;
    font-size: 16px;
    line-height: 1.8;
  }

  footer .copyright {
    padding-top: 13px;
  }

  /* Services page */
  .serv {
    width: 463px;
    margin-top: 0;
  }

  .serv div {
    width: 100%;
    padding: 0 4%;
  }

  /* Pins */
  .pins {
    flex-direction: column;
    align-items: center;
  }

  .pins .pin {
    width: 88%;
  }

  /* Facts */
  .facts {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .facts img {
    width: 100%;
    height: auto;
    margin-bottom: 29px;
  }

  .facts {
    padding: 0 37px;
  }

}