/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My code */

* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
	max-width: 100%;
}

.container {
	width: 60%;
	margin: 0% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
    margin: 3% auto;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

nav {
	width: 73%;
	display: flex;
	justify-content: space-around;
}
a {
	text-decoration: none;
    color: lightgray;
	font-size: 16px;
}

h1 {
    font-size: 24px;
}

.servicesHead {
    margin: 0% auto;
    border-bottom: 1px solid black;
    padding: 3% 0%;
}

.sectionBorder {
    display: flex;
}

.boxGrid {
    /*width: 100%; <--last resort */
    padding: 5%;
    margin: 5% 0%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.top {
    margin-right: 2.5%;
}
.bottom {
    margin-left: 2.5%;
}

button {
    background: white;
    padding: 2% 7%;
    margin: 3% 45% 3% 0%;
    display: flex;    
}


.facts {
    margin: 5% auto;
    border-top: 1px solid black;
    padding: 3% 0%;
    display: flex;
    align-content: center;
    justify-content: space-between;    
}

.someFacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.services-info-img {
    width: 45%;
    height: 45%;
}

footer {
    margin: 5% auto;
}

@media only screen and (max-width: 800px){
    .container {
        width: 100%;
      }
      header {
        flex-direction: column-reverse;
      }
      nav {
        width: 100%;
        margin: 5% auto;
      }
}

@media only screen and (max-width: 500px){
    nav {
        flex-direction: column;
        align-items: center;
        margin: 5% auto;
      }
      nav a {
        width: 100%;
        padding: 3% 0%;
        border-top: 1px solid gray;
        border-bottom: 1px solid black;
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
      .sectionBorder{
          widows: 100%;
          flex-direction: column;
      }
      .facts{
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      }
      .services-info-img{
          width: 100%;
          margin-top: 7%;
      }
}