@media (max-width: 500px) {
    
      .nav-bar {
          display: flex;
          flex-direction: column-reverse;
          flex-flow: row-reverse wrap-reverse;
          margin-left: 200px;          
    }
        .nav-bar nav {
            display: flex;
            flex-direction: column;
            
            
        }
       .nav-bar nav a {
        display: flex;
        /* margin-left: 200px;  */
        font-size: 20px;           
          
       }
        nav a {
           padding: 20px;
           border-top: 1px solid black;
           
           /* padding-left: 200px; */           
           /* width: 200px; */
       }
       a {
           width: 100px;
           
       }

       #code {
          display: none;
    }
      .top-content {
          /* border: 1px solid black; */
          display: flex;
          flex-direction: column;
          align-items: flex-start;  
          width: 450px;        

    }
      .bottom-content {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        width: 450px;
        padding-right: none;
      }
      .bottom-content .text-content {
          display: inline-block;
          margin: 10px;
      }
    .middle-img {
        width: 500px;
    }
      
    .main-content {
        border-top: 1px solid black;
        border-length: 450px;
        margin-top: 7px;
        padding-top: 39px;
    }
   
    
    .container {
        
        width: 499px;
    }
    .logo {
        
        width: 200px;
        margin-right: 150px;
    }
      .cta {
          margin-left: 100
      }
      header {
          width: 500px;
      }
    .cta {
        border-top: 1px solid black;
    }
}
