@media (max-width: 500px) {
    
      .nav-bar {
          display: flex;
          flex-direction: column-reverse;
          margin-left: 200px;          
    }
        .nav-bar nav {
            display: flex;
            flex-direction: column;
            
        }
       .nav-bar nav a {
           display: flex;

           font-size: 20px;           
          
       }
       nav a {
           padding-top: 10px;
           border-top: 1px solid black;
           /* padding-left: 200px; */
           margin-right: 200px;
       }
       nav {
           
       }

       #code {
          display: none;
    }
      .top-content {
          /* border: 1px solid black; */
          display: flex;
          flex-direction: column;
          align-items: flex-start;  
          width: 450px;        

    }
      .bottom-content {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;  
        width: 450px;
        padding-right: none;
      }
      .bottom-content .text-content {
          display: inline-block;
          margin: 10px;
      }
    .middle-img {
        width: 450px;
    }
      
    .main-content {
        /* border-top: 1px solid black; */
        border-length: 450px;
        margin-top: 7px;
        padding-top: 39px;
    }
    hr {
        width: 499px;
        margin-right: 600px;

    }
    body (max-width: 500px) {
        width: 500px;
    }
    .container {
        width: 500px;
    }
    .logo {
        width: 200px;
        margin-right: 250px;
    }
      .cta {
          margin-left: 100
      }
}
