@media (max-width: 500px) {

    .nav_bar {
        max-width: 500px;
        flex-direction: column-reverse;
    }

    .nav_bar img {
        max-width: 183px;
        margin: auto;
        margin-bottom: 20px;
    }

    .nav_anchors {
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }

    .nav_anchors a {
        width: 100%;
        font-size: 14pt;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-top: 1px solid lightgrey;
    }

    .content_1 img {
        display: none;
    }

    .content_2 {
        flex-direction: column;
    }

    .content_3 {
        flex-direction: column;
    }

    .content_3_inner {
        max-width: 500px;
    }

    /* Services.html */

    #main_wrap {
        width: 100%;
    }

    .services-header-img {
        max-width: 500px;
    }
}