/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
    font-family: 'Merienda', cursive;
    font-size: 15px;
}

body {
	max-width: 100%;
	margin: 0 auto;
}

header {
	display: flex;
    flex-direction: column-reverse;
	align-items: center;
	height: 300px;
}

.great {
	background: lightgoldenrodyellow;
    width: 100%;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    height: 105px;
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	height: -webkit-fill-available;
}

a {
	background: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 19.5px 0px;
    position: relative;
	font-size: 20px;
	text-decoration: none;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: grey;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	text-decoration: none;
}

a:active {
	color: blue;
	text-decoration: none;
}

.logo {
	margin: 20px 0px;
}

.code {
	display: none;
}

.innovation {
	width: 100%;
    margin-top: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    display: flex;
    font-size: 72px;
    text-shadow: 2px 3px #632323;
}

button {
    padding: 6px 44px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: rgb(182, 33, 33);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 5px rgb(104, 103, 103);
    margin-top: 11px;
}
  
button:hover {
    background-color: #632323}
  
button:active {
    background-color: #0a0404;
    box-shadow: 2px 3px rgb(36, 33, 33);
    transform: translateY(4px);
}

section {
	border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 74px;
    width: 96%;
    padding-top: 58px;
}

.upper-text {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 12px;
    padding-bottom: 60px;
}

.middle-img {
    width: 99%;
    margin: 6px 0px 0px 12px;
    border: 1px solid black;
    border-radius: 10px;
}

.lower-text {
    width: 96%;
    margin: 27px 0px 0px 11px;
    padding-bottom: 49px;
}

.foot {
    width: 96%;
    margin: 34px 0px 0px 12px;
}

.space {
    margin: 16px 0px;
}

h4 {
    text-align: center;
    margin-top: 41px;
}