/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	width: 90%;
	margin: 20px auto;
}


/*  Navbar Styling */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.navbar nav {
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-wrap: wrap;
}

.navbar .nav-logo {
	margin-left: 12%;
}

.navbar a {
	color: #888;
	text-decoration: none;
	font-weight: 400;
	padding: 10px;
}


@media only screen and (max-width: 800px) {
    .navbar .nav-logo {
        width: 90%;
        position: absolute;
        top: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .navbar nav {
        padding-top: 60px;
    }

  }

@media only screen and (max-width: 500px) {
    .navbar {
        flex-flow: column-reverse wrap;
    }

    .navbar nav a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #888;
	}

  }

header .products-header-img {
	background: url("../img/mid-page-accent.jpg");
	height: 120px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}


header .products-header-content {
	padding-bottom: 40px;
}

header .products-header-content h1 {
	font-size: 25px;
}


@media only screen and (max-width: 800px) {
    header .products-header-img {
		display: none;
	}
	header .products-header-content {
		padding-top: 40px;
	}
	

}

/* Products Main Block Content */

.main-block-content {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-content: space-between;
	border-bottom: 1px solid black;
	padding: 20px 0;
	border-top: 1px solid black;
}

.main-block-content .content-block {
	width: 48%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: lightgray;
	padding: 20px;
	border: 1px solid black;
}

.main-block-content .content-block button {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 10px 10%;
	margin-top: 20px;
	background-color: white;
	border-radius: 5%;
}

@media only screen and (max-width: 800px) {

	.main-block-content .content-block {
		min-width: 100%;
	}
}

/* Services Main Additional Facts Styling */

.products-more-facts {
	display: flex;
	margin: 40px 0;
}

.products-facts-content {
	margin-right: 5%;
}

.products-more-facts ul {
	list-style-type: circle;
	list-style-position: inside;
	line-height: 2em;
}