.logo-container {
  width: 85%;
}
.logo {
  width: 30%;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 1.25%;
}

.container header nav {
  display: flex;
  flex-direction: column;
}
.container header nav a {
  margin-bottom: 20px;
}

nav {
  width: 25%;
  /* border-bottom: 1px solid; */
}
nav a {
  color: #606060;
  text-decoration: none;
}

.title {
  width: 70%;
  margin: 0;
}

.about {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.features {
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  width: 10%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container {
    width: auto;
    float: none;
    margin-right: 0;
  }
}
