header{
    display:flex;
}

h1{
    font-size: 300px;
}


/*whole thing*/
.container{
    width:800px;
}

.codecircle{
  display: none;

}
/*header*/
.links{
    display:flex;
    width: 50%;
    align-items: center;
    flex-direction: column-reverse;
}

.logo{
    
}

