/* Use your own code or past solution for Great Idea Web Page CSS here! */

//* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* header */

header {
	display: flex;
}

header nav {
  display: flex;
  width: 80%;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 25px;
}

/* cta */

.cta {
	display: flex;
}

.cta .cta-text {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 12px;
  width: 60%;
  margin: 0 auto;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 69px;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.main-content .top-content .text-content {
    width: 50%;
}  

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
    margin-top: 37px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
.main-content .bottom-content .text-content {
    width: 30%; 
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

/* MEDIA QUERIES HERE */

/* tablet view */
@media(max-width: 800px) {
.container {
    max-width: 85%;
}

header {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align: center;
}

.logo {
    padding: 10% 0% 5% 35%;
}

.cta-text { 
    margin-left: 0%;
}
.circle-img {
    display:none;
}

.main-content {
    max-width: 100%;
}

.top-content {
    max-width: 100%;
}

.main-content .top-content .text-content h4 {
    display: flex;
    max-width: 100%;
}
.main-content .top-content .text-content p {
  max-width: 100%;
  display: flex;
}

.middle-img {
    max-width: 100%;
}

.bottom-content {
    max-width: 100%;
}

.main-content .bottom-content .text-content p {
    max-width: 100%;
    display: flex;
}

.main-content .bottom-content .text-content h4 {
    max-width: 100%;
    display: flex;
}

.contact {
    max-width: 100%;
}

footer {
    max-width: 100%;
}

}
/* mobile view */
@media(max-width:500px) {

.container {
        width: 100%;
}
    
header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
       
}

header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-right: 0%;
    text-align: center;
}

header nav a {
    margin-right: 0%;
    width: 100%;
    border-top: 1px solid rgb(131, 79, 79);
    border-top: 1px solid gray;
    padding: 5% 2%;
    box-sizing: border-box;
}

.logo {
    padding: 10% 0% 5% 30%;
}

.cta-text { 
    max-width: 100%;

}

.cta-text h1 {
    max-width: 100%;
    align: center;
}

.circle-img {
    display:none;
}

.main-content .top-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.main-content .top-content .text-content {
    padding-top: 2%;
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.middle-img {
    max-width: 100%;
}

.main-content .bottom-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content .bottom-content .text-content {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.contact {
    max-width: 100%;
}

footer {
    max-width: 100%;
}

}
