header{
    display:flex;
justify-content: space-around;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

header links {
    display: flex
    justify-content: space-around;
    flex-direction: row;
}

button{
    width: 50%;
    margin-left: 21%;
}
.cta-text{    
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 71px;
    text-align: center;
 margin-bottom: 10px;
}


/*whole thing*/
.container{
    width:800px;
}

.codecircle{
  display: none;

}
/*header*/
.links{
    display:flex;
     margin: auto;
    width:100%;
    align-items: center;
    flex-direction: column-reverse;
}

.logo{
    
}

