
body {

  display: flex;
  justify-content: center;
   border: 3px solid goldenrod;
}

.main {
max-width: 880;
width: 100%;
border: 2px solid red;
}

p {
	line-height: 1.2;
}
header {
	width: 100%;
}

nav {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
	font-size: 15px;
	line-height: 35px;

}

nav a {
    
    color: black;
	text-align: center;
	text-decoration: none;
	margin: 0 70px 0 10px;
	padding: 10px 5px 10px 5px;
}

nav a:hover {
	background: #ddd;
	color: black;
	margin: 0 70px 0 10px;
	padding: 10px 5px 10px 5px;
}

.logo {
   justify-content: center;

}

h1 {
	font-size: 70px;
	text-align: center;
}
.top main {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 40px;
}
.top {
	margin:35px;
	justify-content: space-between;
	align-items: center;
}

.top-text {
	flex-direction: column;
	align-items: center;
	align-content: center;

}

.top-img {
	padding: 0px 0 35px 0;
}

.btn {
	border: none;
	color: white;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	cursor: pointer;
}

.default {
    align-items: center;
    text-align: center;
	background-color: #e7e7e7;
	color: black;
	border: 1px solid black;
}

/* Gray */

.default:hover {
	background: #ddd;
	cursor: pointer;
}

.features,
.about {
	margin-bottom: 35px;
	max-height: 150px;
}

.fk {
	display: flex;
	justify-content: space-between;
}

.services,
.products,
.vision {
	width: 32.8%;
	margin: 35px 0;
}

.mains {
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.contact a {
	text-decoration: none;
	color: black;
}

.contact a:hover {
	color: orangered;
}

.contact a[href^="tel:"]:before {
	content: '\260E ';
	display: inline-block;
}

footer {
	display: flex;
	flex-direction: column;
}

footer p {
	align-self: center;
	font-size: 14px;
	line-height: 1.2px;
}

footer h3::before {
	content: '\00A9 ';
}

footer h3 {
	align-self: center;
}


/* @media(max-width: 700px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 680px;
        width:100%;

    }
    nav {
        flex-direction: column;
        align-items: center;
        }
    
nav a {
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    font-size: 20px;
    width:100%;
}

nav a:hover {
	background: #ddd;
	color: black;
    width: 100%;
}

.top-img {
	display: none;
}



} */


