/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

h1{
    font-size: 25px;
}

.master{
	display:flex;
	width: 100%;
	justify-content: center;
}

.container{
	display:flex;
	flex-direction: column;
	justify-items: center;
	width: 876px;
}
header{
	display: flex;
	justify-content: space-between;
	width:100%;
	height: 10%;
	align-items: center;
    padding-top: 25px;
}

.services{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-bottom: 1px solid black;
    height: 8%;
}

nav{
	display: flex;
	align-content: center;
	justify-content: space-around;
    align-content: baseline;
    width: 70%;
}

nav a{
    display:flex;
    justify-content: center;
    padding-top:2px;
    text-decoration: none;
    color: #A7A7A7;
    font-weight: 600;
    border: 1px solid white;
    height: 25px;
    width: 75px;
}

nav a:hover{
    background-color: grey;
    color:white;
    border-radius: 5px;
}

.grey-box-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height: 900px;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid black;
}

.grey-box{
    border:1px solid black;
    display:flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: #F4F3F4;
    padding: 10px;
    flex-direction: column;
    width: 374px;
    height: 258px;   
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: rgb(255, 254, 255);
    border: 1px solid black;
    height: 15%;
    width: 35%;
    border-radius: 5px;
}

.button:hover{
    background-color: grey;
    color:white;
}

.fun-facts{ 
    display:flex;
    justify-content: space-between;
}

.fun-facts img{
    margin-top: 4%;
    display:flex;
}

.fun-facts section{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}


address{
    margin-top:10%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

ol{
    display:flex;
    flex-direction: column;
    list-style-type: square;   
    list-style-position: inside;
}

li{
    margin-bottom: 10px;
}

/* media for tablet */
@media(max-width:800px){
	header{
		flex-direction: column-reverse;
        height: 150px;
        margin-bottom:40px;
    }
    
    .services-header-img{
        display:none;
    }

	nav{
		width:760px;
		justify-content: space-between;
	}

    .main-box{
        display:flex;
        flex-direction: column;
        align-items: center;

    }

	.services{
        width: 600px;
        height:150px;
        padding:0;
    }

    .grey-box-container{
        width: 675px;
        height: 750px;
    }

    .grey-box{
        width: 330px;
        height:225px;
    }

    .button{
        align-self: center;
    }

    .fun-facts{
        width:675px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .fun-facts img{
        display:none;
    }

    ol{
        margin-top:25px;
    }
}


/* media for phone */
@media(max-width:500px){
	header{
		height: 475px;
		margin:0;
	}

	nav{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		width: 450px;
		height:400px;
		margin-top: 20px;
	}
	nav a{
		border-top: 1px solid black;
		border-collapse: collapse;
		color:#ACACB3;
		height:75px;
		width: 500px;
		margin:0;
	}

	p{
		line-height: 1;
	}

	nav a:last-child{
		border-bottom: 1px solid black;
	}

	.Features-and-about{
		flex-wrap: wrap;
		width: 475px;
	}

	.Features, .About{
		margin: 24px 0;
	}

	.middle-img{
		width:460px;
		margin-bottom: 15px;
	}

	.triple-menu{
		flex-wrap: wrap;
		align-content: space-between;
		padding:0;
		margin-bottom: 20px;
		width: 475px;
		height: 460px;
	}

	section.Services, section.Product, section.Vision{
		padding:0 0 0 10px;
		margin-bottom: 25px;
	}

	.contact-info{
		width:460px;
		padding-top: 30px;
	}
}