/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

html {
  margin: 100px;
  margin-top: 25px;
}

a {
    width:100%;
  color: gray;
  text-decoration: none;
  text-shadow: 2px 2px 5px gray;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  align-self: flex-start;
  margin-top: -10px;
}

.mobileLogo{
    display: none;
}

body {
  max-width: 100%;
  margin: auto;
}

.top-jpg {
  width: 100%;
  margin-top: 10px;
}

h1 {
  font-size: 30px;
  margin-top: 30px;
}

hr {
  margin-top: 30px;
  margin-bottom: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-body {
  border: solid black;
  padding: 20px;
  background: #F0F0F0;
  width: 48%;
}

.first-row {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.second-row {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.third-row {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 20px;
  border: solid black;
  padding: 8px 30px 8px 30px;
  border-radius: 6px;
  border-width: thin;
}

.facts {
  display: flex;
  justify-content: space-between;
}

ul {
  line-height: 2.0;
  list-style-type: square;
  padding: 0px 0px 0px 20px;
}

.facts article {
  margin-right: 10px;
}

.facts img {
  margin-left: 30px;
  width: 48%;
  height: 48%;
}

.copyright {
  margin-top: 90px;
  text-align: center;
}


@media(max-width: 800px){
    
}

@media(max-width: 500px){
    html{
        margin: 15px;
    }
    
    .logo{
        display: none;
    }

    .mobileLogo{
        display: block;
        margin: 0 auto;
        margin-left: 70px;
        margin-bottom: 10px;
    }

    nav{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

     nav a{
        display: inline;
        padding: 16px;
        border-bottom: 2px solid gray;
        text-align: center;
        
    }

    nav a:first-child{
        border-top: 2px solid gray;
    }

    nav a:last-child{
        display: none;
    }

    .bottomLine{
        margin-top: 20px;
    }

    .top-jpg{
        margin-top: 30px;
    }

    .jumbo{
        width: 100%;
    }

    .services-info-img{
        display: none;
    }

    .mobileInfo-img{
        display: flex;
    }
}