@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
COLORS:

Light green: #54c742
Medium green: #04ad01
Dark green: #0a7412

*/
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transfrom: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  90% {
    transform: translateX(); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes hue-rotate {
  0% {
    z-index: -1;
    filter: hue-rotate(0deg); }
  100% {
    z-index: -1;
    filter: hue-rotate(360deg); } }

@keyframes saturate {
  0% {
    filter: saturate(0); }
  100% {
    filter: saturate(1); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blurIn {
  0% {
    filter: blur(1000em); }
  100% {
    filter: blur(0); } }

@keyframes blurOut {
  0% {
    filter: blur(0); }
  100% {
    filter: blur(100em); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*  box-sizing: border-box;*/ }

html {
  font-size: 20px; }

body {
  box-sizing: border-box; }

nav ul li a {
  font-size: 1.5em;
  color: #000;
  transition: all .2s; }
  nav ul li a:hover {
    color: #f0f;
    animation: hue-rotate 10s infinite; }

.header__container h1.title {
  vertical-align: top;
  font-size: 5em;
  text-align: center;
  max-width: 4em;
  margin-top: .5em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h1, h2, h3, h4, h5, a {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px; }

.u-text-center.color-black {
  position: relative;
  top: 2.5em; }

@media only screen and (max-width: 1200px) {
  .header__container h1.title {
    vertical-align: top;
    font-size: 5em;
    max-width: 4em;
    margin-top: .5em;
    text-align: center; } }

.u-container {
  width: 80%;
  border-radius: 3px; }

.u-text-center {
  text-align: center; }

.u-margin-auto {
  margin: auto; }

.u-margin-1 {
  margin: 1em; }

.u-margin-top-2 {
  margin-top: 2em; }
  @media screen and (max-width: 1000px) {
    .u-margin-top-2 {
      margin-top: 18em; } }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-top-lg {
  margin-top: 8rem; }

.u-top-xl {
  margin-top: 10rem; }

.u-float-right {
  float: right; }

.u-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.u-width-100 {
  width: 100%; }

.u-width-80 {
  width: 80%; }

.u-padding-default {
  padding: 5%; }

.u-padding-1 {
  padding: 1em; }

.u-border-1 {
  border: 1px solid black; }

.u-font-large {
  font-size: 400%; }

.u-max-width-4 {
  max-width: 4em; }

.color-invert {
  filter: invert(1); }

.color-black {
  color: #000; }

.bg-grey {
  background: #eee;
  border-radius: 3px; }

nav img {
  cursor: pointer; }

nav li {
  display: inline-block;
  margin: 0 auto;
  padding: 25px; }

@media only screen and (max-width: 1200px) {
  nav li {
    padding: 0 1em; }
    nav li a {
      width: 100%; } }

@media only screen and (max-width: 1000px) {
  nav li {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center; }
    nav li:last-child {
      order: -1; } }

button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #000;
  padding: .55em 4em;
  transition: background ease .5s, transform ease .5s;
  margin: .5em;
  padding: 1em; }
  button:hover {
    background: #ccc;
    transform: scale(1.1);
    transition: background ease .5s, transform ease .5s; }
  button:active {
    background: #000;
    color: #fff;
    transform: scale(0.9);
    transition: background ease .5s, transform ease .5s, color ease .5s; }

header img[src="img/header-img.png"]:hover {
  cursor: pointer; }

.flex {
  display: flex; }
  .flex > * {
    padding: .5em; }
  .flex-inline {
    display: inline-flex; }
  .flex-row {
    flex-direction: row; }
  .flex-column {
    flex-direction: column; }
  .flex-row-reverse {
    flex-direction: row-reverse; }
  .flex-column-reverse {
    flex-direction: column-reverse; }
  .flex-wrap {
    flex-wrap: wrap; }
    .flex-wrap-reverse {
      flex-wrap: wrap-reverse; }
  .flex-justify-start {
    justify-content: flex-start; }
  .flex-justify-end {
    justify-content: flex-end; }
  .flex-justify-center {
    justify-content: center; }
  .flex-justify-between {
    justify-content: space-between; }
  .flex-justify-around {
    justify-content: space-around; }
  .flex-justify-evenly {
    justify-content: space-evenly; }
  .flex-items-stretch {
    align-items: stretch; }
  .flex-items-start {
    align-items: flex-start; }
  .flex-items-end {
    align-items: flex-end; }
  .flex-items-center {
    align-items: center; }
  .flex-items-baseline {
    align-items: baseline; }
  .flex-w-100 {
    width: 100%; }
  .flex-w-75 {
    width: 75%; }
  .flex-w-66 {
    width: 66%; }
  .flex-w-50 {
    width: 50%; }
  .flex-w-33 {
    width: 33%; }
  .flex-w-25 {
    width: 25%; }
  .flex-default {
    flex-flow: row row-reverse; }
  @media only screen and (max-width: 999px) {
    .flex {
      flex-direction: column; }
      .flex-w-75 {
        width: 100%; }
      .flex-w-66 {
        width: 100%; }
      .flex-w-50 {
        width: 100%; }
      .flex-w-33 {
        width: 100%; }
      .flex-w-25 {
        width: 100%; } }

nav {
  margin: 0;
  padding: 0; }

.header__container img {
  cursor: pointer; }

.flex {
  margin-bottom: 1em;
  padding-bottom: 1em; }

hr {
  margin-bottom: 3em;
  margin-top: 1em;
  border-color: #000; }

header img {
  margin: 0 10%; }

html, body {
  font-family: 'Titillium Web', sans-serif; }

img {
  border-radius: 3px; }

nav {
  background: linear-gradient(white, rgba(255, 255, 255, 0.75));
  box-shadow: 0 1em 90px #000;
  z-index: 1000; }
  nav a {
    text-decoration: none;
    color: #271a6d; }
    nav a:hover {
      text-decoration: underline; }

.flex-w-50.u-margin-1.u-padding-1 ul {
  list-style: square;
  margin: 1.2rem; }

@media only screen and (max-width: 767px) {
  .u-margin-1.u-padding-1.u-border-1.bg-grey {
    margin: -0.1em;
    margin-bottom: 1em; } }

.bg-grey {
  box-shadow: 1px 1px 1em black; }
  .bg-grey button {
    margin-top: 1.51em;
    float: right;
    border-radius: 3px; }
