@media(max-width: 800px) {

    .nav_bar {
        flex-direction: column-reverse;
    }

    .nav_anchors {
        margin: 10px 0px 20px 0px;
        justify-content: space-between;
    }

    .nav_anchors a {
        font-size: 10pt;
    }

    .nav_bar img {
        max-width: 183px;
        margin: auto;
        margin-bottom: 20px;
    }

    .content_1 {
        margin: 20px 0px 50px 0px;
    }

    .content_1 img {
        display: none;
    }

    .content_2 {
        margin: 10px 0px 20px 0px;
    }

    .content_2 p {
        font-size: 10pt;
    }

    /* Services.html */

    #main_wrap {
        max-width: 100%;
    }

    .c2fi-learn {
        margin-top: 2px;
    }

    @media(min-width:701px) {
        .content2-flex-item {
            min-height: 210px;
        }
    }
}

@media(min-width: 501px) and (max-width: 600px){
    .content-2-flex-item {
        min-height: 240px;
    }
}

@media(min-width: 601px) and (max-width: 700px){
    .content-2-flex-item {
        min-height: 225px;
    }
}