@media(max-width: 800px) {

    .nav_bar {
        flex-direction: column-reverse;
    }

    .nav_anchors {
        margin: 10px 0px 20px 0px;
        justify-content: space-between;
    }

    .nav_anchors a {
        font-size: 10pt;
    }

    .nav_bar img {
        max-width: 183px;
        margin: auto;
        margin-bottom: 20px;
    }

    .content_1 {
        margin: 20px 0px 50px 0px;
    }

    .content_1 img {
        display: none;
    }

    .content_2 {
        margin: 10px 0px 20px 0px;
    }

    .content_2 p {
        font-size: 10pt;
    }

}