
@media(max-width: 800px) {
   div.container {
   	 width:100%;
   	 margin-top:5px;

   }
   header {
   	  display: flex;
   	  flex-direction: column;
   	  justify-content: space-between;
      background: red;
   	  width:100%;
   	  height:100px;
   }
   .logo {
   	  display: flex;
   	  order:0;
	  /*margin-bottom: 123px;*/
   }
   header nav {
   	 display: flex;
   	 width:96%;
   	 order:1;
   	 justify-content: space-between;
   	 /*margin-left: 20px;*/
   }
   section.header-main {
   	  margin-top:76px;
   	  margin-left:-20px;
   }
   img.header-image {
   	 display:none;
   }
}