@import "base";
@import "responsive";

// Variables
$light: rgb(241, 239, 239);
$grey: rgb(148, 137, 137);
$highlight: rgb(48, 111, 228);
$border-style: 1px solid black;

body {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

button {
  background: white;
  padding: 2px 20px;
  border: $border-style;
  letter-spacing: 1px;
  font-size: 15px;
}

section {
  padding: 20px 0;
}

address {
  * {
    font-size: 14px;
  }
  p:not(.street) {
    line-height: 2.5;
  }
}

.list {
  list-style-position: inside;
  list-style-type: disc;
  li {
    margin-bottom: 0.25rem;
    span {
      color: black;
    }
    &:hover {
      color: $highlight;
    }
  }
}

.bordered {
  border-top: $border-style;
  border-bottom: $border-style;
}
.m-bottom {
  margin-bottom: 1rem;
}
.m-bottom-sm {
  margin-bottom: 0.25rem;
}
.big-text {
  font-size: 60px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.center-text {
  text-align: center;
}

.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 20px;
  a {
    font-size: 16px;
    text-decoration: none;
    color: $grey;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.nav-links {
  align-self: center;
  .nav-link {
    margin-right: 0.5rem;
  }
}

.logo {
  align-self: center;
}

.section-1 {
  padding: 20px 0;
}

.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}

.half {
  width: 50%;
}

.img-wrapper {
  display: flex;
  background: #000;
  margin: auto;
}

.verticle {
  align-self: center;
}

.circle-img {
  padding: 20px 0;
  width: 200px;
  height: auto;
}

.underline {
  border-bottom: 1px solid $grey;
}

.wrapper {
  p {
    padding-right: 1rem;
  }
}

.copyright {
  font-size: 12px;
  padding: 1rem;
  margin: 1rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  flex-basis: 49%;
  //   margin: 1rem;
  padding: 1rem;
  margin-bottom: 10px;
  background: $light;
  p {
    line-height: 1.25;
  }
}

.card-btn {
  margin-top: 20px;
  border-radius: 4px;
  font-size: 12px;
}

.info {
  line-height: 1.25;
}

.img-fluid {
  width: 100%;
  img {
    width: 100%;
    height: auto;
    margin: auto 0;
  }
}
.services-info {
  margin: 0;
}

@media (max-width: map-get($breakpoints, sm)) {
  header {
    margin: 0;
    padding: 0;
  }
  .navbar {
    height: auto;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
    .nav-links {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 100%;
      justify-content: center;
      text-align: center;
      .nav-link {
        text-align: center;
        padding-bottom: 8px;
        margin: 5px 0;
      }
      .border-bottom {
        border-bottom: 1px solid $grey;
      }
    }
    a.logo {
      grid-row: 1 / 2;
      width: 50%;
      margin: 0 auto;
      padding: 10px;
    }
  }
}
@media only screen and (max-width: map-get($breakpoints, lg)) and (min-width: map-get($breakpoints, sm)) {
  .navbar {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
    a.logo {
      grid-row: 1 / 2;
      width: 30%;
      margin: 0 auto;
      padding: 20px;
    }
    .nav-links {
      min-width: 100%;
      display: flex;
      justify-content: space-around;
      .nav-link {
        width: 100%;
        text-align: center;
      }
    }
  }
}
