/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

/* My Styles */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.navbar a:hover {
  text-decoration: underline;
}

.banner {
  margin: 20px 0;
}

.boxes .box:nth-child(1) {
  background: teal;
}
.boxes .box:nth-child(2) {
  background: gold;
}
.boxes .box:nth-child(3) {
  background: cadetblue;
}
.boxes .box:nth-child(4) {
  background: coral;
}
.boxes .box:nth-child(5) {
  background: crimson;
}
.boxes .box:nth-child(6) {
  background: forestgreen;
}
.boxes .box:nth-child(7) {
  background: darkorchid;
}
.boxes .box:nth-child(8) {
  background: hotpink;
}
.boxes .box:nth-child(9) {
  background: indigo;
}
.boxes .box:nth-child(10) {
  background: dodgerblue;
}

section.full {
  padding-bottom: 10px;
}
section.full p {
  margin-bottom: 10px;
}

.border-bottom {
  border-bottom: 1px dashed black;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  margin-top: 30px;
}

.card img {
  margin-bottom: 10px;
}

.card-body {
  padding: 5px;
  padding-bottom: 30px;
}
.card-body p {
  margin-bottom: 15px;
}

.card-button {
  font-size: 18px;
  color: black;
  font-weight: 500;
  background: white;
  padding: 7px 15px;
  border: 2px solid black;
  border-radius: 10px;
}

$breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Breakpoints
@mixin breakpoint($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $value: map-get($breakpoints, $breakpoint); // Write the media query.
    @media (min-width: $value) {
      @content;
    } // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

%container {
  width: 100%;
  @each $breakpoint, $value in $breakpoints {
    @include breakpoint($breakpoint) {
      max-width: $value;
      margin: 0 auto;
    }
  }
}

.container {
  @extend %container;
  img {
    width: 100%;
  }
}
