/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 55px;
}

.container {
  width: 1024px;
  /* TB LR */
  margin: 0 auto;
}

/* header */
header{
    width: 100%;
    display: flex;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav .logo{
    display: flex;
}

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: flex;
  margin-top: 25px;
}

.cta{
    display: flex;
    justify-content: flex-end;
}

.cta .cta-text {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 69px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  display: flex;  
  flex-direction: row;
  padding: 0 10px;
}

.main-content .top-content .text-content {
  width: 410px;
  display: flex;
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
  display: flex;  
  margin-top: 37px;
  padding: 0 10px;
}

.main-content .bottom-content .text-content {
  width: 275px;
  display: flex;
  margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}
.main-content .text-content .services{
    margin-top: 10px;
    padding: 10px;
}

.main-content #yellow{
    flex-direction: column;
    flex-wrap: wrap;
}

.services-stuff{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.card{
    flex-flow: column wrap;
    height: 270px;
    width: 425px;
    border: 1px solid black;
    padding: 20px;
    background-color: lightgrey;
    margin-top: 50px;
}
.services-top{
  border: 1px underline black;
}

.services-card{
  display:flex;
}

@media (max-width: 500px){
    .container{
        width: 400px;
        display: flex;
        flex-direction: column;
        background: green;
    }
    nav{
        width: 60%;
        flex-direction: column;
        display: flex;
    }
    header{
        flex-direction: column-reverse;
        display: flex
    }

    header .logo{
        width: 200px;
        margin-left: 100px;
    }
    header .nav{
        display: flex;
        flex-direction: column;
        margin-left: 150px;
    }
    header .nav a{
        font-size: 36px;
        border-top: 2px grey;
        border-bottom: 2px grey;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        border-top: 2px solid;
    }
    .main-content .top-content{
        display: flex;
        flex-direction: column;
    }
    .main-content .bottom-content{
        display: flex;
        flex-direction: column;
    }
    .cta img {
        visibility: hidden;
    }
    .cta{
        flex-direction: column;
    }
    .contact h4{
        margin-bottom: 5px;
    }
}

@media(min-width:800px){}
/* 
@media (max-width: 800px){
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

@media (max-width: 500px){
    .container{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .cta img{
        visibility: collapse;
    }

} */