/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	/* border: 1px solid black !important; */
	box-sizing: border-box;
}

/* Below lies desktop specific styling. */


header nav {
	display: flex ;
	justify-content: center ;
	margin-top: 15px ;
}
.nav-flex {
	display: flex;
	justify-content: space-between ;
	align-items: center;
}

.nav-flex a:link {
	color: black;
}

.nav-flex a:visited {
	color: black;
}

.visual-content {
	display: flex ;
	justify-content: space-evenly ;
	align-items: center ;
}

.visual-content .cta-text {
	display: flex ;
	flex-direction: column ;
	justify-content: space-evenly ;
	align-items: center ;

}

.cta-text h1 {
	font-size: 70px ;
	text-align: center ;
	font-family: Bangers ;
}

.visual-content button {
	background: transparent ;
	border: 1px solid black ;
	padding: 3px 6px ;
}

.main-content {
	display: flex ;
	flex-direction: column ;
}

.top-content {
	display: flex ;
	flex-direction: row ;
	justify-content: space-around ;
}

.top-content section {
	border: 1px solid black ;
	margin-top: 2% ;
}

.top-content {
	border-top: 2px solid black ;
}

.top-content .text-sections p {
	margin-top: 5px ;
}

.top-content .text-sections h3 {
	font-family: Bangers ;
}
.middle-img-div {
	margin: 10px 0 ;
	display: flex ;
	justify-content: center;

}

.middle-img {
	width: 100% ;
}

.bottom-content {
	display: flex ;
	flex-direction: row ;
	border: 5px solid blue ;
	justify-content: space-between;
	border-bottom: 2px solid black ;
	padding: 2% ;
}


.bottom-content .text-sections  {
	border: 1px solid black ;
	
}

.bottom-content .text-sections h3 {
	font-family: Bangers ;
	padding-bottom: 2% ;
}

.bottom-content .text-sections section {
	display: flex ;
	justify-content: space-between;
}


.footer-section {
	display: flex ;
	flex-direction: column ;
	justify-content: space-around ;
}

footer {
	display: flex;
	justify-content: center ;	
}
/* Styling for tablet devices starting at 800px */

@media (max-width: 800px) {
	.nav-flex {
		
	}

	.snippet-img {
		display: none ;
	}

	.cta-text button {
		margin-bottom: 2% ;
	}
}

@media (max-width: 500px) {

	.nav-flex {
		flex-direction: column ;
	}
	
	header nav  {
		border: 2px solid darkslategrey ;
		padding: 20px 20px ;
	}

	.top-content {
		flex-direction: column ;
	}



	.bottom-content {
		flex-direction: column ;
		flex-wrap: wrap ;
		justify-content: center ;
		align-content: space-between ;
	}
}