

@media (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        font-size: 500px;
        justify-content: center;
        border: 1px solid black;
        display: inline-block;
        width: 100%;
        margin: 300px;
    }
}

@media (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        font-size: 500px;
        justify-content: center;
        border: 1px solid black;
        display: inline-block;
        }   
    }  

@media (max-width: 500px) {
    nav a { 
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 500px;
        border: 1px solid black;
        justify-content: center;
    }
}
