*
{
    box-sizing: border-box;
   padding-left: 2%;
   margin-right: 2%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


nav  {
    display: flex;
    justify-content: space-evenly;
}
a {
    display: flex;
    color:gray;
    justify-content: space-between;
    font-size: 20px;
    margin: 2%;
}
.bigimg{
    width: 95%;
   
}
.Services{
    border-bottom: 1px solid;
    width: 100%;
    
}
.box1{
    display: flex;
    justify-content: space-evenly;
}
.box2{
    display: flex;
}
.box3 {
    display: flex;
}
.digital {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
.UX {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
.Marketing {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
.WB {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
.iOS {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
.Android {
    border: 1px solid;
    background: whitesmoke;
    margin: 2%;
    width: fit-content;
}
button {
    display: inline-flex;
    background-color:white ;
    padding: 20px;
    margin-bottom: 10px;
    margin: 5px;
    
}
.bottom {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid;
}
.Facts {
    display: flex;
    flex-direction: column;
    width: 45%;
    
    
}
.Img3{
    display: flex;   
    width: fit-content;
    justify-content: right;    
}
.CR {
    text-align: center;
    margin: 2%;
}
@media (max-width: 500px) {
    nav {
        flex-direction: column-reverse;
       align-items: center;
      
    }
   nav a { 
       flex-direction: column;
       
    
   }
    .logoo {
        flex-direction: column;
        
    }
    .bigimg {
        width: 0%;
    }

}