/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

* {
	/* outline: 1px solid red; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* header {
	position: fixed;
	width: 100%;
	background-color: #eee;
  padding: 10px;
} */

nav, 
.container {
	max-width: 960px;
	margin: 0 auto;
}

nav ul {
	/* display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column; */
	text-align: center
}

nav li {
	padding: 20px;
	border-bottom: 1px solid #000;
	/* display: block; */
}

nav li:last-child {
	/* order: -1; */
}

nav a {
	color: #9e9e9e;
	text-decoration: none;
	font-weight: bold;
}

/* nav a:hover {
	color: #000;
	border-bottom: 1px solid #000;
} */

.jumbo-text h1 {
	font-size: 80px;
}

.jumbo {
	padding-top: 50px;
	margin-bottom: 80px;
	/* display: flex;
	justify-content: space-around;
	align-items: center; */
}

.jumbo span {
	display: block;
}

.jumbo-text {
	text-align: center;
}

.btn {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 40px;
	text-decoration: none;
	color: #000;
}

.animate {
	transition: transform .7s;
}

.animate:hover {
	transform: scale(1.1);
}

.main {
	display: flex;
	flex-wrap: wrap;	
	padding: 20px;
}

.main section {
	margin: 20px 0;
}

.features,
.about {
	/* margin: 20px 0; */
	flex: 1 0 100%;
}

.features {
	/* margin-right: 2%; */
}

.main img {
	/* https://stackoverflow.com/questions/26086515/css-flex-how-to-display-one-item-on-first-line-and-two-on-the-next-line */
	/* important part is flex-basis of 100% */
	/* flex: 0 1 100%; */
	width: 100%;
	height: 100%;
	/* padding: 20px; */
}

.services,
.product,
.vision {
	flex: 1 0 100%;
	/* margin-bottom: 30px; */
}

.contact {
	margin-top: 30px;
}

address span {
	display: block;
	margin: 20px 0;
}

footer {
	text-align: center;
	margin-bottom: 50px;
}

.services-header-img {
	width: 100%;
	padding-top: 60px;
}

.services-intro h1 {
	font-size: 30px;
	margin-top: 30px;
}

.services-intro {
	/* margin-top: 20px; */
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.service-list {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1.5px solid #000;
}

.service-item {
	background-color: #f4f3f4;
	width: 100%;
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 25px;
}

.service-item p {
	margin-bottom: 10px;
}

.learn {
	border-radius: 5px;
	background-color: #fff;
}

.facts {
	margin: 30px 0 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* flex on .fact-item ? */

.fact-item ul {
	list-style-type: square;
	margin-left: 16px;
}

.fact-item {
	width: 100%;
}

.fact-item p {
	margin-bottom: 20px;
}

.fact-item ul li {
  margin-bottom: 15px;
}

@media only screen and (min-width: 401px) {
	.service-item, .fact-item {
		width: 49%;
	}

	nav ul {
		flex-direction: row;
	}
}