/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */



.nav_bar a{
	text-decoration: none;
	color:darkgray;
}
.nav_bar a:hover{
	color:black;
}
.nav_bar .current{
	color:black;
  }
.header button a{
	text-decoration:none;
	text-align:center;
	color:black;
}

/* ----------MEDIA QUERIES-------------------- */
@media(min-width:500px){


        .container{
            width:500px;
            height: auto;
            margin:auto;
            display: grid;
            grid-template-columns: 3fr;
            column-gap: 10px;
            row-gap:20px;
            background:linear-gradient(105deg, lightgray 60%,#b92b27 60%);
        }
    
    
        header >  div{
            display: none;
        }
    
      .nav_bar {
          flex-direction: column-reverse;
          top: 0px;
          width: 500px;
          grid-row: 1/4;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border:solid 1px grey;
          /* background:linear-gradient( rgb(78, 48, 48) 40%,#692919 60%); */
          position: fixed;
          top: 0;
          width:auto;
          background: linear-gradient(to right,#b92b27,darkgray);
     }
     
     
      .nav_bar > img {
          display: flex;
          padding:4px;
         
      }
    
      #top-border{
        border-top: solid 2px black;
    
      }
    
       .nav_bar > a{
        border-bottom: solid 1px black;
        padding:5px;
        width:500px;
        text-align: center;
         
       }
       .header-container{
        grid-column: 1/3;
        grid-row:2/3;
        column-gap:5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    } 

       .header{
        grid-column: 1/1.5;
        font-size:30pt;
        margin-right:30px;
       } 
       

      .introimg{
         display: none;
      }
    
       .header-container{
           margin:9rem  -3rem  0 0;
           grid-row: 4/7;
       }
    
       .header-container button{
           height: 2rem;
           width:100px;
       }
      
       .header button:hover{
        background:lightslategray;
        color:white;
        transform: scale(1.2);
        border-left:2px;
        border-color:gray;
    
    }

       .top-content{
        grid-column: 1/3;
           grid-row: 7/8;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-right: 1rem;
           border-top:dotted 2px black;
           margin-left:1rem;
               
       }

       .child1 h4{
        margin:10px 0 0 0;
    }
    
       .middle-img{
        grid-column: 1/3;
           grid-row: 8/9;
           height: 100px;
           width: 100%;
           
       
       }
       .bottom-content3{
        grid-column: 1/3;
           grid-row: 9/11; 
           display: flex;
    border-bottom:dotted 2px black; 
    
       }
       .child2{
        margin:0  3.5rem 1rem 1rem;
       }
       .child2 h4{
           margin:10px 0 0 0;
       }
       .contact{
        margin:0 0 0 1rem;
        grid-column: 1/3;
        grid-row: 11/12;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       }
       footer{
        grid-column: 1/3;
         grid-row: 12/13;
        display: flex;
       justify-content: center;
       }
     .bottom_img{
        margin: 20px 0 0 0;
     }

 /* ----------Service.html--------------------- */
.header-img{
    grid-column: 1/3;
    grid-row: 2/3;
	margin-top:30px;
	
}
.services-header-img{
width:100%;
}

       .bottom-content3{
           flex-wrap: wrap;
       }
       .Services{
        grid-column: 1/3;
        grid-row: 3/4;
        border-bottom:solid 2px black;
         margin: 20px 30px 20px 30px; 
       }
       
        .Services p{
           margin-bottom:20px;
       } 
       
/* Column-container */
.Column-container{
    grid-column: 1/3;
  
    grid-row: 4/7;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  align-items: center;
  padding:3rem;
  
}
.child{
    overflow-y:auto;
    flex: 20 0 40%; /* explanation below */
	 margin: 10px; 
	height: 115px;	
	border:solid 2px black;
	/* border-radius:10px; */
	padding: 20px; 
    width: 200px;
	height: 150px; 
	background:lightgray;
   
}
.child button:hover{
	transform: skew(-20deg);
	border-left:2px;
	background:white;
}

        .bottom-content{
           grid-column: 1/3;

           display: flex;
           flex-direction: column;
           border-top:solid 2px black;
           padding-top:20px;
	       margin: 20px 30px 0px 30px;
       }
    
       .services-header-img{
           margin:180px 0 0 0;
       }
       ul 
        {
        margin-top:20px;
        }

        li{
            display:list-item;
            list-style-type:square;
            list-style-position: inside;
        }
    
}
    
   

/* ------WIDTH-SIZE Min 800PX------- */

@media (min-width:800px)
{
   
    .container{
        width:800px;
        height: auto;
    }
  header > div{
    display: flex;
    visibility: visible;
    position: relative;
    margin: 0 auto;
    top: 2px;
    z-index: 10000;
    justify-content: center;
    width:800px;   
   
  }

  .nav_bar{

    flex-direction: row;
    top:50px;
    background: none;
    border: none;
    justify-content: center;
   align-items: center;
   justify-content: center;
  position: absolute;
  margin-left:100px;
  width: 800px;

  }

  #top-border{
      border: none;
      border-bottom: none;
  }
  .nav_bar > img {
    visibility: hidden;  
   }
  .nav_bar > a{
    border: none; 
   }

  .header-container{
    margin:3rem 0 0 0;
  }
   .header-container > img{
       display: none;
       
   }

   .middle-img{
     width:800px;
   }

   .header-container button{
    height: 2rem;
    width:100px;
}

.services-header-img{
    margin:0;
}


}
/* ------WIDTH-SIZE Min 1440px------- */

@media (min-width:1440px){
    
    .container{
        width:1440px;
        height:auto
    }
    .nav_bar{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        border:solid 1px grey;
        position: fixed;
        top: 0;
        width:1440px;
        background: linear-gradient(to right,#b92b27,darkgray);
        right: 0;
        left: -3.7em;
    }
    header > div{
        display: none;
     }
     .nav_bar > img {
        visibility: visible;  
       }

      .header-container >img{
        grid-column: 2/3;
         display:flex; 
         margin-top:-30px;
    }
  .middle-img{
      width:1440px;
  }
    .header{
        font-size: 40pt;
    }
    .bottom-content3{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top:20px;
        margin: 20px 30px 0px 30px;
    }
}

