.content {
  padding: 2rem;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  background-color: #f2f2f2;
  display: flex;

  &__col {
    padding: 0 2rem;
    width: 33%;

    & h2 {
      font-size: 1.4rem;
    }
  }
}