.information {
  display: flex;
  margin: 3rem auto;
  max-width: 80rem;
  padding: 2rem 0;
  border-top: 2px solid grey;
  line-height: 1.5;
  align-content: space-around;

  &__features {
    padding: 0 2rem;
    width: 50%;
  }

  &__about {
    width: 50%;
    padding-right: 1rem;
  }

  &__title {
    font-weight: bold;
    font-size: 1.6rem;
  }
}

.middle {
  width: 100%;
  height: fit-content;
  max-width: 80rem;
  display: block;
  margin: 0 auto 2rem;

  &__img {
    background-image: url("../../img/mid-page-accent.jpg");
    width: 100%;
    height: 9rem;
    display: block;
    margin: 0 auto;
  }
}

.information-end {
  margin: 0 auto;
  display: flex;
  max-width: 80rem;

  &__services {
    padding: 2rem;
    width: 33.3%;
  }

  &__vision {
    padding: 2rem;
    width: 33.3%;
  }

  &__product {
    padding: 2rem;
    width: 33.3%;
  }

}