/* Use your own code or past solution for Great Idea Web Page CSS here! */

.container {
	width: 900px;
	margin: 0 auto;
}
* {
	box-sizing: border-box;
}

.menubar nav {
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menubar nav a {
	margin: 0 20px;
	color: black;
}
.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}
.middle-img {
	width: 100%;
}
.content1 {
	font-size: 30px;
	text-align: center;
}
button {
	margin: 15px;
	font-size: 20px;
}
.round-content {
	display: flex;
	flex-flow: row;
	padding: 5px;
}

.bottom-content {
	display: flex;
	flex-flow: row;
}

.last-footer {
	text-align: center;
	font-size: 15px;
}
@media (max-width: 900px) {
}
