/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
html {
  width: 47rem;
  height: auto;
  margin: auto;
  display: flex;
}
.flex-wrapper {
    display: flex;
    flex-wrap: row wrap;
}
.top-nav {
  margin: 5px;
  padding: 10px; 
}
nav .navigation {
  padding-bottom: 45px;
  display: flex;
  flex-wrap: row wrap;
  width: 100%;
}
.left-top {
	font-family: bangers;
  font-size: 66px;
	justify-content: center;
}
.circular-img {
	width: 50%;
	height: 50%;
}
.button {
    font-size: 20px;
    margin: 36px; 
    text-align: center;
    background: transparent;
    border: solid black 2px;
    font-family: sans-serif;
    padding:0.2rem;
    margin: 4rem;
    margin-top: 1rem;
}
.middle-img {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 97%;
}
.content1 {
	padding-top: 20px;
    width: 49%;
    padding: 5px;
}
.top-content {
	padding: 20px;
	border-bottom: 2px solid black;
} 
.bottom-content {
	border-bottom: 2px solid black;
	padding-bottom: 25px;
}
.content2 {
    width: 32%;
    padding: 5px;
}
.contact {
	padding-top: 40px;
	text-align: left
}
.copyright {
	margin: 35px;
    text-align: center;
    padding-bottom: 20px;
}
@media(max-width: 800px) {
    html {
      width: auto;
    }
    .navigation :nth-child(1) {order:2 }
    .navigation :nth-child(2) {order:3 }
    .navigation :nth-child(3) {order:4 }
    .navigation :nth-child(4) {order:5 }
    .navigation :nth-child(5) {order:6 }
    .navigation :nth-child(6) {order:7 }
    .navigation :nth-child(7) {order:1 }
    .logo {
      width: 100%;
    }
    .top-content {
      justify-content: center;
    }
    .top.circular-img {
      display:none;
    }
    
  }
  @media(max-width: 500px) {
    html {
      width: auto;
    }
    .flex-wrapper {
        display: flex;        
    }
    .navigation {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      padding-top: 3rem;
      }
    .navigation :nth-child(1) {order:2 }
    .navigation :nth-child(2) {order:3 }
    .navigation :nth-child(3) {order:4 }
    .navigation :nth-child(4) {order:5 }
    .navigation :nth-child(5) {order:6 }
    .navigation :nth-child(6) {order:7 }
    .navigation :nth-child(7) {order:1 }
    .first-content {
      flex-direction: column;
    }
    .top-nav {
        color:grey;
        border-bottom: 0.5px solid black;
        margin: 0 auto;
      }
    .content1 {
      padding: 20px;
      width: 99%;
    }
    .bottom-content {
      flex-direction: column;
    }
    .content2 {
      padding: 20px;
      width: 99%;
    }
  }
@media (min-width:801px){
  nav:last-child {
  margin-left: 30px;
  }
  .top .left-top p{
    padding: 20px;    
  }
}
