/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 20;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  border: 20px solid rgb(0, 255, 13);
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding: 20px 0;
}

/* Your code starts here! */

* {
  color: black;
}

/* **********MOBILE-FIRST VIEW***********/

.headernav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50%;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: yellow;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

.headernav a {
  border-top: 1px solid black;
  padding: 20px 0;
  text-decoration: none;
}

.headernav a:hover {
  color: white;
  background-color: seagreen;
}

.center {
  display: flex;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-family: "Bangers", cursive;
  font-weight: bold;
  align-items: center;
}

.center-motto-button h1 {
  width: 100%;
  font-size: 3em;
}

.center-motto-button a {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
}

.center-motto-button a:hover {
  background-color: blueviolet;
  color: white;
}

.center-img {
  display: none;
}

.container-content {
  padding: 5%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10%;
}

.content-features-about {
  display: flex;
  flex-direction: column;
}

.content-service-product-vison {
  display: flex;
  flex-direction: column;
}

.content-img {
  width: 100%;
}

.contact-section {
  padding: 5%;
}

.contact-section h3 {
  margin-top: 10%;
  padding: 0;
}

.copyright {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

/* .contact-section h3 {
  text-align: center;
} */

/* **********TABLET VIEW ********** */

@media (min-width: 500px) {
  .container {
    padding: 5%;
  }

  .headernav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: lightblue;
  }

  .logo {
    width: 25%;
    padding: 0;
  }

  .logo img {
    width: 100%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0;
    border-top: 0;
  }

  .headernav a {
    border-top: 0;
    padding: 20px 0;
    text-decoration: none;
  }

  .headernav a:hover {
    color: seagreen;
    background-color: white;
  }

  .center-motto-button h1 {
    font-size: 3em;
  }

  .center-motto-button a {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
  }

  .container-innovation img {
    display: none;
  }

  .container-content {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5% 0 5% 0;
  }

  .content-features-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content-features-about > * {
    width: 48%;
    margin-bottom: 5%;
  }

  /* .features {
    width: 48%;
  }

  .about {
    width: 48%;
  } */

  .content-img {
    width: 100%;
    padding: 5% 0 5% 0;
  }

  .content-service-product-vison {
    display: flex;
    flex-direction: row;
    /* padding: 5%; */

    justify-content: space-between;
  }

  .content-service-product-vison > * {
    width: 32%;
  }

  .contact-section {
    padding: 0%;
  }

  .contact-section h3 {
    margin-top: 5%;
    padding: 0;
  }

  .copyright {
    text-align: center;
    margin-top: 5%;
  }
}

/* *********DESKTOP VIEW********* */

@media (min-width: 1000px) {
  .container {
    padding: 0 5%;
  }

  .headernav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: lightblue;
  }

  .headernav a:hover {
    color: lightcoral;
    background-color: lightblue;
  }

  .logo {
    margin: 0 0 0 5%;
  }

  .center-img {
    display: block;
    width: 50%;
  }

  .center-img img {
    width: 75%;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
  }

  .center-motto-button {
    width: 50%;
  }

  .center-motto-button h1 {
    font-size: 7em;
  }

  .center-motto-button a {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 1px solid black;
    padding: 2% 10%;
    text-decoration: none;
  }
}
