/*Responsive design for mobile first*/


@media(max-width:600px){
    .main_container {
        background: white;
    
    }

    .banner_img{
        display: none;
    }


.container header nav a{

    margin-bottom: 20px;
}
}

/* Responsive design with tablet, iPad*/

@media(min-width:768px){
.main_container {
    background: red;

}

.container header nav a{

margin-bottom: 20px;
}
}

/*Responsive design for Desktop*/

@media(min-width: 1024px){
.main_container {
    background: gold;

}

.container header nav a{

    margin-bottom: 20px;

    }
}
.navbar ul li a{
    flex-direction: row;

}