/*Responsive design for mobile first*/


@media(max-width:600px){
    nav {
        width: 100%;
        height: 400px;
        padding: 0;
        margin: 5px auto;
        /*tbrl*/
        position: relative;
        top: 72px;
    }
    .main_container {
        background: white;
    
    }
    nav ul {
        display: inline-block;
        width: 100%;

    }

    nav li {
        border-top: 1px solid black;

    }

    nav a {
        border-radius: 0px;
        line-height: 60px;
        font-size: 19px;
        color: gray;


        
    }

    
    .banner_img{
        display: none;
    }

.main_container .navbar ul li a{
        flex-direction: column;
       
       }

.container header nav a{

    margin-bottom: 20px;
    }
}

/* Responsive design with tablet, iPad*/

@media(min-width:768px){
.main_container {
    background: red;

}

.container header nav a{

margin-bottom: 20px;
}
}

/*Responsive design for Desktop*/

@media(min-width: 1024px){
.main_container {
    background: gold;

}

.container header nav a{

    margin-bottom: 20px;

    }
}
