/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.entire {
	display: flex;
	justify-content: center;
}
.whole {
	display:flex;
	flex-direction:column;
	align-items: center;
	width:880px;
}

.head {
    display:flex;
    justify-content: center;
}

.hd1 {
	position:fixed;
	display: flex;
	background-color: white;
	justify-content:space-between;
	align-content:center;
	align-items:center;
    padding:30px;
	width: 950px;
	height:30px;
}

a {
	font-size: 15pt;
	text-align: left;
	color: gray;
	width: 125px;
	text-decoration: none;
}

.logo {
	width: 125px;
}

.part1 {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 880px;
	height:500px;
}

.demand {
	/* background-color:*/ darkblue;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .first {
	  display:flex;
	  justify-content:space-between;
	  align-items: center;
	  height: 150px;
  }

  .sec1 {
	display:flex;
	flex-direction:column;
	width:400px;
}

.sec2 {
	display:flex;
	flex-direction:column;
	width:400px;
}

.second {
	display:flex;
	justify-content:space-between;
	align-items: center;
	height: 150px;
}

.sec3 {
	display:flex;
	flex-direction:column;
}

.sec4 {
	display:flex;
	flex-direction:column;
}

.sec5 {
	display:flex;
	flex-direction:column;
}

  h1 {
	  font-size: 30pt;
  }
  
  .start {
	  display:flex;
	  justify-content: center;
	  align-items: center;
	  font-size:20pt;
	  border: 2px solid black;
	  color: gray;
	  width: 150px;
	  height: 50px;
  }
  
  .services-header-img {
    margin-top:30px;
    margin-bottom:30px;
}

  .center {
	width: 400px;
	height: 400px;

  }

h2 {
	font-size: 20px;
	text-align: left;
	font-family: "Condiment";
}

.middle-img {
	display:flex;
	width:880px;
	margin-top:20px;
	margin-bottom:50px;
	justify-content: flex-end;
}

p {
	font-size:15pt;
	text-align:left;
}

.copy {
	font-size:8pt;
	position:relative;
	text-align:center;
	display: block;
	margin: 20px 0px 0px 0px;
	width: 880px;
}

.p2 {
	width:250px;
	font-size:15pt;
	text-align:left;
}

.middle {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 880px;
}

.line1 {
	display:flex;
	background-color: black;
	height:2px;
	width:880px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.line2 {
	display:flex;
	background-color: black;
	height:2px;
	width:880px;
	margin-top: 50px;
	margin-bottom:20px;

}

footer {
	display:flex;
	flex-direction:column;
	text-align: left;
	justify-content: center;
	height: 175px;
}

/* Media Queries */

@media (max-width: 800px) {

	.copy {
		width:775px;
		display: flex;
		justify-content:center;
	}

	.line1 {
		width: 800px;
	}

	.line2 {
		margin-top: 70px;
		width: 800px;
	}
	.middle {
		/* background-color:*/ yellow;
		width: 800px;
		align-items: center;
	}


	.middle-img {
		display:flex;
		width:800px;
		margin-top:20px;
		margin-bottom:70px;
		justify-content: center;
	}
	.first {
		width: 725px;
		/* background-color:*/ red;
		justify-content: space-between;
	}
	.sec1 {
		width:300px;
	}

	.sec2 {
		width:300px;
	}

	p {
		font-size: 12pt;
		line-height: 1.25;
	}

	.p2 {
		width:175px;
		font-size:12pt;
		text-align:left;
	}

	.second {
		width: 725px;
		/* background-color:*/ red;
		justify-content: space-between;	}

	.hd1 {
		position: static;
		width: 775px;
	}

  .center {
	  display:none;

  }

  footer {
	  width: 725px;
	  line-height: 1.25;
  }

}

@media (max-width: 500px) {

	.head {
		flex-direction: column;
		justify-content: center;
	}
	a {
		font-size: 20pt;
		padding: 20px 0px;
		text-align: center;
		align-items: center;
		border-top: 2px solid gray;
		color: gray;
		width: 500px;
		height:200px;
	}

	.logo {
		width: 200px;
	}
	.aone { order:1}
	.atwo { order:1}
	.athree { order:1}
	.afour { order:1}
	.afive { order:1}
	.asix { order:1; border-bottom: 2px solid gray;
	}
	.aseven { order: 0; width: 500px;}

	h1 {
		font-size:50pt;
	}

	h2 {
		font-size:25pt;
		align-items: flex-start;
	}

	.hd1 {
		 flex-direction: column;
		align-items: center;
		height: 200px;
	}

	.part1 {
		/* background-color:*/ lightblue;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 350px;
		width: 500px;
		height:300px;
	}

	.middle {
		width:500px;
		align-items: center;
		/* background-color:*/ green;

	}
	p {
		line-height: 1.5;
		font-size: 15pt;
		width:400px;
	}
	.first {
		flex-direction: column;
		height: 450px;
		width: 400px;
		align-items:flex-start;
		/* background-color:*/ yellow;
	}

	.second {
		flex-direction: column;
		height: 700px;
		width: 400px;
		align-items:flex-start;
		/* background-color:*/ orange;
	}

	.p2 {
		line-height: 1.5;
		font-size: 15pt;
		width:400px;
	}

	.line1 {
		width: 500px;

	}
	.line2 {
		width: 500px;
		margin-top: 20px;
	}

	footer {
		width: 400px;
		height: 325px;
		align-items: flex-start;
		/* background-color:*/ gray;
		margin-left: 0px;

	}

	address {
		/* background-color:*/ springgreen;
		line-height: 1.5;
		font-size: 15pt;
		width:400px;

	}

	.middle-img {
		width: 500px;
		margin: 40px 0px 40px 0px;
	}

	.copy {
		margin-top: 100px;
		font-size: 12px;
		/* background-color:*/ tan;
		align-self: center;
	}
}