

/* navigation */
div.container {
    font-family: "Gill Sans", sans-serif;
    margin: 0 auto;
    padding: 20px 3em;
    text-align: center;
  }
  
  div.container a {
    font-family: "Gill Sans", sans-serif;
    color: rgb(59, 58, 58);
    text-decoration: none;
    font: 20;
    margin: 0px 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  
  .navigation__h1 {
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    color: #2c2c2c;
    margin: 0px;
    padding: 0px;
  }