/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* MOBILE STYLING */


	.container {
		width: 80%;
		margin: 0 auto;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin-top: 10px;
		background: none;
	}

	.nav-items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		order: 2;
		
	}

	.nav-items:first-child{
		border-top: 1px solid black;
		padding: 0px 0px;
	}

	.nav-item {
		text-decoration: none;
		color: rgba(175, 172, 172, 0.8);
		padding: 20px 20px;
		border-bottom: 1px solid black;
		width: 100%;
		text-align: center;
	}

	.logo {
		order: 1;
	}

	.showcase {
		padding-top: 10px;
		margin-bottom: 15px;
	}

	.showcase button {
		background: none;
		border: 1px solid black;
		padding: 5px 60px;
		vertical-align: top;
		width: 60%;
	
	}
	.snippet {
		display: none;
	}

	.innovation {
		width: 100%;
		text-align: center;
	}
	.innovation h1 {
		font-size: 4em;
	}

	main {
		padding-top: 25px;
	}
	main img {
		width: 100%;
		padding-bottom: 20px;
	}

	.main-content { 
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 3%;
	}

	
	

	 h3 {
		text-align: center;
		font-size: 22px;
		padding-top: 10px;
	}

	.triplets {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		
	}

	.main-content2 {
		padding: 3%;
	}


	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}
	
	.contact .phone {
		padding: 20px 0px;
	
	}
	
	footer p {
		text-align: center;
		vertical-align: top;
		padding-bottom: 100px;
		font-family: 'Saira Stencil One', cursive;
	}

	


/* MOBILE STYLING */




/* MEDIA QUERIES */


/* TABLET STYLING */

@media(min-width: 767px) {

	.container {
		width: 100%;
	}

	h3 {
		text-align: initial;
	}

	nav {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		background: none;
	}

	.nav-items {
		
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		order: 2;
		
	}

	.nav-items:first-child{
		border: none;
	}

	.nav-item {
		text-decoration: none;
		padding: 30px 40px;
		border: none;
		vertical-align: middle;
		color: rgba(175, 172, 172, 0.8);
		text-shadow: 1px 1px 1px #111;
		font-weight: bold;
		transition: color 0.3s ease-in, text-shadow 0.3s ease-in;
	}

	.logo {
		order: 1;
		
	}

	.showcase {
		padding-top: 0px;
	}
	.snippet {
		display: none;
	}

	.innovation {
		width: 100%;
		text-align: center;
	}

	button {
		border: 2px solid black;
		font-weight: bold;
		font-size: 15px;
		padding: 15px 0px;
		width: 30%;
		margin-top: 3%;
	}

	.main-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3% 3% 3% 0%;
	}

	.main-content section {
		width: 50%;
		padding: 3%;

	}

	 h3 {
		
		font-size: 22px;
		padding-top: 10px;
	}

	.triplets {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border-bottom: 1px solid black;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}
	.main-content2 {
		padding: 3%;
		width: 33%;
	}

	.contact {
		align-items: flex-start;
		padding-left: 10px;
	}

	
}

/* DESKTOP STYLING */

@media(min-width: 1000px) {
	.container {
		width: 90%;
		margin: 0 auto;
		
	}
	
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	nav {
		width: 90%;
		position: fixed;
		background-color: rgb(2, 127, 209);
		z-index: 3;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 38px;
	}
	.nav-items {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		width: 100%;
		order: 1;
	
	}
	
	.nav-item {
		text-decoration: none;
		padding: 30px 50px;
		vertical-align: middle;
		color: rgba(175, 172, 172, 0.8);
		text-shadow: 1px 1px 1px #111;
		font-weight: bold;
		transition: color 0.3s ease-in, text-shadow 0.3s ease-in;
		/*I spent too long trying to use vertical-align: center because I though I knew what I was doing*/
	}
	
	.nav-item:hover {
		color: #111;
		text-shadow: 2px 2px 1px rgb(175, 172, 172);
	}

	.logo {
		order: 2;
	}
	
	
	.showcase {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border-bottom: 1px solid black;
		margin-bottom: 20px;
		padding-bottom: 50px;
		padding-top: 100px;
		
	}
	
	.snippet {
		display: inline-block;
		margin-left: 150px;
		width: 35%;
		padding-top: 25px;
		
	}
	
	.innovation {
		
		font-size: 2.25rem;
		width: 40%;	
		text-align: center;
		z-index: 1;
		vertical-align: top;
		padding-top: 5%;
	}
	
	.showcase button {
		background: none;
		border: 1px solid black;
		padding: 5px 60px;
		vertical-align: top;
	
	}
	/*SHOWCASE STYLING ENDS*/
	
	/*MAIN CONTENT STYLING BEGINS*/
	
	main {
		padding-top: 50px;
	}

	
	
	.main-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3% 3% 3% 0%;
	}

	.main-content section {
		width: 50%;

	}
	
	
	main img {
		width: 100%;
		padding-bottom: 20px;
	}
	
	
	
	main p {
		font-size: 20px;
		font-family: 'Exo', sans-serif;
	}
	
	.triplets {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border-bottom: 1px solid black;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}

	.main-content2 {
		padding: 3%;
		width: 33%;
	}
	
	.contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}
	
	.contact .phone {
		padding: 20px 0px;
	
	}
	
	footer p {
		text-align: center;
		vertical-align: top;
		padding-bottom: 100px;
		font-family: 'Saira Stencil One', cursive;
	}
}

/* DESKTOP STYLING */